[2019-08-30 02:03] twant opened #143 "Test for memory leaks prior to a11y publication"

[2019-08-30 02:04] twant commented on #102
Documented in a comment in #112, closing this one to consolidate.

[2019-08-30 02:04] #102 closed

[2019-08-30 02:34] twant commented on #103
@pixelzoom and @zepumph I just renamed both files. Closing for now, but please let me know if you'd like to reopen and review these changes!

[2019-08-30 02:34] #103 closed

[2019-08-30 02:38] twant commented on #112
@zepumph I believe we're very close to being design complete, and I'm nearing the end of my checklist. There are a few things outstanding:

1. I'd love some guidance on assertion expectations (see #141)
2. I'd like to revisit our discussion of whether MolarityAlertManager should be a singleton (I added a TODO in MolarityScreenView).
3. I reviewed the organization, readability, and maintainability

[2019-08-30 02:39] twant commented on #100
@zepumph do you want to keep this one open to discuss BeakerNode's descriptionContent specifically, or are you okay with discussing with the rest of the changed files in #112?

[2019-08-30 02:47] twant commented on #86
@emily-phet @Matthew-phet seems like we've gotten to some resolution on this one. I'm going to close it for now, but please let me know if you'd like to keep it open/discuss further!

[2019-08-30 02:47] #86 closed

[2019-08-30 02:51] twant commented on #67
@pixelzoom @zepumph it seems that the describers have evolved quite a bit since we left off with this issue. Okay with you if we close this issue and review the describer structure in #112?

[2019-08-30 02:52] #135 closed

[2019-08-30 02:57] #137 closed

[2019-08-30 20:43] jbphet commented on #142
Reverting back to the original string key is the best approach.  I just checked, and there are 45 translations for the existing string key, all of which would break (meaning that this particular string would no longer be translated in their version of the sim) if the sim is published with a different string key.  Changing the value is fine.

Yes, that's okay with me.  The translation utility was a

[2019-09-07 21:14] twant commented on #143
Both tests were conducted over a period of 4 hours, taking snapshots every 15 - 60 mins.

PhET-iO:
![Memory Leak Test PhET-iO](https://user-images.githubusercontent.com/12232821/64480282-9d311b80-d179-11e9-8a33-28115fa7017e.png)

Regular sim:
![Memory Leak Test ](https://user-images.githubusercontent.com/12232821/64480283-9d311b80-d179-11e9-99da-cdf44cee889b.png)

@zepumph can we discuss these res

[2019-09-07 21:26] twant commented on #142
Thanks for your advice, @jbphet! I've reverted back to the original key, but kept the value as the changed one.

[2019-09-07 21:27] twant commented on #139
See #142. Closing to consolidate down to one issue tracking memory tests.

[2019-09-07 21:27] #139 closed

[2019-09-09 17:40] zepumph opened #144 "Code review of ConcentrationDescriber"
As part of https://github.com/phetsims/molarity/issues/141, I was looking in ConcentrationDescriber and had a few thoughts. In general things are looking very good though.

- [x] `isNewSaturationState` has documentation that says "getter for . . .". I would say the normal pattern for this would be to change the private var name to prefix with an underscore, like `this._saturationStateChanged`. The

[2019-09-09 17:41] zepumph commented on #141
I would say that in general this should be something that shouldn't be overthought. In general, I think that there should always be an assertion whenever you are making an assumption about something. In sim specific code you don't have to spend too much time asserting the types of function parameters, but in general common code we do that a lot (see the top of `Utterance.js`).

  - [ ]  This is co

[2019-09-09 17:43] zepumph commented on #67
The only checkbox I see left in this issue is:

I don't see this anymore. Ready to close.

[2019-09-09 17:43] #67 closed

[2019-09-09 18:13] zepumph commented on #100
I think it is fine to review right here since it is already set up for us.

- [ ] In general it is idiomatic for `tandem` to be the last arg save `options` if it is there.

- [ ] please mark `MolarityBeakerDescriptionNode.updateBeakerSummaryString` with visibility.

- [ ] I think that `MolarityBeakerDescriptionNode` would be a little more approachable with some jsdoc for each method. Maybe even if

[2019-09-09 18:17] zepumph commented on #107
I think @terracoda's above recommendations for capitalization sound nice. Over to @twant to implement and/or discuss further with designers.

[2019-09-09 18:19] zepumph commented on #107
As for a general tool. So far @terracoda has been very good at designing around the need for this in most cases (@twant let me know if you disagree). If we come across a place in the future where a Type deserves creation, we should handle it there. Removing from meeting.

[2019-09-09 18:25] zepumph commented on #143
Yes a discussion sounds good. First off, these numbers all look great, and we probably don't need to do anything else here. But for learning's sake:

Did you by change save the snapshot data, or look into comparing earlier snapshots to later ones? I only mention because it can be very valuable to compare from a fuzz of about 5 minutes, to one a while later, to see what junk has been accumulated. F

[2019-09-09 18:30] zepumph commented on #112
* regarding the review of molarity_a11y_view.html, it is a generated file and the code does not need to be looked at. The same with the development html file.

Let's discuss next meeting.

This section is definitely challenging, and I think I learn better how to do this each time I code review. For now I would consider it good enough unless you have specific questions. Remember that I think the pl

[2019-09-17 23:28] twant commented on #143
TODO: fuzz for 15 min and compare snapshots 2 & 3 (not on startup) to look for anything piling up.

[2019-09-23 01:41] twant commented on #144
Just pushed changes, assigning back over for review!

[2019-09-23 03:12] twant commented on #141
@zepumph Thanks so much for these comments! They were very helpful. I've done a pass through to add a few more assertions & clean up the old ones. Assigning back over to you for review!

[2019-09-23 03:36] twant commented on #143
@zepumph Interesting development in this...when I went back to more closely examine the heap snapshots, I got very different test results. I took snapshots every 5 min, and each time it went up by at least 10MB. I've saved a couple of the snapshots.

I'm currently taking a look to see if I can figure out, but wanted to flag that we should probably discuss on Tuesday!

[2019-09-23 03:40] twant commented on #143
Update: two largest (and growing) sections are closure and HTMLDocument.

[2019-09-23 23:55] zepumph commented on #144
I compared master to the commit before yours, and everything looks really nice. Thanks!

[2019-09-24 00:01] zepumph commented on #141
This is totally acceptable, and I have written many assertions like this. If we are really splitting hairs I would say an A+ assertion here would tell me why it is expected to be greater that zero. Though this may be a bad example because it is a bit obvious. For example, in one assertion asserts greater than zero, but then in `solidsToIndex` it asserts greater than or equal to zero. Why is that?

[2019-09-24 22:16] twant commented on #117
- [ ] Need to remove double period on initial alert

- [ ] Make the final value before saturation give a region alert at the end of it (for 2c)

[2019-09-24 22:19] twant commented on #127
@Matthew-phet and I checked this one today and agreed it's fixed. Closing now!

[2019-09-24 22:19] #127 closed

[2019-09-24 23:23] #100 closed

[2019-09-24 23:25] twant commented on #100
@zepumph and I discussed and decided to close -- naive implementation seems preferable in this instance since performance isn't horribly affected and it's much cleaner.

[2019-09-24 23:42] #79 closed

[2019-09-25 00:01] twant commented on #143
False alarm, was looking at the a11y view in this process! Just tested again and saw no evidence of a memory leak. Closing!

[2019-09-25 00:01] #143 closed

[2019-09-25 00:01] twant commented on #144
Thanks @zepumph! Closing this issue.

[2019-09-25 00:01] #144 closed

[2019-09-25 00:22] twant commented on #141
Thanks for these comments @zepumph! Just pushed changes -- closing this issue.

[2019-09-25 00:22] #141 closed

[2019-09-25 00:31] twant commented on #112
@zepumph Okay, I think I've checked all of these items! Closing for now, but let me know if you'd like me to reopen!

[2019-09-25 00:31] #112 closed

[2019-09-25 00:47] #142 closed

[2019-09-25 00:52] twant commented on #57
I think it makes sense to close it, given the more specific issues. closing now!

[2019-09-25 00:52] #57 closed

[2019-09-25 01:56] twant commented on #107
I think this one slipped through the cracks for me -- so sorry about that! I just implemented this capitalization structure for the aria-valuetext (I think the other items have already been fixed in other issues). Assigning over to you @terracoda to double check if you have a chance along with the once-over you and @Matthew-phet are doing with Molarity pre-dev testing!

[2019-09-25 16:03] terracoda commented on #107
Ok, on it!

[2019-09-25 17:34] terracoda commented on #107
@twant, I played with Molarity quite a bit in the A11y View and I do not see any capitalization issues. I do see a couple of punctuation issues (alerts and 1 in pdom) and spacing issues (in alerts only). I will make new issues for those items.

[2019-09-25 17:34] terracoda commented on #107
Closing this one :-)

[2019-09-25 17:34] #107 closed

[2019-09-25 19:14] terracoda opened #145 "Remove period on list item for Chemical formula"
This is an easy one @twant. I just notice that there is a lonely period on the list of items describing the solution in the beaker. Please remove the period at the end the line item describing the chemical formula.

And I trust you can verify this issue yourself. so go ahead and close when you are done.

![remove-period](https://user-images.githubusercontent.com/1902116/65631953-2ab29f00-dfb3-11e9

[2019-09-25 19:21] terracoda opened #146 "Add space in context responses (alert strings) that include the amount of solids."
@twant, we need a space in the alert strings that add the amount of solids to increased or decreasing concentration.
![Screen Shot 2019-09-25 at 3 25 26 PM](https://user-images.githubusercontent.com/1902116/65632528-76b21380-dfb4-11e9-83a6-9ad0469ab1d9.png)

[2019-09-25 19:55] terracoda opened #147 "Add/remove period to end of context responses (alertive phrases) describing concentration level"
@twant, I found an alert (context response) describing concetration level that does not end in a period.

The Context Responses indicating a Solute Change are fine - in fact, they are great!
The Context Responses once a solution is saturated are also fine.
It's just when the solution becomes not saturated and the alert ends with the concentraion level description.

You'll want to make sure you onl

[2019-09-25 20:04] terracoda opened #148 "Tweak so "a couple of solids" appear in context responses (alerts)"
@Matthew-phet, I played with Molarity today and I think everything is looking pretty good.

I noticed that "a couple of solids" rarely or never shows up while increasing concentration, though it shows up while decreasing concentration.

I'm wondering if you want to tweak that, so "a couple of solids" is announced at least once when that state is true.

In screenshot below, it goes from solids appe

[2019-09-25 20:08] terracoda commented on #148
I'm thinking you might want something like this:
- Solution saturated. Beyond max concentration solids appear.
- More solute, more solids. Still saturated with a couple of solids.
- More solute, more solids. (a couple of times)
- More solute, more solids. Still saturated with a few of solids.
- More solute, more solids. (a few times)
- More solute, more solids. Still saturated with some solids.
-

[2019-09-25 20:38] terracoda opened #149 "Check readout ranges. I found one that is not correct (Pink Solution)"
@Matthew-phet, I just happened to notice that one readout range was incorrect. Notice in the screen shot that the solution is saturated at 4.350 molar, but in the PDOM content (see Voice Over's black box), the readout range is 0 to 4.4

This might be a rounding error. Could you check with @twant if the readout ranges are calculated or fixed strings.

Also, could check the other read out ranges to

[2019-09-25 20:39] terracoda commented on #149
Please assign to @twant to fix any corrects to the read out ranges.

[2019-09-26 15:34] terracoda commented on #149
@Matthew-phet and @twant, I went ahead and checked the read out ranges as it was easy. There are 2 more read outs that need correcting: Gold(III) chloride and Potassium chromate.

@twant, I have a feeling these are rounding errors because I think I asked you to make the read out range to a single decimal assuming everything was like Drink mix (0 to 5.0). However, now I realize  that this was naive

[2019-09-26 18:35] terracoda commented on #149
FYI, I ran this by @emily-phet and she likes it.

[2019-09-26 19:03] Matthew-phet commented on #148
yeah this seems like a good change! Should i assign taylor or do we need to add more info first?

[2019-09-26 22:42] Matthew-phet commented on #148
@twant We mainly want to see a "More solute, more solids. Still saturated with a couple of solids." to come right after "Solution saturated. Beyond max concentration solids appear."

[2019-09-26 23:06] terracoda commented on #148
@twant, of course the description of the amount of solids has to be true in the model. I'm not sure if any of the solutions can go from "not saturated" to "saturated with a few solids" in one key press. If that's possible that's fine. We just don't want the range for "a couple of solids" to be skipped.

[2019-09-27 17:20] terracoda opened #150 "Seems like there are two steps on for "No solute" sometimes"
@twant and @Matthew-phet, it is pretty consistent (but not 100%) that I get "no solute" and ("0.000 moles") twice at the end of the Solute Amount slider.

The first time, I get "no solute" when hitting the bottom of the Solute Amount slider, the slider value (object response) is followed by the alert (context response) "Less solute, less concentrated. Solution has zero concentration."

Then I pres

[2019-09-27 17:22] terracoda commented on #150
And while you are in there, please add a period to the end of the alert, "No solute. Solution is pure water."

[2019-09-27 23:24] twant commented on #145
Thanks for catching this, @terracoda! Fixed and closing.

[2019-09-27 23:24] #145 closed

[2019-09-27 23:26] twant commented on #146
Fixed and closing!

[2019-09-27 23:26] #146 closed

[2019-09-27 23:34] twant commented on #147
@terracoda thanks! Fixed and double checked the other punctuation you pointed out to make sure none of it changed. I'm going to go ahead and close this one, since it's fairly small, but please let me know if you'd prefer to reopen and review!

[2019-09-27 23:49] twant commented on #150
@terracoda looks like this was a rounding error. Thanks for catching it! I believe it's been fixed. Assigning back over to you for review.

[2019-09-28 00:43] terracoda commented on #150
Awesome! I had a quick review with the A11y view. It looks good to me!

[2019-09-28 00:43] terracoda commented on #150
Is it safe to close, @twant?

[2019-09-28 00:44] terracoda commented on #150
It's assigned to me, so I'll assume I can close ;-)

[2019-09-28 00:44] #150 closed

[2019-09-28 00:48] terracoda commented on #149
@twant, @Matthew-phet and I discussed, too.
@Matthew-phet agreed that the new wording with the values to 3 decimal place like the examples I suggested in https://github.com/phetsims/molarity/issues/149#issuecomment-535560953 should work well. Handing over to you :-)

[2019-09-28 01:11] twant commented on #149
@terracoda @Matthew-phet, I've changed it to now always go to three decimal places for the concentration readout bullet point. Let me know what you think!

[2019-09-28 01:49] twant commented on #117
@Matthew-phet and @terracoda I fixed this one so that "solution has max concentration" appears just before saturation in the alerts. However, for some combinations volume and solute amount, increasing solute amount increases concentration by increments larger than .001 (even with the shift key down), so it skips this single-value region. Is this okay with you?

[2019-09-28 03:54] twant commented on #148
@terracoda @Matthew-phet just pushed an update. It definitely varies quite a bit with the solute chosen, but I do think it's better than before. Let me know what you think!

[2019-09-28 23:51] terracoda commented on #149
@twant, the numbers look great.
We also wanted a small wording change (see bolded text):
- "concentration readout range **for this solution** 0 to {{3.350}} molar"

Once "for this solution" is added, you can close this issue.
Nice work!

Apologies I didn't bold this in the comment in https://github.com/phetsims/molarity/issues/149#issuecomment-535560953

[2019-09-30 15:38] terracoda commented on #117
@twant, I think this is fixed.
The word "concentration" is in the alert when solution values i checked.
The ranges for the described levels seem to work well when solution values is not checked.

@twant, about skipping the single-value region "has max concentration", I think that's the nature of the beast in the approximated described regions. This also happens with values checked. The actual satu

[2019-09-30 15:38] #117 closed

[2019-09-30 15:44] terracoda commented on #148
@twant, I see "a couple of solids" show up now in both directions. Thanks!
I agree that all this is quite tricky as the molar and solids vary so much between different solutions.

@Matthew-phet, please have a look and close if this alerts are good from your perspective.

[2019-09-30 15:59] terracoda commented on #147
@twant, from master using phetmarks I just noticed two periods in the alert fires when I change  the selected solute with Solution Values checked. I am not sure if this showed up after the original issue was posted, so re-opening just in case.

![Screen Shot 2019-09-30 at 1 19 11 PM](https://user-images.githubusercontent.com/1902116/65894838-02e18380-e385-11e9-8253-95c4ec88d271.png)

And also when

[2019-09-30 18:08] Matthew-phet commented on #148
Looks good to me! Closing.

[2019-09-30 18:08] #148 closed

[2019-10-01 22:30] twant commented on #147
@terracoda @Matthew-phet pushed an update! Assigning back over to you to double check.

[2019-10-01 22:32] twant commented on #149
@terracoda @Matthew-phet, apologies, missed that wording change the first time around. I've pushed this change as well! Back over to you.

[2019-10-04 20:26] terracoda commented on #149
Looks great. Thanks @twant and no worries, closing!

[2019-10-04 20:27] #149 closed

[2019-10-04 20:32] terracoda commented on #147
You got it! Thanks!

[2019-10-04 20:32] #147 closed

[2019-10-09 16:27] KatieWoe opened #151 "Resize Pointer Areas"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/436.  Quite minor, but may still be worth looking at if it is a quick fix.
Since the wording of the "Show Values" checkbox changed to "Solution Values" the red touch area cuts through the end of the word.  In practice this is unlikely to cause problems, but document

[2019-10-09 16:30] KatieWoe commented on #151
Note: Could be more noticeable with longer translations

[2019-10-09 16:44] KatieWoe opened #152 "Selection Box drops down and to the right"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/436.  Not present in published version.
When stringTest is long, the box for selecting different solutes drops down instead of up, meaning several options are cut off.  It also starts on the right near the button, so the reset button is covered up, instead of being

[2019-10-09 17:00] KatieWoe opened #153 "Sim doesn't load on IE"
For https://github.com/phetsims/QA/issues/436. Not in published version.
The sim does not load past a small fraction of the loading bar in IE.  This console error appears:
![error](https://user-images.githubusercontent.com/41024075/66503179-f85d7300-ea83-11e9-92b6-a1d063cf2732.png)

[2019-10-09 19:37] KatieWoe opened #154 "Screen reader does not give alert for molarity when saturated"
For https://github.com/phetsims/QA/issues/436
Noted on Win 10 Firefox NVDA.  When the concentration changes before saturation, an alert gives the new concentration.  However, there does not seem to be an alert for what the saturated molarity is.  This means the user may not be aware of that max number without going back to the scene description.  It can be an even bigger issue if you switch into a

[2019-10-09 19:39] KatieWoe commented on #154
Never mind, it is read out at first, but it could be missed, and the first situation still applies.

[2019-10-09 19:51] loganbraywork opened #155 "[JAWS, Chrome] - alerts do not work in Fullscreen mode"
Report a Problem
Instructions: Copy the form below and paste it into an email addressed to phethelp@colorado.edu. Please fill out the form as accurately and concisely as you can.

**Test device**
Windows 10 laptop
**Operating System**
Windows 10 JAWS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/436

When in fullscreen mode, JAWS fails to read out full descri

[2019-10-09 20:24] KatieWoe opened #156 "Solute options not read if moving fast"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/436
**Steps to reproduce**
For https://github.com/phetsims/QA/issues/436
Found with NVDA on firefox. When you hold the arrow key down to scroll through the solute options quickly, the screen reader stops reading and does not read the end option.  If you go one at a

[2019-10-09 22:05] loganbraywork opened #157 "When in full screen mode, VO states "audio is playing in a background tab" after any sound is made"
**Test device**
Hooke (Mac)
**Operating System**
10.15
**Browser**
Safari 13.02
**Problem description**
From https://github.com/phetsims/QA/issues/436

In full screen mode, using VO on safari, any sound which is made (such as adjusting the sliders) will cause VO to state that "audio is playing in a background tab" before resuming normal function. Having tested both the published version of Resista

[2019-10-10 16:53] KatieWoe opened #158 "Unable to select new solute with VO on mobile"
For https://github.com/phetsims/QA/issues/436.
When using VO on iPad OS, you are able to select the solute option box and scroll through options, but double clicking on your option just reads it out again, and does not select it.

[2019-10-10 17:06] KatieWoe commented on #158
iOS 12 does not seem to have this trouble.  I did also notice that it was a bit difficult to transition focus from the popup box to the solute options, instead of to the next or previous object.

[2019-10-11 20:25] terracoda commented on #158
Thanks @KatieWoe, this was also a problem in my interview on Monday!
We obviously have not instrumented this interaction for mobile yet.

@twant could you check with @jessegreenberg as a first step?
My guess is that we need:
- double tap to open the list box
- swipe up and down to go through the items
- double tap to select and close item with focus

I am not sure of a cancel gesture  - to close w

[2019-10-14 00:23] twant commented on #153
Tried replacing `.includes` with `.indexOf` to see if this fixes the IE issues. Will create a new dev version and test on IE soon!

[2019-10-14 01:10] twant commented on #152
Okay, I just tested a new dev version on IE and it loads with that change made. @KatieWoe this is my first time going through QA processes, so I'm not quite sure how to proceed -- apologies! Would you like me to assign these back over to you as they are resolved, or create a new dev test issue once all of the issues are resolved?

[2019-10-14 01:10] twant commented on #152
The updated dev version with this change implemented is: https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.24/phet/molarity_en_phet.html

[2019-10-14 01:21] twant commented on #153
Okay, I just tested a new dev version on IE and it loads with that change made. @KatieWoe this is my first time going through QA processes, so I'm not quite sure how to proceed -- apologies! Would you like me to assign these back over to you as they are resolved, or create a new dev test issue once all of the issues are resolved?

The dev version with this fix is 1.5.24

[2019-10-14 01:22] twant commented on #152
I went back through all of the recent dev versions and it looks like this started happening between dev versions 1.5.1 and 1.5.2. Going to investigate each of the commits between those versions now.

[2019-10-14 01:35] twant commented on #152
When I turn off accessibility, this error still occurs. There are a handful of commits between dev versions 1.5.1 and 1.5.2 that seem like they may have an effect on combobox behavior:

https://github.com/phetsims/molarity/commit/eb14a8fcfb4600ac600b281bb4e8251af5abebd3

[2019-10-14 03:35] twant commented on #152
By changing the font size of the "Solute" label on SoluteComboBox to 12 instead of 22, I can avoid this behavior.

Also, after I open and close the SoluteComboBox 3 times, it opens normally with long strings on the 4th time.

[2019-10-14 04:10] twant commented on #151
Just adjusted the pointer area to make it a little larger. @zepumph I just added 5 to the touchArea width of the checkbox -- can you verify that this isn't likely to break anything else?

[2019-10-14 04:13] twant commented on #155
@terracoda @jessegreenberg @zepumph have any of you encountered this error with JAWS? I don't have JAWS installed on my machine currently.

[2019-10-14 14:29] KatieWoe commented on #153
Generally for dev tests we check them as they are fixed on master, and for rc tests they are put in the "issues to check" section of the next rc test and we test them then.

[2019-10-14 14:31] KatieWoe commented on #153
However, getting master to open in IE can be a bit of a pain, so a separate dev version could be useful in this case. It would be up to your discretion and what kind of testing would be more useful for you.

[2019-10-14 18:44] terracoda commented on #155
@twant, I am not familiar with this bug.

@loganbraywork did you first Tab to a slider and then use the Arrows keys to adjust one of the them?

[2019-10-14 19:12] KatieWoe commented on #151
Just thought to check with longer strings, and it seems to be a problem there.  Does occur in published version.
![problemdouble](https://user-images.githubusercontent.com/41024075/66776698-37286a00-ee84-11e9-8f42-7fac075771c2.png)

[2019-10-14 19:30] jessegreenberg commented on #155
I confirmed the issue. But it isn't specific to sliders, no alerts are working when in full screen mode.

[2019-10-14 19:34] jessegreenberg commented on #155
This does not happen with NVDA in Firefox, but it does happen with NVDA in Chrome. This indicates it is a Chrome bug.

[2019-10-14 19:50] jessegreenberg commented on #155
I made a quick test to learn more. In the following HTML, this bug does not happen:
<details>
<summary>Working Fullscreen Alerts</summary>
[code]
</details>

But in this HTML the bug does happen:
<details>
<summary>Broken fullscreen alerts</summary
[code]
</details>

So if the aria-live element is outside of the fullscreen element (which is the case in our sims), Chrome does not send the aria-live

[2019-10-14 19:51] jessegreenberg commented on #155
Adding a11y-dev meeting label to review proposed fix or consider others.

[2019-10-14 20:16] jessegreenberg commented on #158
I am seeing this with iPadOS VO too. VoiceOver has the correct bounds for the items, but we aren't receiving any events when we try to click items. Im going to test how iOS VoiceOver handles role="options" in another example.

[2019-10-14 21:12] jessegreenberg commented on #158
Alright, fixed in the above commit. @KatieWoe thanks for pointing this out! Can you please verify it is fixed?

@terracoda said

Thats almost exactly how it behaves! It behaves just like https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html
 - Double tap to open the list box
 - Swipe right and left to up and down through the items
 - Swipe up and down to read the label

[2019-10-14 21:18] jessegreenberg commented on #157
I am actually not able to reproduce this with macOS 10.14.5 VoiceOver. Ill check system settings. Then Ill try and see if this happens in 10.15. @twant are you able to see this on your mac?

[2019-10-14 21:21] jessegreenberg commented on #157
I enabled audio ducking in case that mattered, but I still wasn't seeing this. Im downloading 10.15 now.

[2019-10-14 21:22] KatieWoe commented on #158
Looks good on iPadOS 13.  Still having trouble on iOS 12 trying to transition focus from the popup box to the solute options, instead of to the next or previous object

[2019-10-14 21:42] ariel-phet commented on #151
@KatieWoe @twant @zepumph the idea of the touch area extending is to increase usability. I think using the size of the English string is a totally reasonable proxy. We want a situation where if a user "aims" for the check box, they basically get the checkbox. I don't think it is at all necessary to extend the pointer area dynamically based on the locale or such.

I think this issue can be closed.

[2019-10-14 21:44] #151 closed

[2019-10-14 21:49] jessegreenberg commented on #158
Over Slack, @KatieWoe explained that on iOS 12 opening the combo box does not move focus into the list box. And once open, you cannot swipe left/right to move focus into the listbox. The only way for the listbox to work is to tap inside of it once it is open. Then swiping through items works as expected.

@KatieWoe do you see this problem on iOS 12 with the listbox in this example?
https://www.w3.

[2019-10-14 21:56] jessegreenberg commented on #156
Thanks for pointing out @KatieWoe. I tried this out on NVDA and Firefox on my machine and saw the same behavior.

I also see the same behavior with this example from W3 outside of PhET https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html

While good to know, I don't think this is worth any debugging time. Especially since subsequent arrow key presses work just fine. B

[2019-10-14 22:17] KatieWoe commented on #158
It doesn't, but it also doesn't close the menu when you make a selection

[2019-10-14 22:20] jessegreenberg commented on #158
Thanks @KatieWoe - then it is in some way related to our implementation. So now the question is whether or not it is worth fixing a bug that is not on the latest iPadOS/iOS. Would be good to discuss with @terracoda and @emily-phet.

[2019-10-14 22:48] zepumph commented on #155
I think the best way forward is to move UtteranceQueue to its own repo, and move aria live tags into scenery's display.

To me it makes sense that Interactive descriptions as a whole are controlled by scenery, as they together create this feature. I worry that, after encountering this, if we do nothing, there will be more cases that come up in which we want to more closely control aria-live and th

[2019-10-14 22:56] zepumph commented on #155
I also think it is important for @emily-phet to weight in on this, as it would be a fair bit of time to move over UtteranceQueue and make sure proper initialization was happening in scenery/Display.js

[2019-10-14 23:00] jessegreenberg commented on #157
Now that I have installed macOS 10.15 this is happening every time a sound plays in full screen mode. I am not sure why this is happening, but the way VoiceOver says "background tab" makes me think it could be fore similar reasons to the bug in #155. If we decide to work on this it would be helpful to see if @jbphet has any thoughts.

@emily-phet @terracoda do you think it is important for this is

[2019-10-14 23:07] jessegreenberg commented on #157
It doesn't look like we have any <audio> elements driving sound. I thought maybe that placement of such an element could be the cause of this (like in https://github.com/phetsims/molarity/issues/155). My new theory is that sounds are getting played from the scripts outside of the fullscreen scenery/Display div. Maybe we could test this in a simple app outside of a PhET sim.

[2019-10-14 23:14] emily-phet commented on #155
@terracoda I'd love to hear your thoughts on this before I join in.

[2019-10-14 23:17] emily-phet commented on #158
@KatieWoe Does PhET focus only on supporting the latest iOS for iPad/app etc?

[2019-10-15 14:44] KatieWoe commented on #158
Yes.  However, I was still doing a bit of testing since the upgrade happened recently and the new OS has a few problems being worked out.  I'll leave it up to you if you think any iOS 12 problems need to be addressed, but I figured it was at least good to be aware of them for a bit.

[2019-10-15 16:02] terracoda opened #159 "Sound design: Concentration & Precipate Sounds"
Last week I had 2 remote sessions to assess the design (description and sound) for Molarity one with a consultant and one with a university student.

I need to add some more details from notes and recordings, but both participants had some trouble with the sound representing concentration. In addition, @KatieWoe in QA had concerns about the the changing direction of tones after saturation happens

[2019-10-15 16:14] jbphet commented on #157
Seems viable to me.  There is something odd about how full screen an audio interact, and I've had to add some handlers for resuming the audio context when exiting full screen mode, see for instance https://github.com/phetsims/vibe/issues/38.  Maybe mobile Safari actually considers the full screen to somehow be a different tab.

That's about all I can add for now.  If this becomes a priority, we ma

[2019-10-15 19:04] jessegreenberg commented on #158
I forgot, I have an old iPad2, ill see if it is happening in iOS 9.

[2019-10-15 19:19] jessegreenberg commented on #155
Discussed with @zepumph this afternoon - we definitely think that moving utteranceQueue to its own repo and integrating with scenery is worthwhile and the right thing to do. @zepumph also talked with @terracoda and @terracoda was on board with this, but thought we should be cautious about regressions.

We recommend fixing this in time for the molarity publication, but not patching into the gravity

[2019-10-15 19:35] terracoda commented on #156
@twant, @KatieWoe and @jessegreenberg I feel this not a bug, but just the nature of moving fast with a screen reader.

The user doesn't get everything when they move fast.

[2019-10-15 20:00] terracoda commented on #155
Yes, @zepumph and I discussed this.
@jessegreenberg and I have had conversations before about where the aria-live content should go.
In my original design thinking, alert content (mainly context responses) were not ever to be accessible in the PDOM because the alert content can get stale quickly.

@jessegreenberg has done some things to ensure that the stale alerts are not accidentally accessed up

[2019-10-15 21:08] jessegreenberg commented on #158
We talked about this in a meeting with @emily-phet and @zepumph - we are going to continue to focus on the latest iOS/Safari with the latest screen reader. This means that we will not fix the iOS12 issue mentioned. But it is good to be aware of, thanks for pointing it out @KatieWoe.

[2019-10-15 21:08] #158 closed

[2019-10-15 21:19] jessegreenberg commented on #157
Thanks @jbphet, sounds good.

I am also interested in going into this a bit further, would be good to know why it doesn't happen all the time.

[2019-10-15 21:21] jessegreenberg commented on #157
Discussed with @emily-phet and @zepumph, we are going to do a few tests to try to isolate the cause. If it seems like a bug with Safari/VO we can submit a bug report. If it still seems to be caused by our implementation we will decide then whether or not to spend time fixing.

[2019-10-15 21:53] emily-phet commented on #159
Notes from investigating this further:
- From Feb. 12 2019 notes (I added emphasis):

- From Feb. 19 2019
Looks like the first working version of the [sim with sound](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.99/phet-io-wrapper-sonification/molarity/html/molarity-sonification.html?accessibility) had high to low concentration mapped as low to high tone (as it is curr

[2019-10-15 22:33] twant commented on #156
@terracoda @jessegreenberg Thanks for the advice! It sounds like this one is okay to close for now, but please let me know if I should reopen it for any reason, @KatieWoe!

[2019-10-15 22:33] #156 closed

[2019-10-15 22:45] terracoda commented on #159
I'm really curious about what a reverse mapping would sound like, so I am glad we are exploring this. I don't think I was deeply involved in earlier versions. The options do not sound familiar.

[2019-10-16 00:46] zepumph commented on #152
@twant and I dove into this for a while. We mainly looked at ComboBox.moveListBox.

We were unable to pin down anything concrete. You can reproduce this with stringTest=long in Molarity and in Beers Law lab. Furthermore, the longer the string the further away it gets from the button. When you then apply a `maxWidth` to the text for the combo box items, this problem goes away (so long as the string

[2019-10-16 14:06] terracoda commented on #155
And I was able to reproduce the error on MacOs with Safari and Voice Over. It's a serious problem to have no alerts. Moving the aria-live content to a place where they will work in full screen mode, makes sense to me.

[2019-10-16 15:42] jbphet commented on #159
Sounds like a plan.  Our point of reference for the mapping against which we will compare the changes should be the [current dev version 1.5.0-dev.24](https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.24/phet/molarity_en_phet.html). I'll invert the mapping for concentration and leave the mapping for precipitate as is and will publish a new dev version for us to review.

@twant and @zepumph - I

[2019-10-16 19:27] jbphet commented on #159
I made a quick revision to see if this gets us in the ballpark.  @terracoda, @Ashton-Morris, and @emily-phet - please try out this revision and see if you think this is an improvement?  If so, we can hammer out the details of exactly what range of pitches should be used at the next sound design meeting.

https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.25/phet/molarity_en_phet.html

[2019-10-17 11:59] terracoda commented on #158
@jessegreenberg, I am fine with the decision to support the latest software, but I just want to verify that it is nota focus management issue in our implementation.

For example are we moving focus correctly from the button to the selected item upon opening of the the list of options?

[2019-10-17 16:59] terracoda commented on #159
@jbphet, I hear a deep bong sound (sometimes and somewhat consistently) at the bottom of the Solute Amount Slider. Is that intended to indicate water? Is that a bug?

[2019-10-17 21:58] jessegreenberg commented on #158
Yes, definitely worth checking @terracoda. It isn't obvious what the issue is, but we are trying to move focus the way you describe. When opening the menu with another platform we support you can see the focus move from button to list item.

[2019-10-19 00:50] terracoda commented on #158
I posted some discussion points about focus on group widgets to in https://github.com/phetsims/scenery/issues/1005

There seems to be some subtleties about "programatic focus" and "selection" and this resource may also be relevant https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_focus_vs_selection

[2019-10-19 01:13] twant commented on #153
@KatieWoe thanks for the advice! At this point, it would be really helpful if you're able to test the most recent dev version (1.5.0-dev.24) to verify that this issue is fixed. I tested in a virtual machine, but I don't have IE installed on my machine and I want to be sure it's fixed. Thanks for your help with this!

[2019-10-19 01:16] twant commented on #154
@emily-phet, @Matthew-phet, and @terracoda, I seem to remember that it was a design choice to not read out the maximum concentration number for any of the solutes. Is this correct, or should I begin investigating ways to read out the maximum concentration number with the saturation alerts?

[2019-10-19 19:02] terracoda commented on #154
@Matthew-phet. @emily-phet , we do have some nuance around the saturation point.

And I think we discussed (more than once) if max concentration is the same as saturated or not. The sim, however, only says "Saturated" once at least one solid appears which is "beyond max concentration."

@KatieWoe is correct that is difficult to get the value for the "saturation point" from the alerts. I think we h

[2019-10-19 19:05] terracoda commented on #154
I think we should we should add the value only on the Solution Values checked mode.

[2019-10-19 19:41] terracoda opened #160 "Add darker/lighter to context responses (i.e. alerts)"
There was feedback from consultant that we should be describing that the solution gets darker and light. In addition there is a learning goal noted in the teaching tips that students should be able to associate "concentration" and the shade of the solution.

@Matthew-phet and I discussed the need to add "darker"/"lighter" parameters gracefully into the alerts we already have. Over to @Matthew-phet

[2019-10-19 19:52] terracoda commented on #159
@jbphet, I think the low-ish sound I am getting at the bottom of the Solute Slider is the same as "no solute - water sound" on the Solution Volume slider once the solute is zero. And since I only hear the sound after I hit zero solute, I do think it is a bug.

I am using Safari and Firefox on MasOS 10.13.6

[2019-10-19 19:57] terracoda commented on #159
Other than that bug, I think the sounds are sounding quite nice with the inverted mapping. We don't have the nice low water bong sound anymore, but the high tone at water is still quite distinct. And I do like the transition from not saturated to saturated and back again.

[2019-10-21 13:04] Matthew-phet commented on #160
@terracoda is this kind of what we were thinking?
While changing solute amount provide progress:
- {{More}} solute, {{more}} concentrated. Color darkens.
- {{Less}} solute, {{less}} concentrated. Color lightens.

While changing solution amount provide progress:
- {{More}} solution, {{less}} concentrated. Color lightens.
- {{Less}} solution,{{more}} concentrated. Color darkens.

[2019-10-21 16:42] KatieWoe commented on #153
Checked the mentioned dev version on Win 10 IE and it seemed to open just fine.

[2019-10-21 22:01] jbphet commented on #159
@terracoda - good catch, I'd missed the case where the solution volume was changing with no solute present.  That case should be fixed now, the latest is in https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.26/phet/molarity_en_phet.html.

[2019-10-22 18:34] Matthew-phet commented on #154
Yeah I think this is a good idea!

[2019-10-22 18:40] Matthew-phet commented on #160
While changing solute amount provide progress:

{{More}} solute, {{more}} concentrated. Solution darkens.
{{Less}} solute, {{less}} concentrated. Solution lightens.
While changing solution amount provide progress:

{{More}} solution, {{less}} concentrated. Solution lightens.
{{Less}} solution,{{more}} concentrated. Solution darkens.

[2019-10-22 19:44] terracoda commented on #154
Ok, excellent. Another option for the alert in Solution Values check mode is to replace "Beyond max concentration" parameter with the actual concentration in molar. For example:
- "Solution saturated. Concentration {{0.500}} molar, solids appear."
- Still saturated {{amountOfSolids}} at 0.500 molar.
- "Still saturated at 0.500 molar." OR "Still saturated."
We just need to decide if we need to tell

[2019-10-22 20:29] jbphet commented on #159
We reviewed this in the 10/22/2019 sound design meeting.  For the most part, we like this new mapping, though the deep "bonk" sound that was previously used for no solute is missed.  We should increase the volume of the new "tink" sound that indicates no solute.

We're going to move forward with the reversed mapping of the concentration sound, i.e. lower pitched bonks means more solute.

[2019-10-22 21:29] lmulhall-phet commented on #158
When testing to check if this issue is fixed, make sure that the solute menu will close normally, e.g. if you click the reset all button, the solute menu should close. (It doesn't in 1.5.0-dev.23.)

[2019-10-23 13:08] terracoda commented on #154
@twant, either I or @Matthew-phet will get to this asap, apologies for the delay.

[2019-10-23 13:12] terracoda commented on #154
@terracoda or @Matthew-phet to need list out 3-5:
- [ ] example alerts around saturation point with Solution Values not checked
- [ ] example alerts around saturation point with Solution Values not checked
Examples will include at least one mention of max concentration (solution values not checked) and at least one mention of max molar value with solution values checked

[2019-10-23 20:34] jbphet commented on #159
I've done that now.  We should review and decide if we are done with this set of changes.

[2019-10-23 23:20] terracoda commented on #159
I miss the bonk, too, but I think the mapping is better, in general.

[2019-10-24 14:47] jessegreenberg commented on #157
This may also be resolved automatically after utteranceQueue is isolated and used by scenery.

[2019-10-26 17:12] twant commented on #153
Thanks, @KatieWoe! Closing this issue.

[2019-10-26 17:12] #153 closed

[2019-10-29 17:37] terracoda commented on #154
q=ksp

[2019-10-29 17:46] arouinfar opened #161 "Update Teacher Tips"
#154 revealed that it's possible for a solution to be at the saturation point without the "Saturated" text or any visible precipitate. Discussion is still ongoing about how this will be addressed.

Regardless of the outcome, it would be good to add something about this to the Teacher Tips, but I'll wait until #154 is concluded to make any changes.

[2019-10-30 12:53] terracoda commented on #159
@Matthew-phet, please have a listen to the remapped concentration sound. Lin is in https://github.com/phetsims/molarity/issues/159#issuecomment-544726601

Would love to hear your comments.

[2019-10-30 16:21] KatieWoe opened #162 "CT api mismatches"
[code]

[2019-10-30 23:45] zepumph commented on #162
Looks like some items like the keyboard help button was removed from the PhET-iO api in https://github.com/phetsims/molarity/commit/10d869de8692cf5915b01c1c9322b469de05e997

It was accidentally brought back in https://github.com/phetsims/molarity/commit/5bb8cf6ac76d72a6b31c8670054d28dbf0d2ddac (fine with me), but I'm curious how/why it was removed. @twant can you comment? Is it alright to proceed

[2019-10-31 01:13] twant commented on #162
I'm frankly surprised to see this, and makes me want to double check my changelists to make sure I'm not accidentally committing files. I haven't consciously changed the PhET-iO api for Molarity at all in the last day. Apologies for this! Is it fixable with `grunt update`? Let me know how I can fix this!

[2019-10-31 16:19] zepumph commented on #162
I was fixed using `grunt update`. No further steps needed here from me! Ready to close?

[2019-10-31 17:31] terracoda commented on #154
We discussed this issue on Tuesday. Max concentration is the same as saturation.

[2019-10-31 17:38] emily-phet commented on #160
@Matthew-phet and @terracoda
What about (for the examples above) just stating "Darker" or "Lighter" instead of "Solution darkens" or "solution lightens". If that doesn't seem good, how about "Solution darker" and "Solution lighter"?

[2019-10-31 17:54] terracoda commented on #160
I am adding my comments from slack (Oct 22) just so we have them.

[2019-10-31 19:38] terracoda commented on #154
The case mentioned above no longer exists.
@terracoda to re test in morning.

[2019-10-31 21:09] emily-phet commented on #160
Just a note on solution colors after saturation - it should stay the same. No more solute is going "into" solution to create a color change.

[2019-11-01 00:08] terracoda commented on #160
@Matthew-phet, I think I prefer an adjective to a verb in this case. Are amenable to swapping out lightens/darkens with lighter/darker?

[2019-11-01 20:58] terracoda commented on #160
@Matthew-phet, @twant, and @emily-phet, this issue is very related to #154, and I don't think the examples provided here cover all affected strings.

@twant, @Matthew-phet, @emily-phet could you all please see the the examples I have worked out in the design document for Changing Solute.

I am going to work through Changing Solution Volume, too. It should be very similar, but mapped in the opposit

[2019-11-01 21:09] terracoda commented on #154
This screen shot is from https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.26/phet/molarity_a11y_view.html

I can still get "no longer saturated" and "max concentration" or "2.2.50 molar", so I feel we still have an issue for the descriptions.
![issue-154-saturation-point](https://user-images.githubusercontent.com/1902116/68056619-908ef680-fcd6-11e9-8d31-21a9c02cc98c.png)

I'm working on strin

[2019-11-01 21:20] terracoda opened #163 "Double check: Don't hear solute name when changing solute with solution values not checked"
I hear hear
- some drink, Solute Amount, slider
- some drink mix
- a bunch of drink mix
but I do not hear the solute name when Solution Values is not checked.

For example, I hear:
- 0.500 moles, Solute Amount, slider
- 0.550 moles
- 0.600 moles

I just want to make sure this is intentional. It might very well be because the solute names are very long.

The design doc, though, has the solute name

[2019-11-01 21:29] terracoda commented on #160
Please see [Context Responses](https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.ijildz9ngmpl) section in the design doc

[2019-11-02 23:51] twant commented on #162
Yep! Closing. Thanks for fixing that!

[2019-11-02 23:51] #162 closed

[2019-11-03 03:39] twant commented on #160
@terracoda and @Matthew-phet just pushed some updates with the lighter/darker descriptions. Let me know what you think!

[2019-11-03 15:09] terracoda commented on #160
@twant, this is looking good. I'm working through examples with Solution Values checked in the design doc.

[2019-11-04 15:03] terracoda opened #164 "Heard "no solute" with "low concentration""
@twant, with Gold (III) chloride and the shift key I hit the region "no solute" before the end of the slider.
<img width="876" alt="no-solute-region-too-soon" src="https://user-images.githubusercontent.com/1902116/68130951-d1655600-fef6-11e9-9865-82a1c0843f25.png">

This might be a rounding error; just making note of it as something to check as soon as we finish #160 and #154 .

[2019-11-04 16:32] Matthew-phet commented on #163
Yeah I think it was intentional. Do we want to add the name to the values or keep it as is?

[2019-11-04 16:43] terracoda commented on #163
Let's keep it as is, for now, and quickly review again after #160 and #154 are addressed.

[2019-11-04 16:43] terracoda commented on #163
I'll mark on hold for now.

[2019-11-04 18:15] terracoda commented on #154
@terracoda and @Matthew-phet with clean up examples in design doc before Wednesday.

[2019-11-06 02:19] twant opened #165 "Code review: a11y work"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed. Delete the Table of Contents section, since the links will be incorrect.*

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️

## GitHub Issues

The following standard GitHub issues should exist. If any of these issues is missing, or ha

[2019-11-06 02:22] twant commented on #165
@zepumph thanks in advance for taking the time to review! I think the complete list of changed files is below:

New files:
- [] ConcentrationDescriber
- [] SoluteAmountDescriber
- [] SoluteDescriber
- [] VolumeDescriber
- [] MolarityKeyboardHelpContent
- [] MolarityScreenSummaryNode
- [] MolarityA11yStrings
- [] MolarityAlertManager

Modified files:
- [] BeakerNode
- [] MolarityScreenView
- [] Sol

[2019-11-07 21:23] zepumph commented on #155
https://github.com/phetsims/utterance-queue/issues/1 should have fixed this. Marking ready for review.

[2019-11-08 20:53] terracoda commented on #160
@twant, all the phrases for darker/lighter in both modes are now updated in the design doc.
See [Context Responses section](https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.ijildz9ngmpl)

I also added a table to try and summarize everything, but I think I have only captures Solute Amount changes. See [Table: Values describing Shade](https://docs.google

[2019-11-08 20:57] terracoda commented on #154
@twant everything is updated in the design document.

Please [Context Response section](https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.ijildz9ngmpl), and for a brief view of the Solute Amount alerts, there is a table that summarizes things here: [Table: Values describing Shade](https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0m

[2019-11-10 17:49] terracoda commented on #160
@twant, apologies, I forgot to change the labels and assign to you on Friday. I don't see any commits since Friday to this issue, so assigning to you now.

[2019-11-11 00:37] twant commented on #160
@terracoda @Matthew-phet implemented what's in the design doc for these responses so far. Still working on modifying the "no solute" alerts.

[2019-11-11 00:46] twant commented on #160
@terracoda @Matthew-phet I just implemented the change in no solute alerts from the design doc. Not sure if that change belongs with this issue, but if it does, I'm assigning over to you both now for review of that change, as well as review of all of the lighter/darker context alerts.

[2019-11-11 03:15] twant commented on #154
@terracoda @Matthew-phet I believe I've implemented what you described in the design doc. I had a few questions:

1. The solute changed alerts still have "beyond max concentration" descriptions when you've chosen a solute that is saturated. The alert is something like "Orange solution, saturated with a couple of solids, beyond max concentration". Do you want to change that language as well?

2. If

[2019-11-11 05:14] twant commented on #164
Just tested this again with a few different settings (and all of the solutes) and wasn't able to reproduce. Have you seen this since, @terracoda?

[2019-11-11 10:11] terracoda commented on #164
@twant, maybe it was a glitch, or maybe it's been fixed by some other thing.
I also haven't heard this happen since I posted the issue.
Let's close for now and re-open if it pops up again.

[2019-11-11 10:11] #164 closed

[2019-11-11 14:43] terracoda commented on #154
@twant, good catch on number 1. When Solutions are saturated should be:
**Solution Values not checked:**
- "Orange solution, saturated with a couple of solids {{at max concentration}}."
**Solution Values checked:**
- "Orange solution, saturated with a couple of solids {{at 0.500 molar}}."

When newly chosen solution is not saturated:
- Pink solution, {{low concentration}}.
- Red solution, {{concen

[2019-11-11 14:54] terracoda commented on #154
@twant for number 2, the logic needs to check for the first response describes after max concentration or the first response after there is no longer any solids present and include “No longer saturated” the first time “lighter” appears.
**Two cases:**
1.  First response after “At max concentration” or At {{maxMolarValue}}
2. If “max concentration” not hit, then first response after solids are no l

[2019-11-11 14:59] terracoda commented on #154
@Matthew-phet, what are your thoughts on this matter? Can you also address @twant 's questions in https://github.com/phetsims/molarity/issues/154#issuecomment-552276786

[2019-11-11 14:59] twant commented on #154
@terracoda this does make sense. My main question is that in the model, "at max concentration" occurs when the sim does not label the solution "saturated". So, it seems strange to have the "no longer saturated" alert happen after the max concentration alert, when technically (according to the visuals on the screen and the model) it was already not saturated at max concentration.

[2019-11-11 15:18] terracoda commented on #154
Right, you are correct. The new design is supposed to account for this case. The phrase should never include "No longer saturated" if the step lands directly on max concentration.

But then on the next step where solids are not present (i.e., the first appearance of "lighter"), the phrase should say "No longer saturation".

[2019-11-11 15:21] terracoda commented on #154
@twant, is there a gap in the model? What is the model capable of?

[2019-11-11 16:41] Matthew-phet commented on #154
For @twant first question @terracoda solution/answer looks good to me. As for question two i am not quite sure what the problem is @terracoda answer here makes sense to me unless there is something i'm missing

[2019-11-11 16:44] twant commented on #154
@terracoda @Matthew-phet I think I see what you're saying, and I don't think there's a gap in the model. It's just that when we're thinking of a binary "saturated" or "not saturated" set of states, the "At max concentration" is counted as "not saturated". But I think it makes sense to implement as you're saying, if we're no longer thinking of this as a binary, and are instead thinking of "max conc

[2019-11-11 19:00] terracoda commented on #154
@twant, yes, we need  a third state because the visual design does not account for the fact that the sim can be technically saturated at max concentration when no precipitate showing. If we don't want to change the visual simulation, then we need this third state that says "At max concentration. Solution darkest."

It's the best I could come up with without saying "saturated".

[2019-11-11 19:09] twant commented on #154
@terracoda that makes sense, and apologies for the confusion -- I know you explained this to me on the phone! I'll work on implementing the "no longer saturated" alert to come right after "at max concentration" if we do hit that alert precisely.

[2019-11-12 01:55] terracoda commented on #154
Awesome! And no need to apologize :-)

[2019-11-12 03:16] terracoda commented on #154
@twant, maybe it is possible to think of the three states as:
- not saturated -> no precipitate and not in equilibrium at max concentration
- equilibrium -> at max concentration
- saturated -> precipitate showing

I am hoping that is what users will deduce from the descriptions.

[2019-11-13 22:15] KatieWoe commented on #155
This seems to be fixed in https://github.com/phetsims/QA/issues/455

[2019-11-13 22:38] Matthew-phet commented on #159
Yup! mapping sounds good to me

[2019-11-13 23:10] jbphet commented on #159
Sounds like we have a quorum.  @emily-phet also said via Slack, "[L]ooks like everyone is a go with the new concentration sound."  I'll close this issue and we will move forward with the publication when the rest of the sim is ready.

[2019-11-13 23:10] #159 closed

[2019-11-14 21:29] zepumph commented on #155
Hooray! Thanks.

[2019-11-14 23:43] twant commented on #154
Still need to implement:
- At {{2.250}} molar. Solution {{darkest}}. -- solution values checked language for max concentration.
- {{No longer saturated}} at {{2.249}} molar. Solution {{lighter}} -- solution values checked (only when we skip "At max concentration"

[2019-11-15 00:09] zepumph commented on #157
Pinging @jessegreenberg, as utteranceQueue is now in scenery. Perhaps you want to see what steps are now needed?

[2019-11-15 00:12] jessegreenberg commented on #157
Nice, it sounds like we can test to see if this has been fixed. If not then we are back to the drawing board.

[2019-11-15 00:27] jessegreenberg commented on #157
I just tested in Safari and saw that this is indeed fixed. I observed the problem again in https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.23/phet/molarity_en_phet.html and saw that it is not happening anymore on master. Thanks for working on this @zepumph and @twant! I think this can be closed.

[2019-11-15 00:27] #157 closed

[2019-11-15 01:51] zepumph commented on #152
@twant and I worked on this again today. We didn't solve this generally, but we did find that removing the maxWidth from the list box parent solved this issue, and because of the scaling done on the list box by the combo box, we don't need the maxWidth for i18n (at least it looked good with `stringTest=long`). We are going to commit, close, and then look for a general solution over in https://gith

[2019-11-15 02:18] zepumph commented on #152
Reopening, @pixelzoom said over in https://github.com/phetsims/sun/issues/542#issuecomment-554178434:

Let's keep this open so that we don't think of that patch as "ready for production"

[2019-11-15 02:24] pixelzoom commented on #152
How is reopening this issue going to keep someone from picking this patch up in a release branch?

[2019-11-15 15:50] terracoda commented on #154
@twant, @Matthew-phet and I had a quick chat this morning. The table with Shades is all updated for Solute Amount and Solution Volume and for all the situations with Solution Values not checked and Solution Values checked.

All green text is implemented and working.
The black text responses is what is currently showing in ally view.
The red text with yellow highlights is what we would like impleme

[2019-11-15 16:09] terracoda commented on #160
@twant, the responses (alerts) for no solute are working great!

Ad I noted over in #154, the Table containing the shade descriptions is all updated. It now includes example responses for both Solute Amount changes and Solution Volume changes, and it has also includes progress responses with and without region changes.

Everything seems to be working great with Solution Values NOT checked.

With S

[2019-11-15 16:09] #160 closed

[2019-11-15 17:36] pixelzoom commented on #152
OK, now that I'm not trying to look at this on my phone, I see that phetsims/molarity@244e74e is specific to MolarityScreenView, so won't affect other sims.

[2019-11-15 18:24] pixelzoom commented on #152
https://github.com/phetsims/molarity/commit/244e74e is an appropriate fix, see https://github.com/phetsims/sun/issues/542#issuecomment-554472309.  @zepumph feel free to re-close.

[2019-11-15 18:56] pixelzoom commented on #152
@zepumph should this be closed or labels "fixed-awaiting-deploy"?  It should probably be tested by QA.

[2019-11-15 21:16] zepumph commented on #152
Right, QA, when you get to this, you can close if all is good.

[2019-11-15 21:20] KatieWoe commented on #152
Seems fixed on master

[2019-11-15 21:20] #152 closed

[2019-11-17 15:25] twant commented on #154
@terracoda @Matthew-phet I just pushed changes that I think address all of the changes (including the updates to the alerts when the solute is changed). Let me know what you think!

[2019-11-19 20:09] terracoda commented on #154
@twant, awesome work! I verified all the responses in the table! I think we can close this issue! Hip. Hip. Horaay!

[2019-11-19 20:15] terracoda commented on #163
I double checked with @Matthew-phet and we decided at some point to not include the name of the solute when Solution Values checkbox is checked.

Closing.

[2019-11-19 20:15] #163 closed

[2019-11-19 20:30] terracoda opened #166 "Change H3 "Solution Controls" to "Beaker Solution Controls""
Apologies @twant for not making an issue for this minor change a long time ago. @Matthew-phet and I discussed making this change after the last interview but forgot to make an issue for it.

In our last interview with this sim, the user had a great exploration of the sim, but only read the full description of the beaker once. When they discovered the updated description of the Beaker during the in

[2019-11-22 01:00] twant commented on #166
@terracoda @Matthew-phet just pushed these changes. Assigning over to you for review!

[2019-11-22 19:14] terracoda commented on #166
Great @twant, Thanks! Marking as resolved.

[2019-11-22 19:14] #166 closed

[2019-11-22 19:30] terracoda opened #167 "Cobalt (II) chloride: Incorrect response at "max concentration""
@twant, I just happen to notice this incorrect response for Cobalt (II) chloride. This issue should have been fixed in #154. Is it clear to you why the correct alert is not coming through here?

When leaving the saturated zone for Cobalt (II) chloride, I got:
-  "No longer saturated. Solution lighter, max concentration."
![Screen Shot 2019-11-22 at 3 41 17 PM](https://user-images.githubusercontent

[2019-11-22 20:06] terracoda commented on #167
I was able to repeat the issue with Solution Volume, too.
I didn't find this on a quick check on all the other solutes. It might just be an issue for this one.
![Screen Shot 2019-11-22 at 4 34 41 PM](https://user-images.githubusercontent.com/1902116/69456759-0a4e5900-0d46-11ea-98c4-e632ce1dd53e.png)

[2019-11-22 21:13] twant commented on #167
@terracoda thanks for catching this! Can you send along the numerical values at which this is happening? I can't seem to replicate, but would love to get to the bottom of this!

[2019-11-22 22:19] twant commented on #167
And is this from master, or from a dev version?

[2019-11-23 16:15] terracoda commented on #167
It should be master than I checked, but I will check again, and grab values for you, too.

[2019-11-23 16:38] terracoda commented on #167
@twant, I can't reproduce it either. Maybe I hadn't properly emptied my caches! Cobalt (II) chloride all looks good!
**Solution Values not checked**
![Screen Shot 2019-11-23 at 12 53 04 PM](https://user-images.githubusercontent.com/1902116/69482104-d7619f00-0df1-11ea-87a0-64e0bb22aaf4.png)
![Screen Shot 2019-11-23 at 1 02 54 PM](https://user-images.githubusercontent.com/1902116/69482135-260f3900-0

[2019-11-23 16:40] terracoda commented on #167
Closing! Thanks for taking a second look @twant. I think it's all good! I'll be more careful about emptying my caches next time.

This sim is ready for QA in my opinion.

[2019-11-23 16:40] #167 closed

[2019-11-23 16:41] terracoda commented on #167
Or whatever the next steps are :-) Awesome work!

[2019-11-26 19:33] zepumph opened #168 "Use "accessibility" instead of "a11y" in implementation notes"
The abbreviation "a11y" feels a bit informal for that kind of documentation.

from https://github.com/phetsims/molarity/issues/165

[2019-11-26 20:06] zepumph opened #169 "MolarityBeakerDescriptionNode children manipulation review"
There seems to be a fair bit of complexity around adding/removing children for saturationSummaryItem. Perhaps there is a nicer way to handle this. One thought is that you could create a container Node that held the appropriate space in the child order, called `saturationSummaryItemContainer`. Then updateSaturationSummary could be simplified like:

[code]
  Note that above we are always updating th

[2019-11-26 20:07] zepumph opened #170 "MolarityBeakerDescriptionNode can be the description list"
I noticed that is just a container Node, but the `MolarityBeakerDescriptionNode` itself doesn't have any PDOM content. Perhaps try getting rid of `beakerDescriptionList` in exchange for calls to `this` instead.

[2019-11-26 23:38] twant commented on #110
Thanks so much @jbphet! Everything sounds great -- closing.

[2019-11-26 23:38] #110 closed

[2019-11-26 23:41] twant commented on #155
Thanks @KatieWoe! Closing this issue.

[2019-11-26 23:41] #155 closed

[2019-11-26 23:44] twant commented on #125
@jbphet, just checking in In preparation for a11y publication to see what came of this issue. Sound design/implementation seems to be complete, but wanted to check with you -- is this ready to close?

[2019-11-26 23:45] twant commented on #161
Now that #154 has been resolved, how do you want to handle this as we prepare the sim for a11y publication, @arouinfar?

[2019-11-27 00:39] twant commented on #170
Thanks for these suggestions! I just implemented and pushed these changes. Do you want to review to confirm that these are changed as you'd imagined @zepumph?

[2019-12-02 17:26] #125 closed

[2019-12-02 21:03] zepumph commented on #170
Your changes look good. Closing

[2019-12-02 21:03] #170 closed

[2019-12-02 21:04] zepumph commented on #169
Looks great thanks!

[2019-12-02 21:04] #169 closed

[2019-12-02 21:04] zepumph commented on #168
Thanks!

[2019-12-02 21:04] #168 closed

[2019-12-02 22:43] zepumph opened #171 "ConcentrationDescriber.js Review"

[2019-12-02 22:43] zepumph commented on #171
https://github.com/phetsims/molarity/issues/165

[2019-12-02 23:03] zepumph opened #172 "Region strings should be unique"
While working on https://github.com/phetsims/molarity/issues/171, I saw that `ConcentrationDescriber` has a region set called `SOLIDS_STRINGS`, and `SoluteAmountDescriber` has a region set called `SOLUTE_AMOUNT_STRINGS`. Both of these region sets has the same "some" string in it. This makes the assumption that in all languages, that region both of those sets can be described with the same word. We

[2019-12-02 23:10] zepumph commented on #171
- [ ] There is `SOLIDS_STRINGS_LOWERCASE`, but some of SOLIDS_STRINGS are lowercase also. Can you explain why only some of them are capitalized?

[2019-12-02 23:22] zepumph opened #173 "ConcentrationDescriber `*ToIndex` functions should be implemented with a loop or `LinearFunction`."
Unlike other places where the regions are mapped non-linearly, these regions (save the edge single value regions) are linearly spaced. Instead of using the duplicative format for other cases, (the one I recommended using in situations like `soluteAmountToIndex`), let's use a for loop or a `LinearFunction`.

I think a loop would be the simplest, but also you could look into creating a `LinearFuncti

[2019-12-03 00:49] zepumph opened #174 "Store color strings on Solute.js instead of SoluteDescriber.getCurrentColor()"
From https://github.com/phetsims/molarity/issues/171

It feels much more robust to store color strings in the model, rather than have a switch case in a describer. I also feel the same way about the lowercase versions of the solute names.

This feels better to me for a few reasons:
* The switch case obfuscates the additional logic needed to support adding/removing Solutes. You may remove something

[2019-12-03 02:08] zepumph opened #175 "`ConcentrationDescriber.concentrationIncreased` Review"
From #171

* `concentrationIncreased` is `boolean` or `null`, so this line seems buggy to me:

`        lighterDarker: this.concentrationIncreased ? darkerString : lighterString`

unless you would want "lighterString" if null or boolean. There should be an assertion making sure that it is a boolean, or documentation as to how `null` and `false` are being treated the same here.

* Some code uses `t

[2019-12-03 02:33] zepumph commented on #171
Today I got to `getCurrentSaturatedConcentration`, @twant feel free to start working on it if you would like.

[2019-12-03 19:52] zepumph opened #176 "Questions about saturation and ConcentrationDescriber."
* In ConcentrationDescriber.solidsToIndex there is this comment:
[code]
  This seems very confusing to me. Why is this unnamed region defined here instead of in the regions list? Why does it take up the same amount of range as all others? ". . .right after saturation point. . . "-- how is this defined, as it seems like the unnamed region isn't tied to any particular saturation value?

* MolarityMo

[2019-12-03 21:00] zepumph commented on #171
I'm going to move on to another file now.

[2019-12-03 21:06] zepumph opened #177 "Remove ICON_CREATOR anti-pattern"
While working on #165, I found that MolarityKeyboardHelpContent is using a paradigm where it creates a data structure of functions that create icons. All of these icons seem general, so why is this just in Molarity? In Gravity force lab's help content, I recently refactored this creator-type pattern and just inlined it. I think the best path forward would be a static common code object that can ma

[2019-12-03 21:49] zepumph commented on #177
This will be solved over in https://github.com/phetsims/scenery-phet/issues/559, where we can just use KeyboardHelpIconFactory instead of creating our own factory object. Closing.

[2019-12-03 21:49] #177 closed

[2019-12-03 23:30] zepumph opened #178 "Make sure all a11y string keys are perfect"
From #165, I have found that it is really nice to audit the a11y string key names once the design has stopped iteration. This can help organization because many strings end up changing quite a bit from when they were originally created.

For example, `stateOfSimInteractionHintString` to me feels like it maybe used to be dynamic since it also is prefixed with `stateOfSim`, but it may be nicer if na

[2019-12-04 00:18] twant commented on #154
@terracoda @Matthew-phet, after discussing with @zepumph, we think this issue should be re-opened and addressed within the model in addition to the accessibility descriptions. This is because our descriptions currently identify three regions (not saturated, max concentration with no solids, and saturated with solids), but the model still only identifies two regions (saturated and not saturated). A

[2019-12-04 00:58] zepumph opened #179 "capititalized/lowercase string naming convention"
In this sim there are many spots where we need both the lowercase version of a string, and a captialized version. The issue is that sometimes we have `string` and `stringCaptialized`, and sometimes we have `string` and `stringLowercase`. I think we should just have one.

In gravity-force-lab it worked really well to have everything be lowercase and then to specify `Capitalized` as a suffix when ne

[2019-12-04 01:03] twant opened #180 "Refactor describer listeners to avoid listener dependencies"
@zepumph and I discussed the below  review item from #171 today, and decided to move away from the current pattern, which we agree could definitely cause some listener dependencies problems. I'll be refactoring all of the describers to move away from these lazyLinks to model Properties.

Items to check for lazyLinks to model:
- [ ] ConcentrationDescriber
- [ ] SoluteAmountDescriber
- [ ] VolumeDes

[2019-12-04 01:05] zepumph opened #181 "SoluteAmountDescriber review"
- [x] `soluteAmountRegionChanged` is not private but is marked as such. Perhaps https://github.com/phetsims/molarity/issues/180 will fix this anyways.
- [x] concentrationDescriber is unused and should be removed as a parameter.
- [x] This line has hard coded numbers in it in it, and should probably use a range from a constants file (just like the bullet in #171). Perhaps here you can use `this.sol

[2019-12-04 01:45] zepumph opened #182 "VolumeDescriber review"
- [x] `concentrationDescriber` is not used, and should not be passed as a param to this type.
- [ ] `currentRegion` is a number, and should likely be called `lastVolumeRegionIndex`. This also likely applies to https://github.com/phetsims/molarity/issues/180.

- [x] TURN IT UPPPPP
- [x] `volumeToIndex` could use an assertion in the `else` statement as a sanity check.

[2019-12-04 01:56] zepumph opened #183 "Normalize values in `*ToIndex` functions"
For any index mapping function that isn't handled by https://github.com/phetsims/molarity/issues/173 because there are custom region ranges, these values should be normalized. This is the decision that came out of https://github.com/phetsims/a11y-research/issues/146, and was then implemented in gravity-force-lab(-basics).

Functions to update:
* volumeToIndex
* soluteAmountToIndex

Algorithm:
* Re

[2019-12-04 02:27] twant commented on #173
@zepumph just pushed changes, although may want to hold off on reviewing/closing this one until I take a look at the other describers!

[2019-12-04 02:32] zepumph commented on #165
I have gotten to all the files except molarityAlertManager.

[2019-12-04 02:38] twant commented on #171
@zepumph agree about hasSolute(). Just moved it to Solution.js (and adjusted the logic to match what is in getColor().

[2019-12-04 17:30] terracoda commented on #154
@twant and @zepumph, I agree that the sim model and the description model should match. In retrospect this monster issue is because of this mismatch :-)
I voiced my suspicions in https://github.com/phetsims/molarity/issues/154#issuecomment-552487719.

The descriptions are designed with the three states, so they should easily accommodate either design path.

And if it is decided by that the visual

[2019-12-04 22:14] emily-phet commented on #154
@terracoda @twant @Matthew-phet @zepumph

I think the first option in [this comment ](https://github.com/phetsims/molarity/issues/154#issuecomment-561416932) should be avoided. It involves a significant change to the pedagogy designed into the current sim, which teachers have now been using for years. I'm sure many people have a standard response to why the "saturated" indicator appears at the sam

[2019-12-05 16:04] terracoda commented on #154
@emily-phet, thanks for verifying the pathyway for updating the model.
@twant also asked if this a blocking issue?

I am pretty certain no changes to the current description design is needed by following option 2.

@twant, could you comment on two things:
1. How much time you think you will need to update the model to accommodate the third state - the equilibrium state (max concentration)?
2. To u

[2019-12-05 23:23] zepumph opened #184 "MolarityAlertManager review"
- [x] Together (if I remember correctly) we set up the alert manager as a singleton with an `initialize` function. Do you prefer `wireUpListeners` instead of `initialize`? I am on the fence. I guess `initialize` better because it cues more clearly that this should only be called once. I'm going to check this off, as it is good as it, but I will keep it here in case you have any thoughts.
- [x] Eve

[2019-12-06 00:55] zepumph opened #185 ""state" terminology in descriptions"
From #184, I feel like there are a fair number of places where the word "state" is being used, but in general it is pretty vague, and feels like a catch-all for "description" or something like that. Could we discuss potentially using terminology that is more specific to the use case?

Examples:

* `getQualitativeConcentrationState` returns a string. I'm not sure what "state" is trying to refer to

[2019-12-06 01:29] zepumph commented on #165
All files have been reviewed for content. I will now go over some of the more general stuff.

[2019-12-06 01:29] zepumph commented on #184
Review complete of this file. Over to you @twant.

[2019-12-06 22:12] zepumph opened #186 "Memory test"
From #165, I found no memory leak, the last two snapshots were from over an hour of fuzzing

![image](https://user-images.githubusercontent.com/6856943/70360106-02a0b100-182a-11ea-92eb-93d476964709.png)

[2019-12-06 22:12] #186 closed

[2019-12-06 23:32] twant commented on #154
Thanks for these answers, @emily-phet!

In answer to your questions, @terracoda, with this added in, I think it will take a couple of weeks to work through all of the items that have come out of code review. @zepumph has been super helpful with this process so far, and as he is the responsible developer, I imagine it would make sense for us to use some of our next meeting time to work through this

[2019-12-07 01:54] zepumph commented on #183
soluteAmountToIndex is already handled because the range was from 0 to 1 moles already

[2019-12-07 02:02] zepumph commented on #183
@twant this is complete, please review and feel free if you have no thoughts.

[2019-12-07 02:09] zepumph commented on #182
The last item really applies to #180 and should be done at the same time I think. Everything else here has been done. @twant over to you.

[2019-12-07 02:42] zepumph commented on #174
I implemented this above. During it I found two things that I would still like to clean up before review:

* rename `getCurrentSolute` because it returns a string.

* 120 char clip on `MolarityModel` that is a bit strange.

[2019-12-07 03:40] twant commented on #183
Thanks, @zepumph! Just merged this into my local changes and it looks good! will push the whole thing shortly (and updated the relevant issues). Closing this one -- thanks so much for your help!

[2019-12-07 03:42] twant commented on #171
For `getCurrentConcentrationRangeClause`, I changed the variable name to "displayedMaxConcentration" and added a comment explaining why it is clamped.

[2019-12-07 03:43] twant commented on #172
Changed solids regions strings, next steps are to update organization of region descriptions for other describers.

[2019-12-07 03:59] twant commented on #184
@zepumph I reviewed the items you mentioned, and they both seem to be working well. Thanks for doing that!

Additionally, I updated the parameter for `alertSliderQualitative` to be named `quantityRegionChanged` and updated the doc (which you're right, was just incorrectly describing the parameter)

[2019-12-07 04:20] twant commented on #184
- [ ] alertNewSaturation calls utteranceQueue.clear. Can you speak to why this is needed? The doc says "to remove utterances from previous saturation region," but I thought that was the purpose of having a reusable saturationUtterance that is reset. When that utterance is reused the utteranceQueue clears out any previous references that utterance has in the queue. Does that make sense? Can we dele

[2019-12-07 04:47] twant commented on #182
@zepumph looks great, thanks so much! Closing (and will address the other item with #180)

[2019-12-07 04:47] #182 closed

[2019-12-07 05:20] twant commented on #175
I think this is solved by the changes in #180. @zepumph assigning over to you to review and close if you agree.

[2019-12-07 05:27] twant commented on #176
I think the second bullet is addressed in #154.

The first bullet I believe has been fixed when I refactored the toIndex functions in #173 (see 22ae634bb7c09c9bf950846fc40b8e0c68a46d43). @zepumph assigning over to you to review.

[2019-12-07 05:33] twant commented on #179
I think it makes sense to just use string and stringLowercase. I might even advocate for stringCapitalized and stringLowercase, as it will help keep track of the items that do require both sets. I am also realizing that we need consistency with parameter names as well. Adding an item to this to make sure that I check that they're all called `isCapitalized`. I feel fine about variation in their def

[2019-12-09 18:56] zepumph commented on #179
I think the variation is default values could be ok, especially if they have reasonable defaults for that case (like most of that particular function's usages want lowercase), but I think you should go into the audit with a preferred default for it (like isCapitalized=false), and then have to prove to your self that it should be different.

I don't think it is reasonable to just keep the same defa

[2019-12-09 20:12] zepumph commented on #165
To test this I did the following:
* Load the ally view for Molarity
* Copy the outer html of the PDOM copy into a webstorm html scrap
* Load the a11y view for Molarity with `?fuzz`
* Let that go for a minute or two
* In the console, in the context of the iframe (not "top"), run `window.phet.chipper.queryParameters.fuzz = false;` to turn off fuzzing.
* Then press the reset all button
* copy the out

[2019-12-09 21:23] zepumph commented on #183
I really messed this one up. The algorithm for normalizing is `(x-min)/(max-min`. We were just diving by the max. Instead we can use Range.getLength.

Furthermore, in soluteAmountDescriber, we don't need to recalculate the values, because the current range is already between 0 and 1, but we still need to normalize it to be prudent.

[2019-12-09 21:27] zepumph commented on #183
@twant anything else here?

[2019-12-09 21:40] zepumph commented on #165
I found that VolumeDescriber didn't need to pass in the whole solution, just the `volumeDescriber`. The same for SoluteAmountDescriber and `soluteAmountProperty`.

[2019-12-09 21:43] zepumph opened #187 "solute amount aria values text depends on current solute"
Discovered while working on https://github.com/phetsims/molarity/issues/165#issuecomment-563452630.

Here is a screenshot demonstrating it. I just loaded the sim and then changed the solute once:
![image](https://user-images.githubusercontent.com/6856943/70475677-86080f80-1a81-11ea-8974-fadc4a8ada9f.png)

We can pass `a11yDependencies` into the sliderOptions to remedy this

[2019-12-09 21:44] zepumph commented on #187
Please review @twant, close if all is well.

[2019-12-09 21:47] zepumph commented on #176
Looks great, see you in that other issue. Closing

[2019-12-09 21:47] #176 closed

[2019-12-09 22:08] zepumph commented on #173
Above I committed a potential simplification to the solids loop. I wasn't understanding why we were subtracting values, and I also felt like it was strange to go from zero to the length. I tested and found that it was working as I was expecting it to, with even ranges of solids for Potassium permanganate from saturated to min vol max solute amount.

For the concentrationToIndex I was a bit more co

[2019-12-10 00:44] zepumph commented on #165
I couldn't find any other unnecessary (de)coupling.

[2019-12-10 00:46] zepumph opened #188 "Split up ConcentrationDescriber?"
I'm almost positive that we don't want to do this. But I want to ask @twant first

From the CRC:

Do you think it could work to have a `SaturationDescriber` and a `ConcentrationDescriber`?

I don't think that 500 lines of code is too large for a file at all, I just wanted to see if that could be a nice refactor. If you don't think so @twant, please close.

[2019-12-10 00:47] zepumph commented on #188
#165

[2019-12-10 01:22] zepumph commented on #165
Code review is complete. There is still a todo or two in the code. Let's keep this open until those are resolved. I don't think we need to handle the one in SoluteIO though.

[2019-12-10 01:26] zepumph opened #189 "support ?shuffleListeners"
From https://github.com/phetsims/axon/issues/215, when running with `?shuffleListeners` we get an error:
[code]
I'll take a look.

[2019-12-10 01:58] zepumph commented on #189
@samreid, while talking with you over in https://github.com/phetsims/axon/issues/215 about tackling this problem, you had mentioned that it wasn't too challenging. I would like to employ your help in problem solving this one. Basically the simplified problem I'm seeing is that there are two listeners on model.soluteProperty. The first is from the derived model Property `concentrationProperty` (whi

[2019-12-10 01:59] #175 closed

[2019-12-10 02:10] zepumph opened #190 "ConcentrationDescriber "increased" assumptions"
Over in #171 we have done good refactoring to limit the listener order dependency, but I worry about `solidsIncreased` and `concentrationIncreased` returning a boolean. I think that they may warrant an assertion to make sure that they are never called with the same value as last time, because otherwise `false` potentially means something different that originally communicated (false would be decre

[2019-12-10 02:13] zepumph commented on #190
When I apply this patch:

[code]

I immedtiately get a fuzz error. Let's discuss this more tomorrow!

[2019-12-10 02:19] zepumph commented on #174
Alright, cleanup is done now. @twant please review. Especially about the placement of these strings in the model, and if you think the new StringCasingPair data structure makes sense (and has a good name).

Thanks!

[2019-12-10 02:25] zepumph commented on #154
Yes that sounds great, let's talk more about this tomorrow during our meeting. Marking for it.

[2019-12-10 04:06] samreid commented on #189
I experimented with `setDeferred` in ComboBoxListBox and `Multilink` in  SolutionNode, but they both suffered the same problem.  A while ago @jonathanolson suggested this problem could be solved by making the property more stateful, so it can be set atomically.  Something like `Property.<MolarityState>` where `MolarityState` has Solute, concentration, etc.  I think that may work, but that's an aty

[2019-12-10 04:16] samreid commented on #189
Here's a patch that may be better than nothing:

[code]

This makes the listener order independent, but I wonder if it may inadvertently mask problems even after all values have updated.  What do you think?

[2019-12-10 15:45] twant commented on #171
@zepumph saw the typedef you added for what is now called getChangeStrings. I added in a couple of sentences describing the type, and added the typedef and updated doc for SoluteAmountDescriber and VolumeDescriber. Assigning this whole issue over to you for review.

[2019-12-10 20:21] zepumph commented on #189
I think that we have two bulls butting heads:
1. One listener array for model and view listeners. Another classification would be "internal state updating" listeners" and "outside" listeners
2. `?shuffleListeners` assuming independent listener order.

The above band-aid would likely work for that particular view listener.

[2019-12-10 20:34] zepumph commented on #189
I'd like to know how to better handle these issues. In my opinion (and I feel like we've discussed this before), it should be allowed to have some set of listeners (even if we don't call if that) which must be done before anything else. In the past this was explicit and obvious because the `link` call would be right below the Property declaration in the model file.

Question to developer team at l

[2019-12-10 20:52] zepumph commented on #181
I'm finding myself removing a fair number of these, because they don't apply to that particular `isCapitalized` parameter, for example `ConcentrationDescriber.getCurrentSolidsAmount` can be and is called regardless of the value of the quantitative descriptions Property.

[2019-12-10 21:02] zepumph commented on #171
- [ ] @twant please revert https://github.com/phetsims/molarity/commit/0eb710e225858e1722e215f86bde07627f8ad530 if you don't like it. I thought it a bit clearer to know that both begin as blank strings, and opt in to content given the right conditionals.

[2019-12-10 21:11] zepumph opened #191 "In code rename "solids" to "precipitate" sometimes?"
Especially while working on #171 in ConcentrationDescriber.

In the model we have `precipitateAmountProperty`, and I don't think that should change.

In the interactive descriptions view we have the term "solids" and I don't think that should change.

I feel that there needs to be a defined dividing line where we begin to refer to it as solids. Right now all of ConcentrationDescriber refers to it

[2019-12-10 21:26] zepumph commented on #171
Instead of duplicating the doc, I just moved it to the alert manager, since that is really where it belongs. For example if a third slider/describer was added, then it would need to adhere to the same api to work with the alert manager. I also renamed it to something "slider" specific, since it was at least better than `ChangeStrings`, note sure it is the best name though.

I also created https://

[2019-12-10 21:27] zepumph opened #192 "Remove all TODOs"
From https://github.com/phetsims/molarity/issues/165

[2019-12-10 21:27] zepumph commented on #165
Nevermind, let's take that up in https://github.com/phetsims/molarity/issues/192. Closing

[2019-12-10 21:27] #165 closed

[2019-12-10 21:28] zepumph commented on #192
This will not be a PhET-iO publication, so I do not think we need to fix the TODO for `SoluteIO`.

[2019-12-10 21:32] zepumph commented on #181
I feel good about checking off items if they are covered by another issue, so I checked off the last two.

[2019-12-10 22:06] zepumph commented on #181
I review all the changes done to SoluteAmountDescriber so far, and feel good about them. Over to you to review my commits and close.

[2019-12-10 22:25] zepumph opened #193 "Rename `alertNewSaturation` to `alertNewlySaturated`?"

[2019-12-10 22:48] zepumph commented on #184
Understood. I also see that `addToFront` is likely helping it working in this way.

If that is the utterance you are worried about. I would recommend removing that utterance from the queue if it is in there. We would need to add a method to UtteranceQueue, but that can be done. What do you think about this in `alertNewSaturation`? It feels very explicit.
[code]

[2019-12-10 22:57] zepumph opened #194 "Separate out changed "check" from "calculation""
Promoting TODO to issue,

[2019-12-10 23:14] zepumph commented on #180
After discussing with @twant, and recognizing #189, we think that we should revert this change in ConcentrationDescriber.

The main reason is because this approach is obfuscating the updating of internal ConcentrationDescriber state fields. On top of that, this doesn't even fix the central listener order dependency (which is in the model, again see #189). Because of this we will revert back to hav

[2019-12-10 23:14] zepumph commented on #194
This is actually going to be handled by reverting changes in #180. Closing

[2019-12-10 23:14] #194 closed

[2019-12-10 23:31] zepumph commented on #187
@twant and I found a bug here, we want to support client dependencies without blowing away the default in VerticalSlider. @twant still assigned for a spot check.

[2019-12-10 23:35] twant opened #195 "Saturated alerts have extra space"
There is a space in "Less solute, less solids. Saturated ." at the end after "Saturated" and before the period.

[2019-12-10 23:46] zepumph commented on #173
@twant and I worked on this, I'll give a spot check before closing.

[2019-12-11 00:17] zepumph commented on #190
After discussing with @twant, we added assertions and documentation to try to make it more clear that "increased" fields should only be called when they are guaranteed to have just changed.

[2019-12-11 00:17] #190 closed

[2019-12-11 00:21] zepumph commented on #180
- [ ] From #190, we should try to name document the "increased" fields in volume/soluteAmount/concentration describers to make sure that it is clear that they should only be called after that model Property has changed (therefore either increasing or decreasing).

[2019-12-11 00:24] arouinfar commented on #161
@twant I'll update the teacher tips and upload it to the site once the sim redeploys. There's nothing that needs to be done on your end for this. Thanks for check in!

[2019-12-11 00:35] zepumph opened #196 "Support "maxConcentration not saturated" in the model"
From https://github.com/phetsims/molarity/issues/154, @emily-phet recommended proceeding with there being three states as it pertains to concentration:

* At a concentration (between 0 and max)
* At the max concentration but not saturated (because saturation is tied to the amount of precipitate in the solution)
* Saturated, in which there is precipitate and it is still at max concentration.

To su

[2019-12-11 00:37] zepumph commented on #154
Excellent! We will carry on with this over in https://github.com/phetsims/molarity/issues/196

[2019-12-11 00:37] #154 closed

[2019-12-11 01:57] zepumph commented on #196
I implemented the above checkboxes above. I added one TODO to look into a usage of `isSaturated`.

`      // TODO: is this correct? https://github.com/phetsims/molarity/issues/196`

Please note that I was not able to test this at all. I could not reproduce the case from https://github.com/phetsims/molarity/issues/154 even. When I did the exact same values, this time it showed that there was precip

[2019-12-11 02:07] zepumph commented on #173
All looks good. Closing

[2019-12-11 02:07] #173 closed

[2019-12-11 06:28] twant commented on #161
Thanks @arouinfar!

[2019-12-11 06:44] twant commented on #196
@zepumph yes, I'm seeing that in the exact case we're talking about (where the concentration matches the max concentration and there are no solutes), the incorrect alerts are showing. I'll take a look now and see if I can figure out why!

[2019-12-11 06:51] twant commented on #196
Found it! atMaxConcentration() should be comparing soluteProperty.value.saturatedConcentration with concentrationProperty, but it was comparing soluteAmountProperty.value.saturatedConcentration. Everything else looks good to me!
@zepumph Pushing changes now, and then will assign over to you to review and close.

[2019-12-11 07:05] twant commented on #172
@zepumph I reorganized the region strings so that they're all grouped by property. I added some additional organizing structures (like nesting capitalized and lowercase options), which I think mirror the StringCasingPair type you implemented (which I like a lot) from #174. Assigning over to you to review

[2019-12-11 07:48] twant commented on #195
turns out we were missing qualitative state info. Pushing changes now and closing.

[2019-12-11 07:48] #195 closed

[2019-12-11 07:50] twant commented on #180
@zepumph I believe I've reverted back to the previous version of this implementation, but with added documentation for the describer properties and are linked in the constructor of concentrationDescriber. Can you take a look and see if it looks right to you?

[2019-12-11 07:53] twant commented on #183
No, this looks good to me, and I checked to make sure the regions seem to be mapped appropriately. Closing!

[2019-12-11 07:53] #183 closed

[2019-12-11 08:00] twant commented on #174
@zepumph I like this a lot, particularly adding the lowercase names and colors to the model. StringCasingPair is nice, and I want to look at ways this could be used in other places where we have capitalized and lowercase string versions. I changed a few string names in this in a commit related to #172 to make sure we're consistent in identifying strings as lowercase or capitalized in the variable

[2019-12-11 08:00] #174 closed

[2019-12-12 18:26] twant commented on #188
@zepumph I took a look, and I think it makes sense to split these two up. The only thing I don't love is that ConcentrationDescriber still needs to keep a link to PrecipitateAmountProperty in order to determine saturationStateChanged, but I think the rest is much cleaner!

Assigning over to you for review!

[2019-12-12 18:28] twant commented on #193
Changed! Closing this since it's so small.

[2019-12-12 18:39] #193 closed

[2019-12-12 18:41] twant commented on #187
Looks good! Closing. Thanks @zepumph

[2019-12-12 18:41] #187 closed

[2019-12-13 02:24] twant commented on #184
found out why the utteranceQueue needs to be cleared! alertMaxConcentration modifies the sliderUtterance, and so if you don't clear the queue its possible to get the alerts out of order. Clearing the queue ensures that atMaxConcentration gets skipped if necessary.

I added back in clear() for now, along with the condition you suggested. Let me know how you feel about leaving it like this vs. addin

[2019-12-13 02:27] twant commented on #171
Looks good! Thanks @zepumph! Closing.

[2019-12-13 02:27] #171 closed

[2019-12-13 02:28] twant commented on #181
Looks good! Closing.

[2019-12-13 02:28] #181 closed

[2019-12-13 02:29] twant commented on #184
Okay, I think these three items are ready for review, and then this issue should be done! Over to you to review, @zepumph

- [ ]  In addition to reviewing the work I did above, please rename alertValueChanged to a method that seems better to you (if you think one does).
- [ ]  Even though each conditional line in alertValueChanged is pretty clearly named with a method, I thnk it may be nice to hav

[2019-12-13 04:20] twant commented on #179
Okay, I think I've cleaned this up a bit. Assigning over to you to take a look, @zepumph!

[2019-12-13 05:58] twant commented on #178
Checked and changed some to try to label more clearly! Would you like to review before closing, @zepumph?

[2019-12-13 05:59] twant commented on #185
Went through and changed some usages, or added more documentation explaining what is meant by "state". @zepumph would you like to review?

[2019-12-13 06:01] twant commented on #192
Just checked and I only see the SoluteIO TODO left! Closing!

[2019-12-13 06:01] #192 closed

[2019-12-13 06:24] twant commented on #191
I changed this so that most of the class methods now refer to precipitateAmount, but the strings (and their keys) still refer to solids (I thought about changing the string keys, but I think they'd morph to be too far away from the actual strings to be recognizable). I think it's in a place I feel good about -- would love your thoughts @zepumph!

[2019-12-13 23:48] zepumph commented on #188
I sorta wish that `saturationValueChanged` could be handled by the model, but I can't figure out how that could be done well.

At first I was pondering using an Emitter from the model that says "the saturation was toggled," but I didn't know how to then "clear" that value on next change. That would be a secondary event that wouldn't really know how to communicate with the event of "event that is c

[2019-12-13 23:52] twant commented on #188
Sounds good! Thanks for reviewing. And I agree -- seems like something that could be handled more efficiently, but I'm having trouble thinking of how. Closing!

[2019-12-13 23:52] #188 closed

[2019-12-14 00:03] zepumph opened #197 "Convert memeber vars to private vars when applicable"
I'm looking through describers and seeing a fair number of variables that are only needed in the constructor, but are still stored on `this`. For example `currentRegion` used in a few describers. Can we make those `let` vars instead?

[2019-12-14 00:05] zepumph commented on #180
Part of me feels like this is weird, and that documentation isn't enough. Instead of storing `concentrationIncreased` directly on the describer, what if it was a function, and it can be calculated on demand. Then stored on the describer is `lastConcentrationValue`.  What do you think about that?
[code]
What do you think?

Side note: (you don't need to store lastConcentrationIndex and `lastConcentr

[2019-12-14 00:26] zepumph commented on #172
Thinking about being future proof, soon these strings will not be stored in MolarityA11yStrings, but instead directly in the json strings file. When that occurs, they will be susceptible to a lint rule that requires the string key and the variable name to match. So for example:

`  const redCapitalizedString = MolarityA11yStrings.soluteColors.capitalized.red.value;`

This doesn't fail now, but whe

[2019-12-14 00:27] zepumph commented on #172
Also note that before I commented above, I wrote out https://github.com/phetsims/chipper/issues/826, and decided keeping this convention was better than changing the lint rule.

[2019-12-14 00:31] zepumph commented on #184
I do not like clearing here. To me it is in breach (albeit only minorly) of the factor that MolarityAlertManager does not own UtteranceQueue, and as a general pattern should not assume that it knows exactly what is inside it, and as a result shouldn't clear it. For example, what if the sim was reset, and that alert was in the queue, but for some reason this alert fired before the reset alert could

[2019-12-14 00:41] zepumph commented on #179
Updated doc above. closing

[2019-12-14 00:41] #179 closed

[2019-12-14 00:42] zepumph commented on #178
That's awesome, thanks!

[2019-12-14 00:42] #178 closed

[2019-12-14 00:43] zepumph commented on #185
That is looking really nice. Thanks!

[2019-12-14 00:43] #185 closed

[2019-12-14 00:44] zepumph commented on #191
I really like this. Thanks for all your hard work. This is one of those finicky ones that I think will really help in the maintainability of the sim.

[2019-12-14 00:44] #191 closed

[2019-12-14 00:46] zepumph commented on #189
I don't think this should block publication of Molarity coming up imminently.

[2019-12-14 00:53] zepumph opened #198 "Publish an RC version"
I think we are close to an RC, but seeing as this is my last day for vacation, I think we should likely make a central issue for all to see the current progress in the repo.

Still to do:
- [x] All issues marked with the "code-review" label except https://github.com/phetsims/molarity/issues/189
- [x] @twant and @terracoda, it would be good for you two to give it another once over, seeing as lots o

[2019-12-14 00:55] zepumph commented on #196
Ahhh fooey. Good catch! Closing

[2019-12-14 00:55] #196 closed

[2019-12-14 01:24] zepumph commented on #184
@twant and I worked on this and agreed that `removeUtterance` was a better idea than `clear`. Added above. Closing

[2019-12-14 01:24] #184 closed

[2019-12-14 02:02] twant commented on #172
@zepumph updated all of the variable names! Good to close?

[2019-12-15 04:48] zepumph commented on #172
Excellent!

[2019-12-15 04:48] #172 closed

[2019-12-16 01:22] twant commented on #197
updated! @jessegreenberg would you mind reviewing and closing when you have a minute?

[2019-12-18 23:42] #197 closed

[2019-12-18 23:42] twant commented on #197
@jessegreenberg and I looked over this today & closed

[2019-12-19 00:37] twant commented on #180
@jessegreenberg and I investigated this today. When we implemented, we got an error that we believe is caused by a listener dependency issue (where`lastConcentrationValue` is being updated before `concentrationIncreased()` can be called). We looked into a solution for this, which involved updating `lastConcentrationValue` where `concentrationIncreased()` is called, but this did not seem better tha

[2019-12-19 00:38] #180 closed

[2019-12-19 14:49] twant commented on #198
@terracoda, @jessegreenberg and I went ahead and created the RC, but would still love your eyes on it (I didn't see anything out of place, but wanted to make sure you didn't see anything amiss!). The link is: https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.1/phet/molarity_a11y_view.html. Thanks!

[2019-12-19 15:22] terracoda commented on #198
Tagging RC issue for this sim https://github.com/phetsims/QA/issues/464, too.

@twant, @jessegreenberg, @Matthew-phet, I just had a careful listen to Molarity on master and on the 1.5.0-rc link
[1.5.0-rc link](https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.1/phet/molarity_a11y_view.html)

I think things are sounding fantastic. I didn't use the A11y View much. I was focusing on the actual res

[2019-12-19 15:25] terracoda commented on #198
@Matthew-phet , do you think we should leave as-is, or got with option 1 or 2 if you think we sould change the response.

[2019-12-19 15:29] terracoda commented on #198
Just adding 2 screen shots from the A11y View showing the responses in question:
![Screen Shot 2019-12-19 at 11 08 04 AM](https://user-images.githubusercontent.com/1902116/71185922-e30c7e00-2256-11ea-9b88-82520cd214e0.png)

![Screen Shot 2019-12-19 at 11 08 59 AM](https://user-images.githubusercontent.com/1902116/71185932-e7389b80-2256-11ea-8971-8161a3f0f82a.png)

[2019-12-19 15:33] jessegreenberg opened #199 "Responses at zero solute / zero concentration"
From #198 @terracoda said

I found one issue - one edge case which may not have been documented in the design doc, even (sorry). The case is when the user uses home and end keys on the Solute Amount slider and jumps to zero solute from a state where the solution was previously saturated. The solution is described "lighter" which is kind of true, but it might be more appropriate to say it is clear

[2019-12-19 15:33] jessegreenberg commented on #199
@terracoda said

@Matthew-phet , do you think we should leave as-is, or got with option 1 or 2 if you think we sould change the response.

[2019-12-19 15:33] jessegreenberg commented on #199
@terracoda said

![](https://user-images.githubusercontent.com/1902116/71185922-e30c7e00-2256-11ea-9b88-82520cd214e0.png)

![](https://user-images.githubusercontent.com/1902116/71185932-e7389b80-2256-11ea-8971-8161a3f0f82a.png)

[2019-12-19 15:34] jessegreenberg commented on #198
Thanks @terracoda, moving comments to a new issue to track outside of this one.

[2019-12-19 15:35] jessegreenberg commented on #199
Found while reviewing RC in https://github.com/phetsims/QA/issues/464

[2019-12-19 15:50] terracoda commented on #198
Thanks @jessegreenberg for making a new issue, and I checked the review item in https://github.com/phetsims/molarity/issues/198#issue-537840314. I've done my review.

[2019-12-19 17:36] jonathanolson commented on #189
I haven't felt the need personally to ensure things work with all permutations of listeners, but if so I think it would be great to have more support for this.

[2019-12-19 19:54] Matthew-phet commented on #199
I think option 1 is a good compromise. Good catch!

[2019-12-19 20:25] jessegreenberg commented on #199
@twant assigning to you to review, does this seem straight forward or would this require intrusive changes to current code?

[2019-12-19 20:37] KatieWoe opened #200 "Value labels move up in down a small amount"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem Description
For https://github.com/phetsims/QA/issues/464.
The labels for Solute Amount and Solution Volume used to line up with and follow the slider bars. This is the behavior in the published version. In this R.C. the labels move up and down a much smaller amount and don't line up with the slider bars.

**Visuals**
![

[2019-12-19 20:49] KatieWoe commented on #140
For https://github.com/phetsims/QA/issues/464.
A few credits need to be added to QA. So far the list includes: Megan Lai, Jacob Romero, and Kathryn Woessner

[2019-12-19 23:35] KatieWoe opened #201 "Molarity arrow covers long strings"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/464
When strings are long and the arrow that indicates solution concentration is at the bottom of its bar it can cover up the string. The string has to be fairly long for this to happen, so it is likely not a big issue.

**Visuals**
![overlappinglong](https://user-

[2019-12-20 03:46] twant commented on #199
I think this can be implemented relatively easily -- I'll take a look this week and let you know if it will be more intrusive/involved than I thought!

[2019-12-20 03:48] twant commented on #199
@Matthew-phet @terracoda just to clarify, you think it should say:
- No longer saturated. Zero concentration. Solution pure water.
And this should apply for both "Solution Values" checked and unchecked. Is that correct?

[2019-12-20 04:03] twant commented on #200
In investigating this, it looks like this issue was not present in version 1.5.0-dev.28 (the most recent dev version). In looking at commits that have occurred since, the one that looks most likely to have affected this is the work done to switch the dimensions of VerticalSlider https://github.com/phetsims/molarity/commit/92dfa1b83705c2683028f0b7014aab30d86c8ff7. I'll investigate this week. @zepum

[2019-12-20 12:32] terracoda commented on #199
Yes, that is right. The same for both with values and without values shown. Glad it is easy to do.

That said, @twant, if you run into any trouble with implementing this special response, I think it is safe to go with option 2 and have the same response in all cases when the solution changes from "any amount of solute" to zero solute.

[2019-12-20 17:18] KatieWoe opened #202 "Humming Noise with constant slider use"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge (and other browsers)
**Problem description**
For https://github.com/phetsims/QA/issues/464.
If you hold down shift+arrow to move the sliders, the dings become a hum that gets louder and does not seem connected to the intended sounds.

**Visuals**
https://drive.google.com/file/d/1r5VLv8bQYLhU1owIXYFC6lphmoiy6xxA/view?usp=sharing

Tro

[2019-12-20 21:24] KatieWoe commented on #201
Note: Solution Values needs to be off for this.

[2019-12-20 21:36] KatieWoe commented on #201
Note: It also happens at the top of the bar

[2019-12-21 21:05] twant commented on #199
Okay, committed this change to master. @terracoda do you mind reviewing to see how that sounds to you?

[2019-12-21 21:37] twant commented on #200
Fixed this by making the value label node positions depend upon the slider's height and not its width (since those values were switched to make more sense with the vertical orientation of the slider). @zepumph would love your review of this one to make sure it looks good to you!

[2019-12-21 21:58] twant commented on #201
In testing different string lengths, this begins to be a problem with strings longer than 8 characters (so it really doesn't take a very long string to make this happen. This does seem like something worth addressing if possible -- @emily-phet who would be the best person to consult about adjustments to the visual layout of the sim (I imagine that these labels would need to be shifted a bit so the

[2019-12-21 22:06] twant commented on #202
I don't know enough about the sonification design & implementation to know exactly how to address this (or what the ideal sound would be for this situation). @jbphet and @emily-phet, do you mind taking a look at this one to see what you think of the current sound situation when holding down shift + arrow key on one of the sliders?

[2019-12-23 14:08] terracoda commented on #199
@twant, apologies for not getting to this on the weekend.
I just tested from Master, and the new response is good when jumping the Solute Amount slider from a concentrated state to zero solute.

However, if I then move focus to the Solution Volume slider, and adjust Volume when there is zero solute, I also get the new response, which is not correct.

@twant, the new response should never show up w

[2019-12-23 14:52] terracoda commented on #199
When adjusting Solution Volume when there is no solute, the response should be:
- "Zero concentration. Solution pure water."

[2019-12-23 14:54] terracoda commented on #199
And, we can always go with option 2 in https://github.com/phetsims/molarity/issues/199#issue-540387499 if option 1 is not possible in our tight timeline.

[2019-12-23 20:40] twant commented on #199
Great catch, @terracoda! I'm pushing a change that I think fixes this issue -- let me know how it looks to you!

[2019-12-23 21:20] terracoda commented on #199
@twant, you fixed the case I mentioned above - great!
Unfortunately, when using the blue solution, I didn't notice what happens if from the solution-darkest state to zero solute.

You can do this easily with the purple solution - see alert underlined in read. I turned on values to make it easier to reproduce.

I think the new alert is technically correct, but we didn’t say “saturated” in the previ

[2019-12-23 22:43] terracoda commented on #199
@twant and I had a zoom call on this, and we think this case along with another one that @twant found is fixed.

[2019-12-23 22:50] twant commented on #199
Just updated per a zoom call with @terracoda, where we reviewed these changes together. I'm going to close this issue, but please feel free to reopen, @terracoda if you think it needs additional review!

[2019-12-27 16:16] jessegreenberg commented on #201
Here is what it looks like with stringTest=double, which is still readable in my opinion
![image](https://user-images.githubusercontent.com/6396244/71524052-bcbf9180-2899-11ea-9b34-65c87f0f82bf.png)

@ariel-phet can you please review and comment on whether a change is required for this and if so who the responsible designer should be?

[2019-12-27 23:50] jessegreenberg commented on #200
I reviewed the change, it looks good to me and very reasonable given the changes ini https://github.com/phetsims/sun/issues/544 (related to https://github.com/phetsims/molarity/commit/92dfa1b83705c2683028f0b7014aab30d86c8ff7)

[2019-12-28 03:49] jaspearias opened #203 "Query Parameter "?stringTest=xss" cuts off almost all of the sim"
<b>Test Device</b>

MacOS 10.13

<b>Operating System</b>

MacOS 10.13

<b>Browser</b>

Google Chrome

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/464

When entering query parameter "?stringTest=xss" the sim gets cut off almost completely. The only thing that can be tested is the undo button, sound button, keyboard nav button, and PhET info button.

<b>Visuals</b>

https:/

[2019-12-29 23:18] twant commented on #203
From the QA book, I found this info about stringTest=xss:

?stringTest=xss: cross site scripting
This query parameter puts JavaScript into every string. The page should not redirect.
If the simulation does not redirect to another website, the simulation passes this test.
If the simulation crashes or fails to load, the simulation still passes this test.

It seems from this that although the sim doe

[2019-12-29 23:19] twant commented on #200
Awesome, thanks for reviewing, @jessegreenberg! @KatieWoe I think it's ready for your review to ensure it's ready to close!

[2019-12-30 08:12] twant commented on #200
Nevermind, @jessegreenberg explained the process of just marking these issues for review for the next RC (thanks very much, Jesse!). I'll just label this a ready for qa.

[2019-12-30 17:11] terracoda commented on #50
The label for the checkbox is now "Solution Values" not "Show Values" in both the visual view and the accessible view.

This issue is stale and I think it can be closed.

[2019-12-30 17:12] terracoda commented on #50
Since no one is assigned, I will go ahead and close. Please re-open if need be.

[2019-12-30 17:12] #50 closed

[2019-12-30 17:32] terracoda opened #204 "Sound: In Solute Combobox do the solutes have a tone?"
In the [RC version for Molarity](https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.1/phet/molarity_all_phet.html), I recently noticed that in the combobox interaction there are no longer associated tones for each of the different solutes as you cycle through the list.

Each solute did have an associated tone at one time. Perhaps it was decided to remove these tones?

@jbphet could you verify th

[2019-12-30 18:17] zepumph commented on #203
Agreed. The sim does not need to support anything with `?stringTest=xss` except making sure that it doesn't redirect. I think we should close this, but let's assign @jaspearias to do so after reading this to make sure we are all on the same page.

[2019-12-30 19:01] zepumph opened #205 "Move a11y strings to en json strings file"
This is the next step in the a11y string conversion process. previous issues include https://github.com/phetsims/rosetta/issues/214 and https://github.com/phetsims/chipper/issues/795

This is the first simulation that we are doing with this, and so I will work closely with @jbphet to make sure that everything works well. Since molarity is already in RC, my hope is to do this conversion in one comm

[2019-12-30 19:13] jbphet commented on #204
I just tested this RC on Chrome+Win10, Firefox+Win10, and Safari+MacOS 10.13.6.  In all cases, I was able to hear the selection sound for the solute.  I tested both mouse and keyboard navigation.

@terracoda - I'm not sure what you're seeing, so I would suggest re-testing and making sure that what you experienced wasn't some sort of anomaly.  If you are able to reproduce this, please record the br

[2019-12-30 19:17] terracoda commented on #204
I'll listen again @jbphet, I might have been expecting the sound at the wrong time.

[2019-12-30 19:21] terracoda commented on #204
All is good, apologies. I thought I was supposed to hear a sound as I cycled through the solute options. The solute sounds are playing fine upon selection.

Thanks @jbphet! I am closing this issue.

[2019-12-30 19:21] #204 closed

[2019-12-30 19:54] jbphet commented on #202
@KatieWoe said:

The "hum" is just rapid sequential playing of the individual sounds, each of which indicates the concentration level.  I suspect that it appears to get louder only because it starts low and goes higher, and the speakers that were used for the test don't have much bass response.

It would be possible to prevent this particular behavior by adding a minimum change amount to the `Conc

[2019-12-30 20:06] terracoda commented on #202
I agree with @jbphet, holding the shift key + an Arrow key is very rare if not non-existant. The sound design is not meant to encourage this kind of interaction.

What I think the sound design does nicely here is two things:
1. marks meaningful changes with regular increments (no shift key)
2. With shift key marks tiny changes in concentration - hardly significant changes.

I would support not cha

[2019-12-30 20:58] zepumph commented on #205
This was done in two commits above. There were a couple of assertions that needed to be fixed before committing this. I also spent a bit of time reorganizing the structure to try to encapsulate the comments, and then I removed the comments. I will now cherry-pick these into the rc branch.

[2019-12-30 21:29] zepumph commented on #205
After discussing with @jbphet, we are going to create another rc immediately so that @jbphet can test this with a local copy of rosetta before publication.

[2019-12-30 21:52] zepumph commented on #205
Alright @jbphet, the a11y strings have been integrated into the `json` strings file in https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.2/phet/.  Please test this and let me know if you run into any problems with how rosetta ignores the a11y strings.

[2019-12-30 22:51] #203 closed

[2019-12-31 22:13] jbphet commented on #205
Test complete, everything looks good.  As far as Rosetta is concerned, you should be good to publish this sim @zepumph.

For the record, here is a summary of how this testing was done:

+ Tested using a version of Rosetta that was running on my local machine, SHA = 539f81e1b30d9d68f9e819de9bc986f769a90985, which is close to what is currently live on the public website but probably a couple of mino

[2020-01-01 01:13] zepumph commented on #202
From this I'm hearing that we are not going to change this. Tagging as "wont fix" and closing.

[2020-01-01 01:13] #202 closed

[2020-01-02 22:58] zepumph commented on #189
After a large discussion with developers in today's dev meeting, here are some notes:

* The design pattern for "describer" types used for Interactive Descriptions produce many chances for listener order dependencies. This is similar to previous discussions that we have had regarding sonification, in which we decided that listening directly to listeners on UI components was often safer than linkin

[2020-01-02 23:07] zepumph opened #206 "Move slider alerts from model listeners to slider callback"
From https://github.com/phetsims/molarity/issues/189, it may be possible to fix an order dependency by running these slider alerts from the slider callbacks instead of by linking directly to the model Properties. I'll see how it sounds before implementing.

[2020-01-02 23:11] zepumph opened #207 "capitalize molarityAlertManager.js"
This used to be a singleton, but isn't anymore.

[2020-01-02 23:12] zepumph commented on #207
Oops! It actually is still a singleton, it just needs to be initialized by the ScreenView. Closing

[2020-01-02 23:12] #207 closed

[2020-01-02 23:17] zepumph commented on #201
I'll add myself here too so I don't let this drop. @ariel-phet what are your thoughts.

[2020-01-03 03:23] ariel-phet commented on #201
@zepumph I think this issue could be addressed by moving the indicator arrow to the right, and using a hairline/dashed line to connect it to the bar (blackbody spectrum uses this approach and even though in that sim the indicator is interactive, I think it could work well), I think a hairline would be best. Some more breathing room would be appropriate in my opinion.

[2020-01-03 03:37] emily-phet commented on #201
@ariel-phet I like the idea of the hairline connecting the arrow end to a specific value on a vertical scale, and it would be nice to have some uniformity where possible across sims. I do wonder, though, if the fact that in Molarity the arrow points to a gradient (rather than a solid line) and takes on the color of the gradient at that point - makes this a different case.

Perhaps leaving it as is

[2020-01-03 17:54] KatieWoe opened #208 "Mouse hover disappears with keyboard nav hover or vice versa"
**Test device**
Dell or Bates
**Operating System**
Win 10 or Win 7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/464. Very minor.
It is possible to see a mouse hover highlight and a keyboard nav highlight in the menu to select a solute. If they over lap and then one moves away then the highlight left behind disappears.

**Steps to reproduce**
1. First, move y

[2020-01-03 20:56] zepumph opened #209 "New Screenshot"
Probably good to do with this new publication. I'll assign when we are ready. Note https://github.com/phetsims/QA/issues/464#issuecomment-570664520

[2020-01-03 22:39] zepumph commented on #201
I would say this is the philosophy we used in ohms-law and resistance-in-a-wire formulas, in which they are translatable letters, but also we don't adjust the formatting, such that if you use long letters it is easy to mess things up.

![image](https://user-images.githubusercontent.com/6856943/71753203-58b74300-2e2e-11ea-9d32-a24e8f4c2d7f.png)

That said, I don't have any preference about leaving

[2020-01-04 02:21] samreid commented on #189
I think it could help a lot if we flag DerivedProperty listeners for identification, then update all DerivedProperties in a tree before sending any notifications.  I don't think that strategy would work for multilink, which is more about side effects.  @zepumph would getting all of the DerivedProperty values correct before notifications address the interactive description style problems mentioned

[2020-01-06 15:42] ariel-phet commented on #201
@zepumph I think the RIAW example is not really apples to apples, it is very unlikely for people to translate those characters to multiple characters as that would be mathematically inconsistent, each of these characters representing a single variable.

@KatieWoe please go through current translations of Molarity and see if this issue exists, if so I think we should change to the hairline (and yes

[2020-01-06 15:49] emily-phet commented on #201
@ariel-phet Just checking to see if you noticed my [comment](https://github.com/phetsims/molarity/issues/201#issuecomment-570450296) above.

If the hairline gets put in, it's possible that at low concentrations it may be difficult to see for some of the solutions due to low contrast. We also really need this sim published urgently, so ideally the hairline is not needed.

[2020-01-06 16:16] KatieWoe commented on #201
I only saw three languages where there was any touching/overlap, and it was fairly minor. I don't think the fix is need, but I'm posting images of the three languages in case you disagree.
Danish:
![da](https://user-images.githubusercontent.com/41024075/71830904-0318ab80-3065-11ea-8fde-bac673f231f3.png)
Greek:
![el](https://user-images.githubusercontent.com/41024075/71830951-19266c00-3065-11ea-8f8

[2020-01-06 17:32] ariel-phet commented on #201
@KatieWoe appreciated. Closing

[2020-01-06 17:32] #201 closed

[2020-01-06 18:48] zepumph commented on #208
I have seen this before, and I don't think it is a bug. I would want both of those to work individually, so I'm glad they work when using mouse and keyboard at the same time (a rare use case in and of itself). @ariel-phet I would be fine closing this issue, but I want a designer to sign off. What do you think?

[2020-01-06 18:50] zepumph commented on #208
Since this also has something to do with behavior of keyboard navigation, tagging @emily-phet for comment too.

[2020-01-06 18:51] zepumph commented on #205
This has been complete, and once this sim is published, we will note in https://github.com/phetsims/rosetta/issues/214.

[2020-01-06 18:51] #205 closed

[2020-01-06 19:29] zepumph commented on #206
I do not think that anything has changed here. I did a pretty thorough regression test and feel good about things. Before closing I want to run this change by @terracoda. No instead of volume/solute amount alerts being triggered from the Property, they are being triggered only from the end drag of the Slider. In normal use this ends up being basically the same (except better for the code due to is

[2020-01-06 19:33] terracoda commented on #206
@zepumph, to test/verify this am I just supposed to listen to the sliders to see if things are happening in the correct order?

[2020-01-06 19:43] zepumph commented on #206
Yeah sounds great. Also just simply making sure that the slider alerts sound as they should (all or nothing, not as much the individual logic)

[2020-01-06 19:45] terracoda commented on #206
And mobile, too? If so, please post dev link for emailing to my phone.

[2020-01-06 21:03] KatieWoe opened #210 "Using arrow keys in solute menu in safari full screen makes "donk" sound"
Device:
Dirac
OS:
10.11
Browser:
Safari
Problem Description:
For https://github.com/phetsims/QA/issues/464
When you are using keyboard nav in safari full screen, moving between solutes will give the mac sound for "you can't do that" a sort of donk sound. This occurs even when the sim is muted.

Visuals:
https://drive.google.com/file/d/14tI1k6jgZmbL3CZN6MlSDHqptBPdtGGd/view?usp=sharing

[2020-01-06 22:08] ariel-phet commented on #208
@KatieWoe @emily-phet @zepumph

I agree with @zepumph - this is not a bug. Whichever interaction mode you are using takes precedence. In web browsers, this behavior seems to be a well established precedent. The moment you switch to one mode or the other it overides. For instance if you tab navigate github then use your mouse, the keyboard highlight goes away and vice versa.

I think this issue can

[2020-01-06 22:10] KatieWoe commented on #208
Quick note though, it only goes away when they overlap. Otherwise you have both at once.

[2020-01-06 22:54] zepumph commented on #206
https://phet-dev.colorado.edu/html/molarity/1.6.0-dev.1/phet/molarity_en_phet.html

[2020-01-07 00:13] zepumph commented on #210
@jessegreenberg I unfortunately don't have a mac I can work this one out on. Do you mind taking a look, or perhaps we can pair on it tomorrow during dev meeting?

[2020-01-07 00:20] zepumph commented on #206
Please close if all sounds as expected.

[2020-01-07 00:23] zepumph commented on #189
Yes that think that may be helpful, though in one particular case I decided to move the logic from a Property link over to the endDrag of a slider (https://github.com/phetsims/molarity/issues/206). I'm excited to see how https://github.com/phetsims/axon/issues/276 goes.

[2020-01-07 00:24] zepumph commented on #198
There is already an issue open for the last remaining checkbox, and an RC version has been created. I'm going to close this.

[2020-01-07 00:24] #198 closed

[2020-01-07 00:29] zepumph commented on #208
Right! I see that too. I think after playing with it, I see what you are saying @KatieWoe, you can get an unhighlighted item with focus highlight around it. That said the added complexity that it would take to handle this cross-input-device style is more than I think the issue warrants, especially hearing from @ariel-phet. Closing

[2020-01-07 00:29] #208 closed

[2020-01-07 16:56] KatieWoe opened #211 "iOS 11 returning to sim causes delay in input"
**Device**
Dalton
**OS**
iOS 11.4.1
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/464
If you go to a new tab (such as when you open a screenshot) and then return to the sim, there will be a few seconds where inputs are not registered. After a second or two the missed inputs will occur rapid fire and the sim will begin to behave normally. This didn't seem to h

[2020-01-07 16:59] KatieWoe commented on #211
Also didn't seem to occur in iOS 12

[2020-01-07 17:23] KatieWoe commented on #211
Also seems to happen on a fresh load of the sim.

[2020-01-07 18:10] zepumph commented on #199
There may be commits here to cherry pick into the next rc.

[2020-01-07 19:15] arouinfar opened #212 "Sliders should use constrainValue"
Tangentially related to https://github.com/phetsims/QA/issues/464.

I was working on editing the Teacher Tips (#161) to add some clarification around max concentration vs. saturation (#154 & #196). I noticed that I could reliably reach maxConcentration without triggering precipitation using keyboard navigation, but it rarely worked if I used the mouse or a combination of mouse+keyboard. As a resul

[2020-01-07 20:30] KatieWoe opened #213 "Possible to perform actions and reset sim with solute menu open"
**Device**
iPad 6th generation
**OS**
iPadOS 13.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/464. Occurs when using VO on the iPad.
It is possible to use VO to leave the solute menu without closing it and perform other actions while it is open. The most noticeable it resetting the sim. This resets most things, but does not close that menu.
**Steps to Repro

[2020-01-07 20:39] KatieWoe commented on #213
Works both forwards and backwards.

[2020-01-07 21:14] KatieWoe opened #214 "Possible to use touch to move slider and select solute at once"
For https://github.com/phetsims/QA/issues/464. Fairly minor multitouch issue.
I noticed an odd behavior in molarity. It's in the published version. You can use one touch to both change a slider and select a new solute.
1. Use touch to open the solute menu
2. Drag finger along options
3. Without lifting up, move finger over a slider to grab it
4. Move finger back to menu and lift up to make a selec

[2020-01-07 21:29] KatieWoe opened #215 "Chemical formulas read out as words"
For https://github.com/phetsims/QA/issues/464. Similar in nature to https://github.com/phetsims/molecules-and-light/issues/255.
Found when testing iPad VO. When vowels were in the chemical formulas and could make pronounceable sounds, they would be read as words, rather than as individual letters. The most problematic is NO (as in nitrogen and oxygen) being read as "number."

[2020-01-07 22:13] KatieWoe opened #216 "Home and End jump to the beginning and end of scene description as well as slider"
**Test device**
Mac Book Pro
**Operating System**
10.15.2
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/464. Found with MacOS VO.
When using home and end to jump to the ends of sliders, VO will read off the beginning or end of the scene description, instead of the new slider value. It then reads the new molarity. If you then move the slider (using the arrow k

[2020-01-07 23:39] lmulhall-phet opened #217 "Unclear word choice in "Solute Amount" scale description"
For https://github.com/phetsims/QA/issues/464. Related to https://github.com/phetsims/molarity/issues/116.

I think the word choice in the "Solute Amount" section of "Beaker Solution Controls" in Molarity is unclear. The word choice is:

Description | Range for Moles
-- | --
{{max amount of}} | 1.000 moles
{{a lot of}} | 0.850 to 0.950 moles
{{a bunch of}} | 0.650 to 0.800 moles
{{some}} | 0.450 t

[2020-01-08 19:55] zepumph commented on #213
@jessegreenberg @terracoda, this is the first sim to use a combobox, I wonder if we ever talked about the modality of the combobox. Should we be hiding other accessible views while it is open (more like a dialog than a sim component?

[2020-01-08 20:03] terracoda commented on #217
@lmulhall-phet, great feedback. Descriptions for scales are a challenge, and I think in this sim @Matthew-phet and I were trying to strike a balance between casual, fun, words that still give a sense of increasing and decreasging quantity.

The sim is very simple and playful and colorful. In addition, there is an exact value mode when precision is needed. So rough ideas, rather than super precise

[2020-01-08 20:11] Matthew-phet commented on #217
Yeah those changes @terracoda look good, personally I like {{a tiny bit of}} the most but I am also okay with {{a bit of}}

[2020-01-08 20:22] KatieWoe commented on #213
Note that I couldn't find a way to do this on computer, just iPad from what I saw.

[2020-01-08 20:23] terracoda commented on #217
@lmulhall-phet, while your concerns are valid, these phrases impact other parts of the design - minimal changes to the phrasing are preferred.

**2.  Replace "a low amount of" with "a little", and add "a tiny bit of" to indicate the range before zero ("no solute").**

Description | Range for Moles
-- | --
{{max amount of}} | 1.000 moles
{{a lot of}} | 0.850 to 0.950 moles
{{a bunch of}} | 0.650 to

[2020-01-08 22:47] terracoda commented on #217
@lmulhall-phet, please add any further concerns you might have about this decision. We can keep them in mind for future designs.

[2020-01-08 22:58] lmulhall-phet commented on #217
As long as other people aren't confused by the word choice, I think it's fine. I was just worried that it might be confusing.

[2020-01-08 23:33] terracoda commented on #213
@jessegreenberg, ideally the popped-up listbox should close when it loses focus.

[2020-01-08 23:34] terracoda commented on #213
@zepumph, good point, the combobox pattern has not been thought through yet for mobile accessibility.

[2020-01-08 23:36] terracoda commented on #213
@zepumph, I was thinking the same thing, treat it more like a dialog, and prevent access to the rest of the sim when it is open (has focus or any of its items has focus).

[2020-01-09 00:23] jessegreenberg commented on #217
I think that would be a straight forward change, usages of these strings all go through a single function. Ill proceed with it.

[2020-01-09 00:39] jessegreenberg commented on #217
Change was made in the above commit. As far as I can tell, these strings are used in the screen summary, and in the aria-valuetext.
![image](https://user-images.githubusercontent.com/6396244/72027850-80534480-324e-11ea-963b-f8163f57a9a4.png)

![image](https://user-images.githubusercontent.com/6396244/72027863-8812e900-324e-11ea-8802-9382d831cd8e.png)

@terracoda can you please review to make sure

[2020-01-09 00:41] jessegreenberg opened #218 "Unused capitalized solute amount strings"
In #217 I noticed that soluteAmountRegions.capitalized strings don't seem to be used in this sim right now. Both usages (screen summary and aria-valuetext) use lower case

![](https://user-images.githubusercontent.com/6396244/72027850-80534480-324e-11ea-963b-f8163f57a9a4.png)

![](https://user-images.githubusercontent.com/6396244/72027863-8812e900-324e-11ea-8802-9382d831cd8e.png)

@zepumph is this

[2020-01-09 00:57] zepumph commented on #218
I trust you if they aren't being used currently. I think that in general aria-valuetext is supposed to be lowercase, and alerts are supposed to be capitalized. @terracoda does it seem right to you the way regions are capitalized now? If so please close, otherwise assign back to @jessegreenberg.

[2020-01-09 01:20] zepumph commented on #213
I like this idea! It seems simple and complete.

[2020-01-09 13:59] terracoda commented on #206
When testing yesterday, I didn't notice anything strange.

[2020-01-09 13:59] #206 closed

[2020-01-09 14:30] terracoda commented on #218
There were a lot issues around capitalization for this sim. The general strategy, is indeed, to follow what @zepumph said above.

If a region variable never appears at the beginning of a sentence in an alert (context response) or in the pdom (dynamic state description) then there would be no use of the capitalized strings for region names.

This seems very right to me, @jessegreenberg. Assign to m

[2020-01-09 16:47] jessegreenberg commented on #213
That sounds good to me too, Ill add that to ComboBox. This is most consistent with https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-collapsible.html which our ComboBox is based on. For iOS this means that it will close once the user has clicked on a button or something outside of the box.

[2020-01-09 16:51] jessegreenberg commented on #215
Like https://github.com/phetsims/molecules-and-light/issues/255 I don't think there is anything we can do about this other than certain workarounds.
From https://www.levelaccess.com/zip-z-p-z-p-forcing-correct-pronunciation-screen-readers/

@terracoda is this something that PhET needs to address or can this be closed?

[2020-01-09 17:10] zepumph commented on #213
I like this, and also think that this is preferable to hiding other content when the list box is open (like a dialog).

[2020-01-09 17:14] terracoda commented on #213
There might be some details here, too: https://phetsims.github.io/binder/#sun-ComboBox

[2020-01-09 17:21] terracoda commented on #213
Oh, I see in that doc, it says, "gesture to do" :-)

[2020-01-09 20:07] terracoda commented on #218
@jessegreenberg, I verified in the A11y View. It all looks to good to me - no capitals needed on region names for Solute Amount or Solution Volume.

[2020-01-09 20:26] terracoda commented on #215
I reviewed the A11y View and all the formulas look correct (proper capitalization and sub-scripted numbers). I also think they all sound prett good. Because they are in the PDOM, screen reader users can use letter-by-letter reading to to analyze the content if they need to.

When I looked at the code, I see we are not using an `abbr` tag. And I see teh subscripted "4" in the screenshot below is ou

[2020-01-09 20:49] terracoda commented on #215
I think when we investigate more with MathML, we can look into this deeper - there is a ChemML, but I have no idea if it is any good or supported by screen reader software.

@jessegreenberg, after publication we can test the `abbr` tag, we have chemical names in Molecules and Light, so we can experiment there and leave this as a possible maintenance release if we discover a nice solution for MAL.

[2020-01-09 20:50] terracoda commented on #215
Just adding a couple more links I saw, which I might look at more later.
- https://webaim.org/discussion/mail_thread?thread=7200
- https://en.wikipedia.org/wiki/Chemical_Markup_Language#Versioning

[2020-01-09 20:52] terracoda commented on #215
@jessegreenberg, also, I think @twant may have tried the `abbr` tag, but I can't be sure.

[2020-01-09 20:53] terracoda commented on #215
Re-posting my comment for wrapping up:

[2020-01-10 20:29] jessegreenberg commented on #218
OK, thanks! Ill remove the capitalized strings and simplify the function since they are not used.

[2020-01-10 20:42] jessegreenberg commented on #218
Inspecting the code it looks like the capitalized form used to be used when `useQuantitativeDescriptionsProperty` was true. But now none of these strings are used when quantitative descriptions are being shown. So it feels safe to remove.

[2020-01-10 21:01] jessegreenberg commented on #215
Thanks for inspecting @terracoda. I am not concerned about the quotations. I don't think it is about translation but more about how the dev tools display text. If the element is copied out of dev tools the quotes go away.
[code]

Going to make a note in the QA screen reader document that we don't expect the device to read chemical formulas correctly.

[2020-01-10 21:08] jessegreenberg commented on #215
OK made note, closing.

[2020-01-10 21:08] #215 closed

[2020-01-10 21:17] jessegreenberg commented on #216
Ah, I think we have seen this before and found it is something we cannot work around. Ill look.

[2020-01-10 21:27] terracoda commented on #215
@jessegreenberg, thanks for letting me know that the quotes are from devtools!

[2020-01-10 21:35] jessegreenberg commented on #215
Well, its my best guess anyway!

[2020-01-10 21:46] jessegreenberg commented on #216
I found it! https://github.com/phetsims/a11y-research/issues/149

It is an Apple bug and @zepumph submitted a bug report about it. Basically, Home and End keys will move the virtual cursor AND move the slider thumb.

I want to make sure that @terracoda is aware of this. Changing the PDOM HTML may resolve this. For example, removing an `aria-labelledby` in GFL resolved the issue. But I don't know i

[2020-01-10 21:48] terracoda commented on #216
This is about how VO navigates groups... we had this issue in GFL or GFLB.

[2020-01-10 21:49] jessegreenberg commented on #214
Confirmed. I suspect this is not an issue with Molarity but with ComboBox and touch snag.

[2020-01-10 21:50] jessegreenberg commented on #216
I see, understood. Does this require further attention or can we note in screen reader bug tracker and close?

[2020-01-10 21:52] terracoda commented on #216
What we did in GFL is remove the aria-labelledby which was basically crating the group.

[2020-01-10 21:53] jessegreenberg commented on #214
Yes, this is happening in beers-law-lab as well.

[2020-01-10 21:54] terracoda commented on #216
Apologies, I didn't read the issue title properly. Is this a problem?

[2020-01-10 22:00] jessegreenberg commented on #216
In my opinion, it is a problem but not one we should spend time working around since it is mostly an issue with VoiceOver. I recommend that we make note of this in the screen reader bug tracker so we can ignore all issues like this in the future until Apple has it resolved. Is that OK with you?

[2020-01-10 22:04] terracoda commented on #216
I'd just like to understand what @KatieWoe experienced a little better.
Is there and aria-labelled by on the "Beaker Solution Controls" heading?

[2020-01-10 22:09] jessegreenberg commented on #216
There are three aria-labelledby attributes in the Molarity PDOM. One on the ComboBox. One on the ComboBox list. And one on the "Sim Resources" navigation bar.

[2020-01-10 22:16] jessegreenberg commented on #214
I made https://github.com/phetsims/sun/issues/556 to see if this needs to be fixed, on hold until that issue is resolved or closed.

[2020-01-10 22:28] terracoda commented on #216
I can't reproduce this issue. I'll try reading to the slider, and see if that does it.

[2020-01-10 22:40] terracoda commented on #216
Nope, still can't reproduce.
I don't know how @KatieWoe is getting to the slider. I tried go there with the tab key and with the cursor keys, and with the mouse.

I cannot reproduce. It might be related to version.

@jessegreenberg, The `aria-labelledby`'s on the combobox are needed, and we don't ahve a problem with the navbar, so all is good.

Please do as you suggested, make a note, so QA is awa

[2020-01-10 22:43] jessegreenberg commented on #216
OK sounds good  - it may also depend on your keyboard @terracoda, I was able to reproduce on my mac by pressing "fn" + "right arrow" while focus was on the slider. But if you have a dedicated "end" key on your keyboard it may not happen.

[2020-01-10 22:55] terracoda commented on #216
I was also using "fn" and arrow keys.

[2020-01-10 23:04] terracoda commented on #216
Anyways, no worries. Please make the note and close :-)

[2020-01-11 03:40] terracoda commented on #217
Apologies @jessegreenberg, I verified this on Thursday, and forgot to post. The strings all look good to me, too.

[2020-01-11 03:40] #217 closed

[2020-01-11 03:42] terracoda commented on #213
@jessegreenberg, let me know if you need any help from me on this.

[2020-01-11 03:53] terracoda commented on #212
@arouinfar, we also noticed this issue during the description design process, and struggled quiter a bit with it because teh sim model relies on precipitate to show up to say saturated.

 We figured this was intentional, but in retrospect maybe we should have reached out to you.

We solved this problem in the description design by having a third value, "Solution darkest", so in the fairly rare, bu

[2020-01-11 03:55] terracoda commented on #212
Use the a11y view and let me know what you think of the descriptions when you transition through this max concentration.

Or see what I have in the design doc here:
https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.smmn6gmb7xfr

[2020-01-13 22:29] jessegreenberg commented on #216
Hmm, I am not sure then!  OK I made note in the screen reader bug tracker, closing this issue.

[2020-01-13 22:29] #216 closed

[2020-01-14 01:39] jessegreenberg commented on #214
https://github.com/phetsims/sun/issues/556 has been closed and determined to be low priority so we are going to proceed with publishing without addressing this issue.

[2020-01-14 01:39] #214 closed

[2020-01-14 15:14] jessegreenberg commented on #213
I made https://github.com/phetsims/sun/issues/557 for this since, fix proposed there.

[2020-01-15 15:51] jessegreenberg commented on #212
I discussed with@emily-phet and @terracoda to understand better - When working on alternative input we were actually nervous that keyboard input allowed easy/reliable access to max concentration without seeing precipitate. This point isn't an important learning goal of the sim, and there isn't anything in the sim that visually indicates it is important or why. And so it was decided that we handle

[2020-01-15 19:18] jessegreenberg commented on #211
Thanks @KatieWoe , very unlikely to be a sim issue and probably applies to many. I will try to reproduce.

[2020-01-15 19:28] jessegreenberg commented on #211
I am not able to make this happen on iOS 13.3.

[2020-01-15 19:46] arouinfar commented on #212
@jessegreenberg @terracoda thanks for the clarification.

My primary concern is that the values in the model and the view are not the same, so rounding issues will not be uncommon.

In this example, if we calculate the molarity form the values on the solute and solution sliders, the molarity will not match the solution concentration (0.574/0.287 = 2).
![image](https://user-images.githubusercontent

[2020-01-15 19:55] jessegreenberg commented on #211
OK I can see this happening on iOS 11. While input is delayed the entire sim looks fuzzy, like a lower quality image of the simulation. And I think  that is exactly what it is, Safari is showing a cached image of the sim saved when tabs were switched. This also happens on other web pages not related to PhET - I see similar pixelation before the page becomes clear, though it only lasts for half a s

[2020-01-15 20:04] jessegreenberg commented on #211
I am not seeing this happen for other sims like diffusion or balloons-and-static-electricity.

Also, now that I have ~7 tabs open (a few sims, a few random web pages) I am not seeing this happen at all anymore on iOS 11. This just feels like a Safari optimization to make the open web pages faster. I am not sure why in some cases it occurs and others it doesn't or why there seems to be ~1 second mo

[2020-01-15 20:08] jessegreenberg commented on #211
@ariel-phet can you please take a look at this issue and https://github.com/phetsims/molarity/issues/211#issuecomment-574833431? Does this issue need to block publication of molarity? Does this issue require further work (probably in scenery somewhere)?

[2020-01-15 20:15] ariel-phet commented on #211
@jessegreenberg @KatieWoe considering that the sim returns to normal fairly quickly, and this is an older iOS, I am not particularly concerned.

Looking at this website, https://david-smith.org/iosversionstats/, it appears iOS 11 is down to about 1% (we should have Oliver check into usage stats, and we might consider dropping support in the near future). Marking as `wontfix`

[2020-01-15 20:15] #211 closed

[2020-01-15 22:55] jessegreenberg commented on #212
Done in the above commit, @arouinfar can you please review?

[2020-01-15 22:56] jessegreenberg commented on #210
I feel as if we have encountered this before, I will  search through some older issues.

[2020-01-15 23:03] jessegreenberg commented on #210
Found what I think I was thinking of: https://github.com/phetsims/friction/issues/167

In this issue it is from the WASD keys. We resolved it by adding `preventDefault` to the keyboard event listeners.

[2020-01-15 23:10] jessegreenberg commented on #210
And to clarify, the "bonk" happens when any key is pressed, not just arrow keys. I think we need a general solution to this so that we don't need to add `preventDefault` in these cases.

I also found this thread about it, but just for video: https://discussions.apple.com/thread/250846147, no mention of  a fix.

[2020-01-15 23:18] arouinfar commented on #212
Looks good in master. Thanks @jessegreenberg!

[2020-01-15 23:20] jessegreenberg commented on #212
OK  thanks! Going to keep open as a self-reminder to propagate to the RC.

[2020-01-15 23:21] jessegreenberg commented on #209
OK it is probably time for this. @KatieWoe what is usually the next step for an issue like this?

[2020-01-15 23:23] KatieWoe commented on #209
When it comes up for rc with the rc you want images taken with, assign this issue with the "issues to verify"

[2020-01-16 14:26] jessegreenberg commented on #210
Fixed in the above commit.

[2020-01-16 15:13] zepumph commented on #210
This looks great, but the issue linked in the commit is incorrect, as 210 is in molarity.

[2020-01-16 21:48] arouinfar commented on #161
Updated teacher tips are ready and awaiting redeploy.

[2020-01-20 16:07] terracoda commented on #213
@jessegreenberg, I was playing with Molarity
https://phet-dev.colorado.edu/html/molarity/1.6.0-dev.1/phet/molarity_en_phet.html?a11y

on my iPhone with VoiceOver on, and the combobox didn’t collapse even after a reset.

Is 1.6.0-dev.1 the latest version?

If not, can you make a dev version with the latest changes (loss of focus closes the popped-up list of Solutes)?

And I will test again.
Behavio

[2020-01-21 20:23] jessegreenberg commented on #210
Thanks for reviewing! I too often make that mistake, but this time I think the reference for https://github.com/phetsims/sun/commit/55602a26180bf805e3ff4b1235582df91ae3e8c3 is correct as this is phetsims/molarity#210

[2020-01-21 22:22] jessegreenberg commented on #213
Sorry @terracoda, 1.6.0-dev.1 does not include this change. Here is a latest dev version where the combo box closes when focus leaves it:
https://phet-dev.colorado.edu/html/molarity/1.6.0-dev.2/phet/molarity_en_phet.html

[2020-01-21 22:54] jessegreenberg commented on #213
Status update for this issue:
We can either have the behavior such that the list box traps focus/virtual cursor so that user cannot interact with other things while the list box is open, or we can allow virtual cursor to move outside of list box (but close when focus changes) and allow user interaction outside of box.

The second option is how it is currently implemented.

We found examples of bot

[2020-01-23 17:37] terracoda commented on #213
@jessegreenberg, I haven't got feedback yet. I will test the latest version today and post my thoughts.

[2020-01-24 02:32] terracoda commented on #213
@jessegreenberg, I tested the new link and it works much better. And I also see better now the wider context of the issue.

When the combobox is open, I have to swipe horizontally to move to a new Solute. This works great. Swiping up and down, however, moves to the next heading in the pdom moving the virtual cursor outside the open listbox and into the surrounding PDOM content. It seems like the o

[2020-01-24 02:34] terracoda commented on #213
@jessegreenberg, if you/we can't move solute with vertical swipes, I think we will need to go to the more restrictive dialog solution.

[2020-01-24 16:04] jessegreenberg commented on #213
No, this would not be possible but this would also not be better for the user. The behavior you described is just how VoiceOver works.  Left/Right swipes move to previous/next items. Up/down swipes move to previous/next items *as set by your rotor*. So if set to "headings" it will move between them, and that is the expected behavior.

Do you still think we should go with a more restrictive solutio

[2020-01-24 16:54] terracoda commented on #213
@jessegreenberg, I think so. I think it could be very confusing to have to touch an item in the popped up listbox to get focus back in there if focus is moved outside the box with an up/down gesture.

Unless, I am missing something? I don't know how to get focus back on the popped up list without touching it directly.

Do you have any thoughts?

[2020-01-24 16:57] terracoda commented on #213
And I was lookig around for VO gesture advice for listboxes and comboboxes for a bit, and can't seem to find anything specific. I'll reach out to the list one more time with simpler question.

Advice or expected behaviour for VO gesture support for a popped up list box or combobox.

[2020-01-24 17:07] jessegreenberg commented on #213
That is not the only way, you can also use normal left/right gestures to move virtual cursor back into the combo box if cursor leaves it.

[2020-01-24 17:44] terracoda commented on #213
Just an FYI to myself... I noticed and posted on slack:

[2020-01-28 16:29] terracoda commented on #213
Over the past couple of days, I got a several responses from people on the public-ARIA list and the W3C-WAI-IG list. @SinaBahram, Matt King, @marc_haunschild on Molarity's combobox interaction (a.k.a button that has popped-up listbox).

An important, but unrelated comment from @SinaBahram was that "the Unicode characters everywhere which make the speech very frustrating to listen to". I'll post a

[2020-01-28 17:39] terracoda commented on #213
@jessegreenberg and @terracoda discussed the resources, ideas, and possibilities that were brought up in the previous comment.

We feel that while our current implementation is accessible on iOS with VO enabled, it is not optimal as it behaves differently from the native `select` would, specifically, a user can easily flick in and out of the popped up list of options without the list of options cl

[2020-01-29 21:21] terracoda commented on #213
@jessegreenberg and I briefly met and our dialog-ides for the listbox won't work because of the way Accessible Order currently works in Scenery.

We can hide the rest of the PDOM when a dialog is popped up because the dialogs are on top of everything else. However, with the combobox in Molarity, the popped-up list has content layers above and below it in the Accessible Order. It is not trivial (no

[2020-01-29 21:30] jessegreenberg commented on #213
Thanks for summarizing @terracoda. Im going to keep this open as a reminder because changes from https://github.com/phetsims/sun/issues/557 still need to go into the release branch.

[2020-01-29 21:32] terracoda commented on #213
Yes, the original issues are fixed.

[2020-01-29 23:23] KatieWoe commented on #213
This sort of thing also happens with the PhET menu and was seen in https://github.com/phetsims/QA/issues/471

[2020-01-29 23:41] jessegreenberg commented on #213
Thanks @KatieWoe that makes a lot of sense. I verified that the PhET Menu closed when activating a button outside of it with iOS VoiceOver, which is correct behavior. This is acceptable behavior for now. If we address https://github.com/phetsims/scenery/issues/1033 we will be better equipped to trap the virtual cursor inside menus.

[2020-01-30 00:36] terracoda commented on #213
@KatieWoe, thanks for adding the co

[2020-02-03 05:18] terracoda commented on #99
@emily-phet and @jessegreenberg, I am not sure what to do with this issue. It's a bit different than the A11y Features checklist. I added the date for the completion of the first RC Test (https://github.com/phetsims/QA/issues/464). I think the sim is getting close to publication.

[2020-02-05 04:45] zepumph commented on #213
I am going to proceed with https://github.com/phetsims/QA/issues/471 without taking any commits from this issue.

[2020-02-05 05:41] zepumph commented on #213
@jessegreenberg in lieu of doing https://github.com/phetsims/scenery/issues/1033, do you think that we could make the listBoxParent `sim.topLayer` or something? That is a pretty fragile choice, but perhaps there is something that we could do to put place this outside of the screen hierarchy. Likely we could calculate its positioning and wouldn't need to disrupt much. Here is some sketchy code that

[2020-02-06 17:17] jessegreenberg commented on #199
@terracoda can you please verify that this is resolved in https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.3/phet/molarity_all_phet.html

(a11y view) https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.3/phet/molarity_a11y_view.html

[2020-02-06 17:21] jessegreenberg commented on #212
I verified that this made it into rc.3

[2020-02-06 17:21] #212 closed

[2020-02-06 17:28] jessegreenberg commented on #218
This was moved into the next RC, closing since there is nothing specific for the qA team to verify.

[2020-02-06 17:28] #218 closed

[2020-02-06 21:13] KatieWoe commented on #200
Looks good in rc.3

[2020-02-06 21:13] #200 closed

[2020-02-06 22:30] loganbraywork opened #219 "Long stringtest causes sliders to change position"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/476

The long stringtest leads to the sliders changing position.
**Steps to reproduce**
1. Add query parameter ?stringTest=long
2. Observe sliders
**Visuals**
![2020-02-06MlrtyLngSttst](https://user-images.githubusercontent.com/54685448/73984178-52

[2020-02-07 13:32] terracoda commented on #199
@jessegreenberg, the context responses around zero concentration are working perfectly.

If I jump from the "solution darkest" state (saturated with no precipitate) to zero solute, I get:
"no potassium dichromate" then "Zero concentration. Solution pure water."

This is perfect because we describe being saturated in the previous sate.

If I jump from a described saturated state (i.e. saturated and

[2020-02-07 13:59] emily-phet commented on #99
@terracoda Can you create issues for updating the Teacher Guide (assign to Brett and Amy) and for creating a sound features video (assign to Brett)? That's some of the remaining unchecked checkboxes at the top of the list above.

[2020-02-07 14:29] jessegreenberg commented on #199
Great, thanks for checking.  Closing since this has successfully moved into the RC branch.

[2020-02-07 14:29] #199 closed

[2020-02-07 14:38] jessegreenberg commented on #219
Thanks for reporting @loganbraywork, but I don't think this issue requires time. The layout for i18n needs to be graceful but it doesn't need to be identical. The example gif here shows graceful handling of extremely long strings.

Closing.

[2020-02-07 14:38] #219 closed

[2020-02-07 14:52] jessegreenberg commented on #213
That seems reasonable. I would like to ask the author of ComboBox why listParent is required instead of putting on top layer. Maybe layering it under something was important for a sim.

[2020-02-07 15:08] terracoda opened #220 "Update Teacher Guide, Molarity will be published soon"
From #99, we need to update the Teaching Guide for Molarity. It will soon be published with the following features:
- alternative input
- interactive description
- interactive description on ios
- sound & sonification

Tagging @BLFiedler and assigning to @arouinfar. Please re-assign as needed.

There is a special note about the description which may be relevant to the Teacher Guide. This is that t

[2020-02-07 15:19] BLFiedler commented on #220
I can add the A11y features and sonification section similar to John Travoltage and the others I've recently done. Is the Molarity Sound Design Doc updated?

[2020-02-07 15:30] terracoda commented on #220
@BLFiedler, I don't know about the state of the Sound Design Doc, maybe @Ashton-Morris could comment? If all you need is the list of important sim sounds, I can give you that.

[2020-02-07 15:38] BLFiedler commented on #220
@arouinfar Let me know if there are other modifications you need to make and I'll wait until you've made your edits

[2020-02-07 15:55] terracoda commented on #220
The sim has general UI sounds (Reset All button, Checkbox checked and unchecked sounds). There is also a sound when the List of Solutes pops up. I am not sure if that is a general UI sound for an opening combobox or if it is specific to Molarity. The scaled sounds for the Solutes, I think are specific to Molarity. If this detail is important, reach out to @Ashton. This is our first combobox intera

[2020-02-07 16:44] BLFiedler opened #221 "Molarity Sound Features Video Script and Recording"
Make sound features video script and review with team

https://drive.google.com/open?id=1wWDkTqpher8ghC-9okw2cQ0RHTOIMFOwgQ-FNlqB7CQ

Recording will happen after.

[2020-02-07 17:52] arouinfar commented on #220
@BLFiedler I've already updated the Teacher Tips in #161. The latest version can be found in the sim folder on Drive: https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYdDltZHlxdS12Zzg

[2020-02-07 17:59] BLFiedler commented on #220
Awesome. I can take care of this Monday when I have access to a Mac with Pages.

[2020-02-07 18:55] terracoda commented on #140
In addition to QA credits, we need update other credits.

@emily-phet could you verify the following? Am I missing anyone? I added Brianna to Team.

- Software Development: Chris Malley (PixelZoom, Inc.), Taylor Want, Michael Kauzmann, John Blanco, more?
- Team: Kelly Lancaster, Emily B. Moore, Matthew Moore, Robert Parson, Kathy Perkins, Taliesin Smith, Brianna Tomlinson?
- Sound Design: Ashton M

[2020-02-07 18:57] terracoda commented on #140
@jessegreenberg, I don't know how the name ordering works for the dev list. Please adjust as needed and add names if I missed any.

[2020-02-07 21:10] lmulhall-phet opened #222 "Opening link in about menu with keyboard navigation opens two tabs"
For https://github.com/phetsims/QA/issues/476. I noticed that opening a link in the about menu with keyboard navigation opens two tabs. I've seen this in macOS + Chrome and macOS + Safari. I tried to replicate this with John Travoltage, BASE, and Friction on the website, but I wasn't able to, hence posting this issue in the Molarity repository.

This doesn't work with the "Report a Problem".

[2020-02-07 22:23] KatieWoe commented on #140
More QA additions: Jaspe Arias, Logan Bray, Liam Mulhall

[2020-02-07 22:50] jessegreenberg commented on #222
Confirmed.

[2020-02-07 23:06] jessegreenberg commented on #222
Ah, I am also seeing this on Windows machines too.

[2020-02-07 23:11] jessegreenberg commented on #222
@lmulhall-phet can you please test master after the above commit and make sure this is fixed?

[2020-02-07 23:15] lmulhall-phet commented on #222
I just pulled on phettest, but it doesn't seem to be fixed on macOS + Chrome.

[2020-02-07 23:42] jessegreenberg commented on #222
Sorry @lmulhall-phet I may have assigned to you too soon. I see the scenery repo is out of date on phettest, can you try pulling that and checking again?

[2020-02-07 23:46] lmulhall-phet commented on #222
Ah, I feel stupid. Seems to be fixed now. Thanks, @jessegreenberg.

[2020-02-07 23:49] jessegreenberg commented on #222
Excellent, thank you. Ill cherry-pick the sha to the scenery branch for the next rc.

[2020-02-08 01:19] emily-phet commented on #140
@taliesin - I think this sim was started around the time Brianna was stepping away from an active design role, and was only doing interviews (and analysis and writing up of already-collected data, that didn't include this sim).  Do you remember Brianna doing interviews with this sim? If you can't recall if she was, we can probably remove her from the list.

[2020-02-08 17:00] terracoda commented on #140
@emily-phet , I have not seen any interviews with Molarity, but I thought I saw some GT Interviews listed in the spreadsheet which is why I asked I was unsure. I will check the spreadsheet again.

[2020-02-09 22:09] jessegreenberg commented on #213
Instead of adding directly to topLayer, I think the next step is to use sim.showPopup. Unsure if that will work at this time.  See above issue.

I am moving this to https://github.com/phetsims/sun/issues/565 and closing the molarity report.

[2020-02-09 22:09] #213 closed

[2020-02-09 22:43] jessegreenberg commented on #222
Cherry-picked to scenery branch and dependencies.json updated to capture the SHA.

[2020-02-09 22:53] jessegreenberg commented on #140
Here are the credits now:
![image](https://user-images.githubusercontent.com/6396244/74111752-fe17b200-4b64-11ea-9311-a243f18e4287.png)

@KatieWoe @terracoda look OK?

[2020-02-10 16:07] KatieWoe commented on #140
@jessegreenberg you didn't add the QA people from https://github.com/phetsims/molarity/issues/140#issuecomment-567669937

[2020-02-10 16:16] jessegreenberg commented on #209
Ah, the rc has been prepared and no more graphical changes will be made, we are ready for this.

[2020-02-10 16:17] KatieWoe commented on #209
@arouinfar any changes you want to the existing ones?

[2020-02-10 16:25] arouinfar commented on #209
@KatieWoe please retake the current screenshots. I don't have any changes to suggest.

[2020-02-10 16:51] jessegreenberg commented on #140
Thanks @KatieWoe, added above
![image](https://user-images.githubusercontent.com/6396244/74170962-bbed7f80-4bfb-11ea-8fb2-f9a8cc99e70f.png)

[2020-02-10 16:53] KatieWoe commented on #140
Looks good.

[2020-02-10 17:30] KatieWoe commented on #209
Above commits should do it.

[2020-02-10 18:26] KatieWoe commented on #210
The arrow keys have stopped this behavior, but I noticed that also happens when you select one solute options, either with space or enter, and this does still occur. Much easier to notice if you have the sim muted at the time, as normal sounds can mask it otherwise.

[2020-02-10 18:58] KatieWoe commented on #213
rc.3 seems to be behaving as expected

[2020-02-10 19:26] KatieWoe opened #223 "Mobile VO skips when moving quickly"
For https://github.com/phetsims/QA/issues/476 but I checked and saw that it can happen in sims like Ohm's Law too.
When moving the sliders quickly, if you swipe two fingers up to start reading from the beginning, before the previous alerts are done reading, VO will sometimes stop reading or read from the wrong location. If it doesn't read anything, or stops reading, and you then move back to a sli

[2020-02-10 19:37] KatieWoe commented on #223
Update: Looked at Ohm's Law on iOS 12 VO and this issue did not seem to occur. The allert that you miss does interrupt the scene description briefly, but it then carries on with the description. This indicates that there has been some change to VO that caused this.

[2020-02-10 19:51] BLFiedler commented on #221
Update Molarity Teacher Tips to include presence of Sound Features video when complete

[2020-02-10 19:52] BLFiedler commented on #220
Will update to include sound features & a11y icons, but will not add reference to Sound Features video until it is complete (issue #221 )

[2020-02-10 20:00] terracoda commented on #220
Molarity almost everything:
- Interactive Description, Alternative Input, Mobile A11y, and Sound.

Just missing Zoom/Magnification.

[2020-02-10 20:09] terracoda commented on #140
@jessegreenberg, I am just reaching out to Brianna.

[2020-02-10 20:35] terracoda commented on #140
@jessegreenberg, please add Brianna Tomlinson to the Team list.

[2020-02-10 23:09] jessegreenberg commented on #223
OK thanks @KatieWoe - these kind of gesture issues are likely a VO bug and out of our control but I will try to make sure.

[2020-02-10 23:22] jessegreenberg commented on #223
I am getting this to happen in this basic HTML so it isn't anything about PhET sims.
[code]

Adding to a11y quirk tracker.

While testing this I also found inconsistent behavior with the two finger swipe up. Sometimes it goes to the "back button" sometimes it just goes to top of web page. I haven't found any reason for differences there yet, but we have an issue about this open already.

[2020-02-10 23:26] jessegreenberg commented on #223
Made note in document.

[2020-02-10 23:26] #223 closed

[2020-02-10 23:38] jessegreenberg commented on #210
So the workaround that we have for the arrow keys does not work for spacebar and enter. `event.preventDefault()` does not stop the "bonk" from playing in full screen mode.

I did some searching and did not find any solutions. But I did find lots of reports from users that this is happening on other sites too like youtube, see https://discussions.apple.com/thread/250846147.

It seems like there is

[2020-02-10 23:38] #210 closed

[2020-02-11 15:40] jessegreenberg commented on #209
Great, thanks! And I see that you put them in the rc branch too. Closing.

[2020-02-11 15:40] #209 closed

[2020-02-11 16:33] jessegreenberg commented on #140
Added in the above commits. I think thats everyone, closing this issue.

[2020-02-11 16:33] #140 closed

[2020-02-11 21:45] KatieWoe commented on #222
Looks good in rc4. Tested on Mac 10.15 chrome and safari

[2020-02-12 18:35] KatieWoe commented on #223
Note for future: This can also end up interrupting the alerts from the sliders in a similar way. https://github.com/phetsims/QA/issues/477

[2020-02-14 23:04] jessegreenberg opened #224 "Deploy molarity 1.5.0"
https://github.com/phetsims/QA/issues/477 (1.5.0-rc.4) was cleared for publication and so we are ready for deploy-production. However, this deploy will include i18n string changes (nested strings for a11y), and so it would be best to have @jbphet available when we actually deploy to  make sure that the publication goes smoothly with these changes. Assigning to myself  to coordinate with him.

[2020-02-17 19:36] KatieWoe commented on #222
Seeing this in https://github.com/phetsims/QA/issues/480

[2020-02-17 19:43] zepumph commented on #222
I need to cherry-pick https://github.com/phetsims/scenery/commit/876f3af68cea2e2ad2755e3ea5048ceab90d1eb2 to the GFL 2.2 branch.

[2020-02-17 21:25] Ashton-Morris commented on #220
I have updated the Molarity Sound Design document [which can be found here.](https://docs.google.com/document/d/1J05jC0mWOBz7S3FWTjVMvs7CiYpXibi5trA6xABPYw8/edit#)

If there are any specific details about the sound, names, and descriptions of sounds needed,  hopefully this document helps with that.

[2020-02-17 23:22] jessegreenberg commented on #224
Molarity 1.5.0 has been published and @jbphet verified that all seems well with rosetta. Closing.

[2020-02-17 23:22] #224 closed

[2020-02-17 23:24] jessegreenberg commented on #99
@emily-phet Molarity 1.5.0 has been published, does anything else need to be checked off here?

[2020-02-18 02:14] arouinfar commented on #161
Updated tips have been uploaded to the site.

[2020-02-18 02:14] #161 closed

[2020-02-18 15:44] emily-phet commented on #99
@jessegreenberg
Wonderful news!
Let's hold a post-mortem (I'll send out a slack message on this) and then we can make some tweaks to this checklist (e.g., editing or completing the unchecked options above).

[2020-02-20 18:22] emily-phet opened #225 "Create Social Media post for Molarity"
Molarity is published, but not publicly announced.

Who wants to take the first go at drafting the email and Twitter announcement?

Here's an example of the last sim email announcement (number line integer):

<img width="802" alt="Screen Shot 2020-02-20 at 10 19 38 AM" src="https://user-images.githubusercontent.com/5109055/74965681-8a7a6e00-53ca-11ea-88da-354622df6b7e.png">

Here's the last sim a1

[2020-02-25 21:11] KatieWoe opened #226 "Title not translatable"
For https://github.com/phetsims/QA/issues/482
String tests show that the molarity title on the nav bar isn't translatable. It is in the published version.
![molaritynottranslated](https://user-images.githubusercontent.com/41024075/75288012-b174dd80-57d8-11ea-8560-54f50a3a679f.png)

[2020-02-25 21:34] jonathanolson commented on #226
This is something else where I believe it's fixed now.

Just updated a new version of molarity built with what I have in my working copy:

https://phet-dev.colorado.edu/molarity-modules-test/molarity_en_phet.html?stringTest=asrtlkn

I can confirm that it seems broken before, and working now. My suspicion is that removing the string workarounds for https://github.com/phetsims/chipper/issues/832 fix

[2020-02-25 21:36] #226 closed

[2020-03-02 20:04] emily-phet commented on #225
@Matthew-Moore240 - just pinging you on this.

[2020-03-02 20:05] emily-phet commented on #221
@BLFiedler Just pinging you on this - we had the postmortem and are hoping to get all loose ends with this sim wrapped up soon. Please mention here in March if it seems like you will or will not be able to finalize the Sound Features and Teacher Tips this quarter.

[2020-03-02 20:37] emily-phet opened #227 "Update Interactive Description Design Doc"
This issue is in response to @terracoda adding this to remaining to-do's for the Molarity in today's postmortem.

The goal for the design doc is that it documents the final design, it can also serve as an archive our documentation showing the design process.

Ideally, when a sim is published, there top of the document shows the "design-complete" or "final" design of the sim, and below that may be

[2020-03-02 20:38] BLFiedler commented on #221
Yeah - plan was to devote time to that this week. I added a question to the design doc that would be helpful in creating the script for Molarity. @Ashton-Morris , can you take a look and answer if you can?

[2020-03-02 20:39] emily-phet commented on #227
Let's aim to have this done by the end of the Q1 if at all possible. It would be ideal to not carry any Molarity tasks with us into Q2. @terracoda - let me know if this seems problematic with your other rocks. Hopefully @Matthew-Moore240 can support this significantly.

[2020-03-02 20:41] emily-phet opened #228 "Update Sim page credits"
This is in response to the Molarity post-mortem meeting.

@terracoda you mentioned you may have some insight into doing this. If it's as simple as just copying some text from the sim into the admin interface, can you please do this - perhaps during status meeting this week?

In the future, we will work more with a fully integrated team and this will be on the general sim designers checklist. Also,

[2020-03-02 20:44] emily-phet commented on #99
Issues have been created for all remaining checklist items above that we will be addressing. Please close this once all related issues are closed.

[2020-03-02 20:45] terracoda commented on #227
@emily-phet, you have pointed out a big difference in how the Main Sim design docs have worked and how I have used the Interactive Description design doc.

In the Interactive Description Design doc, I have never organized from top to bottom by Design Meetings. But rather to outline a first draft of the different types of descriptions. Once implementation starts things can get really messy since id

[2020-03-02 20:45] terracoda commented on #227
It shouldn't be a problem to get it done by end of quarter.

[2020-03-02 20:52] emily-phet commented on #221
@BLFiedler - I edited the doc in response to your question.
The presence of the "tinkle" sound indicates saturation. Change in pitch of the "tinkle" sound indicates amount of precipitate.

[2020-03-02 21:06] BLFiedler commented on #221
First pass on a Molarity script made:

https://docs.google.com/document/d/1wWDkTqpher8ghC-9okw2cQ0RHTOIMFOwgQ-FNlqB7CQ/edit?usp=sharing

// Start recording
Welcome to PhET Interactive Simulations!
In this video, I’ll show you the sound features in the simulation Molarity.
In Molarity, you can explore the relationships between solute amount, solution volume, and solution concentration.
To begin, ch

[2020-03-02 21:10] emily-phet commented on #227
@terracoda
The design doc doesn't need to be organized by design meeting - i didn't intend to imply that above.

I meant only that there is a "working document" - the stuff that gets messy throughout the design process with layered comments, edits, etc. Sometimes that ends up being organized at different time points, but often not. That's all ok. The doc should serve the needs of the design team a

[2020-03-02 21:12] emily-phet commented on #221
Thoughts:
- The sim's design is to scaffold exploration of "Drink Mix" first, so would be good if you started with description of the solute and solution sliders first, before combobox.

Otherwise - very nice!

[2020-03-02 21:15] BLFiedler commented on #221
Ah, you know what, I changed the solute to Nickel because I saw it did not reach saturation. Turns out I did not explore the drink mix first, which also does not reach saturation. Easy change, no effect on message :)

[2020-03-03 21:55] KatieWoe commented on #222
Looks good in rc3

[2020-03-03 21:55] #222 closed

[2020-03-06 19:05] samreid opened #229 "Checkbox is playing the same audio twice and magnifying the volume"
@jbphet and I discovered this while working on https://github.com/phetsims/wave-interference/issues/483.  We discovered that Molarity uses the sonified Checkbox, then also additionally adds its own sound like so:

[code]

The effect is that the checkbox volume is loud like on the left instead of quieter like on the right:

![image](https://user-images.githubusercontent.com/679486/76114157-b4bf5480

[2020-03-10 22:57] jbphet commented on #229
I've removed the redundant sound generation and the difference in volume has gone away.

I'm going to make the following two calls and close this issue.  @samreid - feel free to reopen if you disagree with these and we can revisit.
+ This difference is subtle and does not warrant a maintenance release
+ This situation does not call for us to re-review the volume level of the checkbox because that

[2020-03-10 22:57] #229 closed

[2020-03-18 19:02] pixelzoom opened #230 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard for these files.

[2020-03-30 21:18] BLFiedler commented on #221
Draft 1 complete (no intro/outro, might need some sound quality finesse): https://drive.google.com/file/d/1DwjCuFAAIDa8aVZ2OqnjuqqRTIoxGGyI/view?usp=sharing

[2020-04-14 12:26] terracoda opened #231 "Description: Remove explicit number of Solutes from Static Screen Summary"
Since the PhEt-iO app can remove solutes, it is likely best to re-word the static screen summary to not explicitly mention the number of solutes that learners can choose from.

We can make this change at the next maintenance release.
**Change:**
- "You can change solute amount, solution volume, and choose from nine different solutes to play with the solution in beaker."
**To:**
- "You can play wit

[2020-04-15 17:17] emily-phet commented on #221
@BLFiedler - Beautiful. Clear, succinct, and a lovely sound design. Great work! Please move it along to publication on the website.

[2020-04-23 20:11] BLFiedler commented on #221
Re-recorded for audio and change to pitch language ( "deeper" similar to GFL). Next steps (by end of day tomorrow): Adding intro & outro, uploading to YouTube, Captions, and addition to For Teachers section of simulation webpage.

[2020-04-24 16:56] BLFiedler commented on #221
Published

https://www.youtube.com/embed/4s1Wy8ofXwQ

[2020-04-24 16:56] #221 closed

[2020-06-15 16:50] terracoda commented on #231
@zepumph, I don't know how important this issue is. I am un-assigning @Matthew-Moore240 because I think we need to remove the number "nine" in the screen summary to make the descriptions more general and applicable to more possible representations of Molarity with PhET-iO.

[2020-06-15 17:10] terracoda opened #232 "Description: Consider change to Screen Summary for the next release"
When we get ready for a new release of Molarity, I think the screen Summary would sound better if we described the Play Area as being a Beaker, rather than "having a Beaker".

**Current Static Screen Summary:**

**Minor changes might make it read better**

[2020-10-08 13:23] terracoda commented on #232
@Matthew-Moore240, do you agree on the change?

[2020-10-08 13:45] terracoda commented on #227
I have resolved all the open comments in the design doc.  I think the design doc is relatively clean. I am un-assigning myself from this issue.

[2020-10-08 13:47] terracoda commented on #228
@emily-phet, is this about updating the Sim Credits page on the website?
Maybe we can re-visit this issue at our next team meeting.

[2020-10-08 13:52] terracoda commented on #99
Please re-assign me if I am supposed to focus on this issue.

[2020-10-08 14:59] terracoda commented on #228
I'll see if I can get Amy or Amanda to show me what I have to do.

[2020-10-08 15:06] terracoda commented on #227
I think it is safe to close this issue.
As design docs go, this one is pretty clean, it reflects some of the challenges we encountered as we designed the description.

[2020-10-08 15:06] #227 closed

[2020-10-08 15:59] arouinfar commented on #228
@terracoda you can edit the credits on the sim admin page (same place you go to tag a11y features).
![image](https://user-images.githubusercontent.com/8419308/95483778-e3dce080-094c-11eb-958d-01565b0e1e8c.png)

[2020-10-09 01:42] zepumph commented on #99
It looks like @BLFiedler and @Matthew-Moore240 are assigned to the outstanding issues, can this issue be closed and taken up in those side issues?

[2020-10-09 13:15] terracoda commented on #99
I re-worded the unchecked items, so to be "create issue to..." that way I could check them, and those issues can be followed up in those issues. I think that is a good strategy going forward.

All things are checked and issues are made for undone items, so closing.

[2020-10-09 13:15] #99 closed

[2020-10-09 14:17] terracoda commented on #228
Thanks @arouinfar, I see where to put the people now, that's great. Over in https://github.com/phetsims/website/issues/995, I am asking how to make the list of people.

I'll close this issue as it is just for Molarity, which is technically updated, and keep https://github.com/phetsims/website/issues/995 open until I figure out how to make the list.

[2020-10-09 14:17] #228 closed

[2020-10-09 16:46] terracoda opened #233 "Keyboad Shortcuts missing checkbox instructions"
With several issues about Keyboard Shortcut dialogs on the go https://github.com/phetsims/joist/issues/668#issuecomment-704600788, https://github.com/phetsims/scenery-phet/issues/630, https://github.com/phetsims/faradays-law/issues/176, https://github.com/phetsims/ratio-and-proportion/issues/82, I just happen to notice that Molarity's Keyboard dialog is missing "checkbox" instructions

@zepumph, c

[2020-10-09 16:48] terracoda commented on #233
Apologies for missing this when we published.

[2020-10-12 17:20] zepumph opened #234 "Use ComboBoxKeyboardHelpSection"
This common code help section was developed for Ratio and Proportion over in https://github.com/phetsims/ratio-and-proportion/issues/82. It should be used in this sim. (also referencing https://github.com/phetsims/joist/issues/669 because that is how I got here).

[2020-10-12 17:54] zepumph commented on #233
Excellent! I just saw this issue, but fixed this this morning over in https://github.com/phetsims/molarity/commit/fa5477cf226d11aa96095215b7c97e1889997ebb via https://github.com/phetsims/joist/issues/669. Closing

[2020-10-12 17:54] #233 closed

[2020-10-19 23:11] zepumph commented on #234
This has been done. The only current difference between the old and new version is the wording of the third bullet, from "Change solute" to "Choose new solute".

@terracoda, over in https://github.com/phetsims/ratio-and-proportion/issues/82, we made the default heading for this combo box help section something like "Choose a Solute", the current heading in molarity is "Steps to Change Solute". Do

[2020-10-19 23:15] zepumph opened #235 "Translations will be lost on next publication from master."
Over in #234, we removed sim-specific content, including string keys in molarity, in exchange for new ones over in scenery-phet for a common code component. This issue is supposed to be similar to https://github.com/phetsims/gravity-force-lab/issues/166 in that molarity-specific translations will be no longer used as those keys are deleted.

I think there is a good chance though that by the time t

[2020-10-19 23:15] zepumph commented on #235
Also tagging @jbphet because he is our string guy!

[2020-10-20 17:11] jbphet commented on #235
Thanks for the tag.

Before the next release, I'd recommend looking through the changes and seeing how many translated strings were lost.  If it's a bunch, we can manually port the strings into their scenery-phet equivalents.  It seems like a shame to lose a bunch of work done by our trusted translators.

[2020-10-20 18:08] zepumph commented on #235
It is 4 strings, as seen in https://github.com/phetsims/molarity/commit/bed5c0f41c36e01bbb129eaf073442040ae84188.

(8 total), but 4 are in the PDOM.

These 4 strings are not just blanketly moved to common code, but converted into patterns that are filled in based on the the object the combo box is changing ("Solutes" in molarity's case, "Challenges" in RaP).

I don't think it will be possible to c

[2020-10-21 16:32] jbphet commented on #235
Yes, we have done that before.  We can give @oliver-phet a list of the affected locales and and explanation of what has changed and he'll communicate with the trusted translators.

[2020-11-13 02:09] zepumph commented on #54
This is all looking really good. Now SoluteIO looks like:

[code]

[2020-11-13 02:09] #54 closed

[2020-12-23 18:16] terracoda commented on #234
The generic wording used in RaP:
**Choose a Challenge Ratio**
1. Pop up list of options with Space or Enter keys.
2. Move through options with Up and Down arrow keys.
3. Choose new option with Enter key.
4. Close list without changing with Escape key.

Molarity's (our first combobox) wording:
**Steps to Change Solute**
1. Pop up list of solutes with Space or Enter keys.
2. Move through solutes wit

[2020-12-30 01:04] #230 closed

[2021-04-20 22:51] zepumph commented on #43
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:51] zepumph commented on #58
Should be re-deleted as part of phetsims/special-ops#198 and also screen-summary

[2021-04-20 22:52] zepumph commented on #73
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:52] zepumph commented on #80
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-23 16:54] zepumph commented on #43
Deleted

[2021-04-23 16:54] #43 closed

[2021-04-23 16:55] zepumph commented on #58
Deleted

[2021-04-23 16:55] #58 closed

[2021-04-23 16:55] zepumph commented on #73
Deleted

[2021-04-23 16:55] #73 closed

[2021-04-23 16:55] zepumph commented on #80
Deleted

[2021-04-23 16:55] #80 closed

[2021-04-26 18:35] #220 closed

[2021-05-06 20:46] KatieWoe opened #236 "Mirror wrapper does not work"
For https://github.com/phetsims/QA/issues/642. Win 10 Chrome. Seen in https://phet-dev.colorado.edu/html/molarity/1.4.13-rc.1/phet-io/wrappers/mirror-inputs/mirror-inputs.html.
When you first click to do something in the top sim, the bottom sim freezes and does not respond. The top seems to keep working.
![mirrordoesntmolarity](https://user-images.githubusercontent.com/41024075/117363435-d1db0600-

[2021-05-06 21:24] KatieWoe commented on #236
This is happening with resistance in a wire as well. https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.3.13-phetiorc.1/resistance-in-a-wire_en-phetio.html?phetioStandalone

[2021-05-07 16:12] jonathanolson commented on #236
Matched in molarity, going to look into auto-applying the patch elsewhere where it's relevant.

[2021-05-07 16:34] KatieWoe commented on #236
Wait, I put the resistance in a wire comment in the wrong issue.

[2021-05-07 16:35] KatieWoe commented on #236
Should have been https://github.com/phetsims/capacitor-lab-basics/issues/291

[2021-05-13 20:54] jonathanolson commented on #236
This looks to be patched up

[2021-06-18 15:30] jonathanolson commented on #236
Closing, handled in maintenance release deployment.

[2021-06-18 15:30] #236 closed

[2021-06-30 02:42] samreid opened #237 "Corresponding item not found for concentration"
CT is showing this error:

[code]

This was caused by my commit earlier today: https://github.com/phetsims/molarity/commit/f4ea537b0ff1a78fad10efc095c54db5dacef6c3

[2021-06-30 02:47] samreid commented on #237
I reverted the change, but it looks very suspicious because call sites are not guarding against return values of undefined.  Assigning to the responsible dev and marking as blocks-sim-publication.

[2021-07-01 20:06] zepumph commented on #237
Thanks! There was a bug about how the method was called in a place. I converted the hard error to an assertion, added an earlier assertion, and fixed the lint rule you disabled. Fuzzing is now passing. Closing

[2021-07-01 20:06] #237 closed

[2021-08-17 17:07] zepumph opened #238 "Alerting, non-node types should use AlertManager.js"
From https://github.com/phetsims/utterance-queue/issues/13, the new pattern for alerting to descriptionUtteranceQueue is to go through a Node, thus we need non-node types to extend AlertManager to access said Node.

[2021-08-17 18:17] zepumph commented on #238
Implemented above, this was pretty easy, because the alertManager, though it was a singleton, was already centralized and only used in the screenView.

[2021-09-27 23:46] zepumph opened #239 "UtteranceQueue.addToFront is deprecated"
See https://github.com/phetsims/utterance-queue/issues/36, and the deprecation warning message to fix this usage. I recommend doing this the next time we work on this sim, but we could do it earlier. If this is the last usage, please delete the method from `UtteranceQueue`.

[2021-12-09 17:13] samreid opened #240 "Maximum call stack size exceeded in generating string types"
[code]

[2021-12-11 00:19] samreid commented on #240
Duplicate of https://github.com/phetsims/chipper/issues/1170, closing.

[2021-12-11 00:19] #240 closed

[2022-01-19 19:19] terracoda opened #241 "May need to add something to the model to better describe amount of precipitate"
The range for the amount of precipitate in these solutions is for "a couple of solids".

When it comes to the Voicing design, it might be a good idea to revisit the qualitative precipitate scale and adjust it to make it a more accurate with the visual representation. Of course, this would improve the situation in the Interactive Description as well.

<img width="531" alt="image" src="https://user-

[2022-01-20 04:40] Matthew-Moore240 commented on #232
Good idea, ill keep this in mind.

[2022-01-20 04:41] Matthew-Moore240 commented on #241
Sounds good!

[2022-01-31 16:10] terracoda commented on #231
In the design document, I created a proposal for a new summary that does not contain the number of solutes. Re-assigning to Matthew.

[2022-01-31 16:12] terracoda commented on #231
This issue should be updated before the next maintenance release or re-release with a new feature (i.e., Voicing).

[2022-01-31 21:07] zepumph opened #242 "Slider description context responses are broken"
@terracoda reported this today in slack:

Taliesin Smith:sandwich:  09:49
Hi Pholks, I was just playing with the Molarity sim on PhET Test and I am getting context responses (information about solute changes and solution volume changes) when playing with the sliders. Is this a known issue?
09:49
I was using the A11y View - not the sim.
09:51
The responses for the checkbox and combobox are still wo

[2022-02-04 22:48] zepumph commented on #242
Fixed, see https://github.com/phetsims/scenery/issues/1340#issuecomment-1030410527

[2022-02-04 22:48] #242 closed

[2022-02-11 17:39] zepumph opened #243 "Add Voicing to ComboBox"
As a simple test, it would be awesome to add voicing here. This comes from updating common code (see https://github.com/phetsims/sun/issues/726).

We can use https://docs.google.com/document/d/1-BMIhvNV07MUaMk0-b205mvM3735EZvyKUl6ILUTGq4/edit#heading=h.92mxf0hs6osk

Tagging @Matthew-Moore240 that I may get to this, to help test ComboBox voicing pretty soon, but of course we can make tweaks afterwa

[2022-02-18 18:06] zepumph commented on #243
This has been implemented, and I also added a PreferencesConfiguration() object so that we can test this.

It is easiest to run the sim from master with `&voicingInitiallyEnabled&preferencesStorage&printVoicingResponses&supportsVoicing=true`

[2022-02-18 18:27] zepumph commented on #243
This has been implemented, though tweaks are still being made to https://github.com/phetsims/sun/issues/726. Once that issue is closed, @Matthew-Moore240 can take a listen here.

[2022-03-11 23:26] jbphet opened #244 "Integrate sound generation that is now supported by Slider"
In https://github.com/phetsims/sun/issues/697, generalized support for sound generation by sliders was added.  The time was not taken to integrate this into all sims that were doing customized sound generation related to sliders, such as this one.  Instead, the default sound was simply turned off via the options.  Before this sin is released again off of master, we should consider integrating the

[2022-03-18 21:24] jbphet opened #245 "Sounds no longer occur during keyboard input"
While working on https://github.com/phetsims/sun/issues/697 I noticed that this sim no longer produces sound on every keyboard-nav-driven change of the slider values.  The live version *does* do this (version 1.5.6).  This may be related to recent work done on slider sound, or may be due to something else.  Regardless, it should be investigated and fixed.

[2022-03-23 19:56] jbphet commented on #245
After a little research, I think this problem arose due to changes made in common code under https://github.com/phetsims/scenery/issues/997, where the pointer type `a11y` was changed to `pdom`.  I've changed the code in the Molarity sim to check for the `pdom` pointer type (see the commit linked above), but I'd like to get a quick thumbs up or down from the person who made the common-code change.

[2022-04-07 17:21] zepumph commented on #245
Very nice! Thanks for that, I must have missed it during my rename to PDOMPointer. Thank you. I found another one too, and created https://github.com/phetsims/scenery/issues/1401 to improve type checking for this. Ready to close?

[2022-04-07 18:35] zepumph commented on #245
Thanks for this, I missed these when I converted A11yPointer to PDOMPointer. I also found one more usage and made https://github.com/phetsims/scenery/issues/1401 to help us in the future. Thanks!

[2022-04-07 18:35] #245 closed