[2013-06-14 13:23] pixelzoom opened #1 "text quality issues"
Reported by Trish via email, screenshots attached.

Some points in my three browsers:
Chrome –1.  bottom bar cut off when minimized, 2. Chemical names are not cut off (there were some in Beers, so I wanted to point out that they are not on this sim), 3. unbolded words blurry like: (molarity) and chemical names

IE no issues (same as Beers)

Firefox – all unbolded words like (liters) and chemical n

[2013-07-02 15:59] #1 closed, assigned to nobody

[2013-07-19 20:29] jbphet opened #2 "Code review for initial release."
Starting code review of the Molarity sim.  Code will be marked with //Review comments, other issues will be noted in this ticket or potentially a separate ticket.

[2013-07-19 22:55] #2 closed, assigned to nobody

[2013-07-29 23:14] jonathanolson opened #3 "Should "Reset All" not affect controls being manipulated at the same time?"
For instance, drag the Solute Amount slider down a bit (keep finger down), then with another finger press "Reset All". It jumps back up to the normal amount, but with the "down" skin, and when you move your finger it switches back to where your finger is.

I would recommend that we don't reset controls that are being actively controlled (don't reset the slider while it is being dragged).

[2013-07-29 23:42] jonathanolson opened #4 "Slider dragging performance"
Performance should be a bit better when dragging the sliders on the iPad 3. It's a bit sluggish compared to the sliders in Beer's Law Lab.

[2013-07-31 01:03] #4 closed, assigned to jonathanolson

[2013-08-02 17:59] ariel-phet opened #5 "Combo Box on Windows 8 laptop does not stay open with touch (sometimes)"
In Win 8 on the laptop the combo box sometimes does not stay open when you touch it, the touch event opens the boxes but it immediately closed in both Chrome 28.0.1500.95 and FF 22.0. I know this is probably a scenery issue, but was not sure where to put it.

Appears to work fine in IE 10.0.9200.16635

[2013-08-16 15:00] pixelzoom opened #6 "increase touchArea for "Show values" check box"
http://phet.colorado.edu/sims/html/molarity/1.0.0-rc2/molarity_en.html
Tablet platforms.

Nexus 7 especially could benefit from this.

"Show values" check box is created on line 85 of MolarityView.js.

[2013-08-21 20:59] pixelzoom opened #7 "use scenery-phet.ResetAllButton"
... when it exists. See scenery-phet#5.

Be sure to delete local copy of ResetAllButton, all associated images, and license.txt entries.

[2013-08-21 21:25] #3 closed, assigned to nobody

[2013-08-28 22:51] #6 closed, assigned to nobody

[2013-09-05 17:33] jonathanolson opened #8 "Firefox 23 Android color change on the beaker"
While the fluid is changing, it switches to a dark color. Then once it is done changing (slider drags are stopped), it switches back to the correct color.

![molarity-firefox-mobile-bug](https://f.cloud.github.com/assets/480878/1090126/2fff8a04-1651-11e3-8ac4-b4e47a2a69ca.png)

Tracking upstream in Scenery at https://github.com/phetsims/scenery/issues/125

[2013-09-06 17:04] pixelzoom opened #9 "layout of "Show Values" check box and Reset All button is broken"
@jonathanolson reported:
The reset all button and show values checkbox are below where they should be (covered up by the navbar in one instance).

[2013-09-06 17:07] #9 closed, assigned to nobody

[2013-09-09 15:35] #5 closed, assigned to nobody

[2013-10-04 20:14] pixelzoom opened #10 "convert translated strings from '<br>' to '\n'"
In Java, our method of doing multiline text was to use HTML markup with '<br>' tags. In JavaScript, we're using MultilineTextNode with '\n'.  For example:

[code]

This has been changed for English. But we'll have to figure out what to do about this for the translations.

[2013-10-31 17:21] #7 closed, assigned to nobody

[2013-11-13 19:12] #10 closed, assigned to nobody

[2014-06-03 03:41] ariel-phet opened #11 "Testing for 1.1.0-rc.1"
@bryo5363 please test Molarity 1.1.0-rc.1. We are redeploying all our HTML5 sims to our website with several updates/bug fixes.

Testing matrix here:
https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdFFYaGZjc0d5cEU4RXAxTXZWXzc5Y3c&usp=sharing#gid=2

When testing is complete please comment and reassign this issue to @pixelzoom

[2014-06-03 20:40] bryo5363 opened #12 "Sliders run slower in Firefox"
Test device: Socrates

Operating System: Windows 8

Browser:  Firefox 29.0

Problem description: The simulation runs less smoothly in Firefox compared to Chrome and IE

Steps to reproduce:

Severity:

Screenshots:

Troubleshooting information (do not edit):
Name: Molarity
URL: http://www.colorado.edu/physics/phet/dev/html/molarity/1.1.0-rc.1/molarity_en.html
Version: 1.1.0-rc.1
User Agent: Mozilla

[2014-06-04 20:54] bryo5363 opened #13 "Residuals of sliders present in offline mode"
Test device: MacBook Pro

Operating System: OSX 10.7.5

Browser: Chrome 35.0.1916.114

Problem description: Slight residuals from the sliders are present in offline mode

Steps to reproduce:

Severity:

Screenshots:
![screenshot 2014-06-04 14 51 52](https://cloud.githubusercontent.com/assets/7717368/3179827/5a885bde-ec2a-11e3-8617-315f93c1e7c5.png)

Troubleshooting information (do not edit):
Name:

[2014-06-04 21:15] #13 closed, assigned to pixelzoom

[2014-06-04 21:16] #12 closed, assigned to pixelzoom

[2014-06-05 18:32] learnthinkteach opened #14 "Lines left behind on sliders in iframe"
Test device:  Macbook Pro

Operating System: iOS 10.9.3

Browser: Chrome

Problem description: Small horizontal lines are left behind on the slider track in iframe.

Steps to reproduce: Open link for iframe testing, drag sliders up and down.

Severity: ?

Screenshots:
![screenshot_252](https://cloud.githubusercontent.com/assets/5091998/3191875/b67b6e12-ecdf-11e3-8b06-ec761364ed6f.jpg)

Troubleshoo

[2014-06-05 18:46] #14 closed, assigned to nobody

[2014-06-11 05:34] #11 closed, assigned to pixelzoom

[2014-06-27 00:54] pixelzoom opened #15 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-06-27 01:03] pixelzoom opened #16 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-06-27 01:11] #16 closed, assigned to pixelzoom

[2014-06-27 01:12] #15 closed, assigned to nobody

[2015-02-13 21:19] phet-steele opened #17 "Vertical slider thumb stops showing enabled state"
After furious amounts of double-clicking the track (not the thumb itself) and sliding along it, the thumbs can eventually stop highlighting on mouse-over.

https://drive.google.com/file/d/0B3HJopSo_QqLSnBnb2pyRnU5NFE/view?usp=sharing

So far seems to be Chrome specific, but I may not have spent enough time on the other browsers. Tested on Win 7 and 8.1.

Troubleshooting information:
Name: Molarity

[2015-03-30 18:41] pixelzoom opened #18 "branch: codap"
@samreid I believe that you created the branch named 'codap'. Briefly describe what it's for, and when (or whether) you expect to delete it.

[2015-03-31 02:11] samreid commented on #18
The codap branch sends events to concord consortium's "CODAP" project for interactive data visualizaiton.  I think we will be able to delete this branch after we have broader support for CODAP within together.js and a live together branch for this repo instead.

[2015-05-22 20:40] pixelzoom opened #19 "i18n layout issues"
This sim has some i18n layout issues that are apparent with ?stringTest=double, see screenshot.

![screenshot_526](https://cloud.githubusercontent.com/assets/3046552/7779308/8911339c-0090-11e5-987d-e1bb58aff66f.png)

[2015-05-26 16:53] pixelzoom commented on #17
Closing. This is a general issue that affects sliders in all sims, being tracked in https://github.com/phetsims/sun/issues/155.

[2015-05-26 16:53] #17 closed

[2015-05-26 16:54] pixelzoom commented on #8
@jonathanolson Was this resolved by scenery 0.2 ?

[2015-05-26 16:55] pixelzoom commented on #8
FYI, I don't see this issue on Mac OS 10.3.3 with FF 35.0.1.

[2015-05-26 16:56] pixelzoom commented on #8
FYI, I don't see this issue on Mac OS 10.3.3 with FF 35.0.1. Was this issue specific to Android? If so, why are we testing FF on Android, it's not a supported platform?

[2015-05-26 17:03] pixelzoom commented on #19
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-05-26 18:04] jonathanolson commented on #8
It was specific to Android, and I believe it was on the list at the time I did this testing?

[2015-05-26 18:15] pixelzoom commented on #8
@jonathanolson Is it still and issue, and do you think it needs to be addressed before "Summer 2015 redeploy"?

[2015-05-28 01:04] jonathanolson commented on #8
Definitely not something to address before the redeploy, since there's probably nothing we could do if it still is a bug. Don't have an Android charged at the moment, let me know if I should get one plugged in and test.

[2015-07-07 14:46] pixelzoom commented on #19
TODO:

- [ ] sliders: label and units
- [ ] readout: label and units
- [ ] "Show values" check box
- [ ] "Solute" label and combo box
- [ ] label on beaker

[2015-07-07 15:35] pixelzoom commented on #19
Tested with stringTest=double and stringTest=x, no layout problems noted.  Closing.

[2015-07-07 15:35] #19 closed

[2015-08-25 22:45] pixelzoom commented on #8
First step will be to see if this is still reproducible. It's been a long time (9/5/13) since it was reported.

[2015-08-30 19:48] pixelzoom commented on #8
Tested with 1.0.0-rc.2 (the version reported) and master, using Nexus 7 + Android 5.1.1 + FF 40.0. This problem is no longer reproducible, probably addressed by Mozilla in some release since FF 23.

Closing.

[2015-08-30 19:48] #8 closed

[2015-08-31 19:17] pixelzoom opened #20 "add visibility annotations"
Add @public, @protected or @private annotations to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-08-31 22:30] #20 closed

[2015-10-07 16:23] elisemorgan opened #21 "Long String Test"
Test device: Mac

Operating System: OS X 10.10.5

Browser: Safari 9.0

Problem description: Upper part of the beaker is shifted out of the screen when the Extremely Long String Test is performed.

Steps to reproduce: Standard Extremely Long String Test

Severity:

Screenshots:
![screen shot 2015-10-07 at 10 19 11 am](https://cloud.githubusercontent.com/assets/12610678/10343870/68725fe4-6cdd-11e5-8

[2015-10-07 16:46] ariel-phet commented on #21
@pixelzoom as discussed, not necessary that we pass long string test for publication, but it does seem odd that the layout changes. Anything to investigate here?

[2015-10-07 16:57] pixelzoom commented on #21
I'll have a look.

[2015-10-07 17:12] pixelzoom opened #22 ""Concentration" in concentration display is being scaled down"
Noted while investigating #21.  1.2.0-rc.1, all platforms.

The word "Concentration" in the concentration display is being scaled down, even in English.  The `maxWidth` option to this text node (which was determined empirically) is likely set too small.

Here's how it's supposed to look:

![screenshot_22](https://cloud.githubusercontent.com/assets/3046552/10345043/0e3b51be-6ce4-11e5-9879-56684bbb9

[2015-10-07 17:14] pixelzoom commented on #22
In ConcentratioDisplay, `maxTextWidth` is currently set to `120`.  Inspecting in the debugger, the width of the actual text is 163. So a value of 175 (slightly larger) would be more appropriate.

[2015-10-07 17:17] pixelzoom commented on #22
Fixed and tested in master and 1.2 branch. Also tested with "stringTest=double" to verify that no i18n layout issues were introduced.

Closing.

[2015-10-07 17:17] #22 closed

[2015-10-07 18:41] pixelzoom commented on #21
I added a bit of code to center everything on the screen.  Commits to master and 1.2 branch went a little weird, so ignore the commit messages above.

Here's a screenshot of the fix, run with "dev" query parameter to show the "safe" zone of the screen (red rectangle).  Note that everything is centered in the red rectangle.

![screenshot_24](https://cloud.githubusercontent.com/assets/3046552/103473

[2015-10-08 00:00] ariel-phet commented on #21
Sounds good, closing

[2015-10-08 00:00] #21 closed

[2015-10-08 16:27] pixelzoom opened #23 "add QA credits"
This sim currently has no QA credits. @ariel-phet please let me know who should be credited.

[2015-10-08 17:04] ariel-phet commented on #23
I think to be safe lets credit the whole QA team (since the test matrix is not quite done yet and a few other testers might hop on)

Elise Morgan, Bryan Yoelin, Steele Dalton, Oliver Orejola

[2015-10-08 17:39] pixelzoom commented on #23
Done, with QA credits in proper alphabetical order:

`qualityAssurance: 'Steele Dalton, Elise Morgan, Oliver Orejola, Bryan Yoelin'`

Closing.

[2015-10-08 17:39] #23 closed

[2015-10-12 17:03] bryo5363 opened #24 "Issues with text rendering on Edge"
Test device: Acer Aspire R13

Operating System: Windows 10 64 bit

Browser: Microsoft Edge 20.10240.16384.0

Problem description: The moles, liters and concentration strings do not load immediately

Steps to reproduce:
open sim
select a different solution
the strings will not load immediately

Severity:

Screenshots:

Troubleshooting information (do not edit):

Name: ‪Molarity‬

URL: http://www.co

[2015-10-12 17:47] pixelzoom commented on #24
@bryo5363 Some questions, to clarify...

(1) There are no "liters" or "concentration" (lowercase) strings in the sim. Are you referring to the strings "(moles)" in the leftmost slider, "(Liters)" in the rightmost slider, and "Concentration" in the display to the right of the beaker? I find it odd that those strings would not display, since they are part of other strings.

(2) By "The moles, liters

[2015-10-12 18:02] bryo5363 commented on #24
Yes the data inside of the parentheses have a delayed rendering. After
switching solutions, it takes approximately 5 seconds before they load (all
strings load at the same time). It might just be a resizing issue. I will
provide a screencast after my class
On Oct 12, 2015 11:47 AM, "Chris Malley" <notifications@github.com> wrote:

[2015-10-12 18:16] pixelzoom commented on #24
@bryo5363 wrote:

The word "Concentration" is not inside parenthesis. Did you mean "(Molarity)" instead of "Concentration"? And is there delayed rendering of the parenthesis too, or just the words inside the parenthesis?

[2015-10-12 19:19] bryo5363 commented on #24
https://drive.google.com/file/d/0B7WUaZM7uvVKS1NEbEZ1R21mOEU/view?usp=sharing

Here is a screencast of the issue

[2015-10-12 19:30] pixelzoom commented on #24
Thanks.  Some notes:

(1) Contrary to the original report, the "Concentration" string is not affected.  This affects the units labels: "moles", "Liters", "Molarity".

(2) Not only are those strings not being rendered, some parts of them are being rendered in the wrong locations.  For example, at 00:05 in the screencast, note that "moles" and part of "Liters" is rendered over near the Concentration

[2015-10-12 19:32] pixelzoom commented on #24
I have no idea what the problem might be here, but it is highly likely to be a problem that affects all sims.  I don't have a test system with Edge, but if I did, I have no idea how I'd go about troubleshooting this.

Assigning to @jonathanolson to see if he has any ideas. Labeling as "high priority" since this is liable to be a general issue.

[2015-10-12 23:42] jonathanolson commented on #24
Not able to reproduce in Edge/12.9600, will try updating to a newer version. Info below:

![image](https://cloud.githubusercontent.com/assets/480878/10441649/96e5d26e-7108-11e5-9886-01aa83f9be9b.png)

[2015-10-13 05:57] jonathanolson commented on #24
Reproducing in latest Edge from Win10 modern.ie VM, Edge/10240 (same as reported problem above).

It seems to be SVG specific for us (setting renderer to 'canvas' resolves it). Removing embedding marks seems to fix it for the English version, but NOT the Arabic version. Removing the SVG text parameters (e.g. text-rendering, textLength, lengthAdjust, xml:space preserve) have no effect. Most things

[2015-10-13 06:19] jonathanolson commented on #24
Submitted comment, which has a few additional details about potential workarounds (one that works for English for NOW, but doesn't work for RTL locales).

[2015-10-13 15:57] jonathanolson commented on #24
Looks like there are some other reports for the same issue:
https://connect.microsoft.com/IE/Feedback/Details/1571965
https://connect.microsoft.com/IE/feedback/details/1567173

The first report of problems was about 2.5 months ago.

It looks like the bug occurs on group transforms. I'll look into possibly adding another operation on groups when they are transformed, to see if we can trick the brow

[2015-10-13 15:59] pixelzoom commented on #24
Would that default be set by the sim, or by scenery?

[2015-10-13 16:04] jonathanolson commented on #24
Presumably in Joist we would set the default to 'svg' if it's Edge, but Scenery might also prevent Text as rendering in SVG in Edge.

[2015-10-13 17:50] jonathanolson commented on #24
One workaround someone did on something static was to update CSS colors for the text after changes.

[2015-10-13 18:02] jonathanolson commented on #24
Updating CSS/styles/visual parameters after transform updates doesn't seem to help. Additionally using textPath with a straight line doesn't seem to help.

[2015-10-13 18:19] jonathanolson commented on #24
Tested Canvas renderer on Edge on actual hardware. No observable difference in performance for Molarity, and a few other spot-tests didn't reveal significant performance differences. Visually, there was a slight bias towards more antialiasing (slightly fuzzier lines) on shapes and text, but it is hardly noticeable, and I'd say definitely acceptable.

I've committed this workaround (using Canvas fo

[2015-10-13 18:29] jonathanolson commented on #24
@ariel-phet, how to proceed?

[2015-10-13 18:40] ariel-phet commented on #24
@jonathanolson using Canvas for edge seems like a reasonable current solution.

[2015-10-13 18:40] ariel-phet commented on #24
Did you need more comment than that?

[2015-10-13 18:47] jonathanolson commented on #24
Nope. I'm closing the issue, as the workaround was already committed. @pixelzoom, I'd recommend for the next RC that full testing be done for Edge/Win10.

[2015-10-13 18:47] #24 closed

[2015-10-19 14:11] ariel-phet opened #25 "1.2.0 Publication items"
Remaining Checklist items S2015R milestone

**Developer**

  - [x] Double check relevant entries in https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

**Design/Admin**
- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Check sim primer is up to date
- [x] Review process with QA team.

[2015-10-19 14:12] ariel-phet commented on #25
@amyh-phet are the teacher tips for this sim up to date? Is a sim primer in the works?

[2015-10-19 14:28] amyh-phet commented on #25
@ariel-phet   I have a draft of the teacher tips.  I will meet with Trish today and have her proofread.  Draft of script for primer is in the works - hope to have Trish look at it today as well.

[2015-10-19 14:33] ariel-phet commented on #25
@amyh-phet excellent, please keep as a high priority (I know the primer will take some time due to current production bottlenecks)

[2015-10-19 14:35] ariel-phet commented on #25
@samreid -- @pixelzoom said he was not in a position to double check the relevant entries in sherpa. What needs to be done for that checklist item, not 100% clear to me.

[2015-10-19 15:33] samreid commented on #25
Since Molarity did not pick up any new dependencies, the sherpa file license file is in pretty good shape.  The main thing that has changed is version numbers, for instance, where it says `‪Molarity‬ 1.2.0-dev.1` it should say `‪Molarity‬ 1.2.0`.  One way to resolve this would be to run the grunt task that regenerates the third-party-licenses.md file.  I'll create an issue assigned to me, at lower

[2015-10-19 15:34] samreid commented on #25
Issue created above, reassigning this issue to @ariel-phet to continue/delegate.

[2015-10-22 17:10] amyh-phet commented on #25
@ariel-phet   Updated teacher tips are on website.   Primer is in the works (script in review, tentative 1st recording to be done on Oct. 30).

[2015-11-11 00:26] pixelzoom opened #26 "add namespace"
see https://github.com/phetsims/tasks/issues/378

[2015-11-11 00:27] pixelzoom commented on #25
@ariel-phet status?

[2015-11-11 00:31] ariel-phet commented on #25
Still waiting for primer.

[2015-11-11 16:00] amyh-phet commented on #25
@ariel-phet  and @pixelzoom    First recording of primer is done.   Waiting for feedback, then will do a second (and hopefully final recording).   Should be getting feedback by Friday, Nov. 13.  I hope to send the final version to production by Nov. 20.  Be aware that production may take several weeks to complete.

[2015-11-11 17:59] #26 closed

[2016-01-04 17:15] ariel-phet commented on #25
The primer projects are being covered by https://github.com/phetsims/tasks/issues/429 and https://github.com/phetsims/tasks/issues/430 closing

[2016-01-04 17:15] #25 closed

[2016-02-23 20:01] phet-steele opened #27 "Edge full screen is broken"
@jonathanolson same exact thing as phetsims/hookes-law/issues/39 (hope I don't need to say more :smile:). For phetsims/tasks/issues/523/

[2016-02-24 23:33] phet-steele commented on #27
@jonathanolson fixed here http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance2/molarity_en.html

[2016-02-24 23:33] #27 closed

[2016-03-10 17:28] oliver-phet opened #28 "User request: same degrees of precision for solution concentration"
Request from user received 3/10 to have the precision for the Molarity "solution concentration" be the same as concentration meter in Concentration.

![capture](https://cloud.githubusercontent.com/assets/5090275/13678066/0fe63ade-e6aa-11e5-8be5-ed022a66ad36.PNG)
![capture2](https://cloud.githubusercontent.com/assets/5090275/13678065/0fe150f0-e6aa-11e5-8688-8ce6201bddf4.PNG)

[2016-03-10 17:38] pixelzoom commented on #28
I believe we used 2 decimal places to match the number of decimal places for volume. That would need to be checked with the design team.

This would be a trivial to implement. Change line 51 of ConcentrationDisplay to:

``` var VALUE_DECIMAL_PLACES = 3;```

[2016-03-10 17:55] pixelzoom commented on #28
Since the list of solutes is identical in the 2 sims, this may be a reasonable request.

[2016-03-10 19:09] oliver-phet commented on #28
Assigning to @ariel-phet for thoughts and priority.

[2016-03-10 20:02] amyh-phet commented on #28
@ariel-phet  To get 4 sig figs in the molarity calculation, you would need to read both moles and volume to 4 sig figs.  In the Molarity sim, this would mean that any value below 1.000 moles would be recorded to 4 decimal places (eg. 0.2000 mol instead of the current 0.20 mol).

If we stick with 3 sig figs, then the moles and volume would need to be recorded to 3 decimal places if below 1.00 mol o

[2016-03-11 17:35] ariel-phet commented on #28
I emailed the teacher who sent the original request for a bit more info. Once I get a response, @amyh-phet can hash out if any changes should be made

[2016-04-28 03:10] ariel-phet commented on #28
@pixelzoom haven't heard back from the teacher, but I would go with @amyh-phet comment

If you have some time where you decide to tackle https://github.com/phetsims/concentration/issues/49 maybe this is also a good low priority task to tackle at the same time.

[2016-05-18 00:57] pixelzoom opened #29 "use Util.toFixedNumber"
This sim has several occurrences of JS built-in `toFixed`, which is notoriously buggy. Replace with `dot.Util.toFixed`.

[2016-05-18 01:01] pixelzoom commented on #28
@amyh-phet  and @ariel-phet, I took a quick look at this, and it's non-trivial to meet the requirements specified in https://github.com/phetsims/molarity/issues/28#issuecomment-215298255. There's no ability for the sliders to change the number of decimal places based on their current value.  Would it be a problem to use 3 decimal places for all slider values?

Another question... Do you want any c

[2016-05-18 01:06] #29 closed

[2016-05-18 01:22] pixelzoom commented on #28
I'm also confused by this requirement:

Do you mean 3 decimal places? Or do you really mean sig figs?  If you mean sig figs, then that requires a change to the Concentration sim, because it does not read to 4 sig figs, it reads to 3 decimal places.  Leading zeros are not counted with significant figures.  And if you really mean significant figures, that's going to be a problem in a lot of places,

[2016-05-18 14:53] amyh-phet commented on #28
@pixelzoom
Would the following be a set of reasonable changes?

1) Read concentration to 3 decimal places in both Concentration and Molarity sims.
2) Read all slider values to 3 decimal places.
3) Leave range values on sliders as shown.

I think this is the best compromise to meet the user request given current UI component structure.

[2016-05-18 18:23] pixelzoom commented on #28
Yes, that will work.

[2016-05-18 19:29] pixelzoom commented on #28
Since this sim is tight on horizontal space, going to 3 decimal places created some layout problems. I had to fiddle with the horizontal spacing a bit, and test repeatedly with `?stringTest=double`.

@amyh-phet Here's a dev version. Anything to change?
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-dev.1/molarity_en.html

If all looks well, I'll proceed with integrating the changes i

[2016-05-18 19:38] amyh-phet commented on #28
@pixelzoom   Looks good.

[2016-05-18 20:41] pixelzoom commented on #28
Molarity 1.2.5 has been deployed, http://phet.colorado.edu/en/simulation/molarity.
I spot checked the English version and a few translations.

@amyh-phet Please verify. If everything looks OK, please assign to @oliver-phet so that he can notify the user who requested this change.

[2016-05-18 20:59] amyh-phet commented on #28
@pixelzoom    Looks okay.

[2016-05-18 21:31] oliver-phet commented on #28
User notified. Closing.

[2016-05-18 21:31] #28 closed

[2016-08-18 22:48] pixelzoom opened #30 "Use reproducible random number generators"
Related to phetsims/phet-io#551.

For this sim:

- [x] replace Math.random with phet.joist.random.nextDouble

[2016-08-18 23:31] pixelzoom commented on #30
Done, tested, no problems noted. Closing.

[2016-08-18 23:31] #30 closed

[2017-02-10 17:03] samreid opened #31 "Instrument for PhET-iO"
@ariel-phet and I would like to reserve the Molarity simulation for @pixelzoom to instrument for PhET-iO.  It is on the simpler side of simulations and would be an ideal candidate for @pixelzoom to take the "How to Instrument a PhET Simulation for PhET-iO" instructions https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md for a test drive.

This iss

[2017-02-10 17:28] pixelzoom commented on #31
Self assigning so that it's on my radar.

Based on current milestones for Unit Rates, followed by vacation, it's unlikely that I will get to this until April.

[2017-02-10 17:39] ariel-phet commented on #31
@pixelzoom sounds good.

[2017-03-06 03:16] pixelzoom commented on #31
Another sim has been prioritize ahead of this, see https://github.com/phetsims/function-builder/issues/103.  That will likely push this out until sometime in mid-late May.

[2017-04-07 20:44] pixelzoom commented on #31
Checklist, from https://github.com/phetsims/phet-io/edit/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md:

 - [ ] Copy this checklist to the issue description (top issue comment) for tracking.
 - [ ] [Understand the goal](https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md#understand-the-goal)
 - [ ] [Code review](https://github.com/

[2017-04-07 21:10] pixelzoom commented on #31
Creating this comment to collect questions and issues encountered while instrumenting. Some of these may be broken out into separate GitHub issues.

- [ ] It's apparently not possible to incrementally test as you go. After completing the "Pass tandems to sim screens" step, I was unable to test with "?brand=phet-io&phetioLog=lines&phetioStandalone&ea&phetioValidateTandems=false", due to:
![screensh

[2017-04-07 22:03] samreid commented on #31
Please see the documentation at the top of scenery-phet/js/accessibility/AriaHerald.js

[2017-04-07 22:11] samreid commented on #31
I agree with the rule as you stated it and in the difficulty of looking through the type hierarchy.  However, this is not too different than our normal procedure for specifying options.  If C extends B extends A and I want to know if I can pass a backgroundColor option when I call `new C` then in the worst case scenario I have to look in C and B and A.  It seems the same problem applies to optiona

[2017-04-10 22:09] pixelzoom commented on #31
I tried all of the controls in the instance-proxies wrapper:

http://localhost/~cmalley/GitHub/phet-io/wrappers/instance-proxies/instance-proxies.html?sim=molarity&ea

The only one that didn't appear to do anything was this tandem, which looks like it might be a bug in sun.ComboBox:

`molarity.molarityScreen.view.soluteComboBox.buttonNode.itemNode`

[2017-04-11 20:56] pixelzoom commented on #31
Regarding test and publication, here's my Skype thread with @ariel-phet:

[4/11/17, 2:47:11 PM] Chris Malley: Molarity is instrumented for PhET-iO, and SR says that it should be published.  So it will require dev and RC test.  Do you also want to publish a public (phet brand) version at the same time?  Seems like yes, since phet brand testing is a subset of phetio brand testing.
[4/11/17, 2:48:16

[2017-04-12 15:36] samreid commented on #31
Perhaps the workaround given the pre-existing process would be to create "1.3" and "1.3-phetio" branches, and maintain both.  We can discuss alternatives in the near future, but this seems a safe way to proceed at the moment.

I recommend not making molarity work contingent on version name changes.  Even if we agree to change the versions as recommended in phetsims/chipper#560 it will likely be se

[2017-04-12 17:57] pixelzoom commented on #31
OK, let's suppose that I follow the above suggestion.

Will there be separate test tasks, or 1 test task?
Will there be separate test matrices or 1 matrix?
If there's 1 task and matrix, what URLs are tested?

[2017-04-12 19:02] samreid commented on #31
Great questions, we are in uncharted waters since we haven't done "phet" at the same time as "phet-io" ever before.  Perhaps @phet-steele can recommend how to set this up?

[2017-04-12 20:02] pixelzoom commented on #31
Labeling for developer meeting to see if any other developers have suggestions about how to proceed with testing and publishing 'phet' and 'phetio' brands simultaneously.

[2017-04-13 15:58] jonathanolson commented on #31
Presumably there would be two separate branches, one for each brand?

[2017-04-13 18:56] pixelzoom commented on #31
Dev meeting decision:

• I will create separate branches with the same shas.
• I will create separate test tasks.
• @phet-steele will create separate test matrices
• @phet-steele will test phet brand first, testing all sim features
• @phet-steele will test phet-io brand second, testing only phet-io features

[2017-04-17 19:34] pixelzoom commented on #31
Dev testing has begun in https://github.com/phetsims/tasks/issues/819.

[2017-04-17 20:48] phet-steele opened #32 "Solutions have no color"
This is true in both master and the recently deployed phetio version in phetsims/tasks/issues/819.

There is no color for any solute, at any concentration. Notice too how the molarity arrow has no color. Here is potassium dichromate as an example:
<img width="1399" alt="screen shot 2017-04-17 at 2 44 52 pm" src="https://cloud.githubusercontent.com/assets/5863899/25104207/ac26a2b6-237c-11e7-8a0e-6c

[2017-04-17 21:03] pixelzoom commented on #32
Doh! How did I miss that?!?  And looks like it's been a problem for awhile, introduced when the sim was converted from PropertySet to Property.   Fixed in above commit.

[2017-04-17 21:20] pixelzoom commented on #32
Ready for test in https://github.com/phetsims/tasks/issues/821.

[2017-04-18 21:15] phet-steele commented on #32
Looks good, thanks.

[2017-04-18 21:15] #32 closed

[2017-04-21 18:32] pixelzoom opened #33 "verify credits for 1.3.0 release"
QA credits should be revisited. @phet-steele I'll consult with you when RC testing wraps up.

[2017-04-26 22:19] pixelzoom opened #34 ""Show values" is not instrumented for PhET-iO"
Related to https://github.com/phetsims/tasks/issues/821...

@phet-steele pointed out that the label on the "Show values" check box is currently not instrumented.

[2017-04-26 22:21] pixelzoom commented on #34
Label is now instrumented. @phet-steele please verify in master.

[2017-04-26 22:22] pixelzoom commented on #34
In phetmarks instance-proxies:

![screenshot_232](https://cloud.githubusercontent.com/assets/3046552/25459656/8aa42858-2a9c-11e7-81a1-132af177e8b6.png)

[2017-04-27 16:23] phet-steele commented on #34
Verified, thanks @pixelzoom.

[2017-04-27 16:23] #34 closed

[2017-05-04 18:29] oliver-phet opened #35 "User suggestion: show values separately"
I'm a chemistry teacher in Waltham and use many of the simulations to engage my students in chemistry concepts. Recently, I was using the Concentration and Molarity simulations and had a thought about the Molarity simulation. Perhaps its been suggested before but, would it be possible to replace the "show values" button with separate buttons that allow you to show the volume, moles and molarity in

[2017-05-04 18:40] pixelzoom commented on #35
The downside of this request is that you'd have to toggle 3 check boxes in order to do what you currently do with 1 check box.

@ariel-phet the original design lead is not longer with the project. Please assign.

[2017-05-04 18:45] pixelzoom commented on #35
The customer is presumably asking for something like the mockup below.  This doesn't seem like an improvement to me.

![screenshot_241](https://cloud.githubusercontent.com/assets/3046552/25719691/7d0fcfa4-30c7-11e7-9d31-c285099994e2.jpg)

[2017-05-04 21:08] ariel-phet commented on #35
Although I see the reason the user would want this type of functionality, I don't think it makes sense in this particular simulation.

@oliver-phet let the user know we appreciate the suggestion, but in this particular simulation adding that functionality would be problematic from a design perspective.

[2017-05-05 13:31] oliver-phet commented on #35
user emailed. closing.

[2017-05-05 13:31] #35 closed

[2017-06-19 18:54] pixelzoom opened #36 "rename particlesGroupTandem to particlesGroup"
Related to dev test https://github.com/phetsims/tasks/issues/821.

Skype:
[6/19/17, 12:40:56 PM] Steele Dalton: any reason you named it “particlesGroupTandem” instead of just “particlesGroup”? They show up in the Instance Proxies as “Particle Group Tandem_#”, but I would think it would look cleaner as “Particle Group_#”. Not sure I’ve seen the word “Tandem” in a tandem ID before.
[6/19/17, 12:44:3

[2017-06-19 18:57] pixelzoom commented on #36
Done. @phet-steele please verify in master.

[2017-06-19 19:19] pixelzoom commented on #36
FYI, here's what I see with instance-proxies wrapper:

[code]

[2017-06-19 20:15] phet-steele commented on #36
Danke! Verified in http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiodev.3/wrappers/instance-proxies/instance-proxies.html?sim=molarity&relativeSimPath&phetioValidateTandems=false

[2017-06-19 20:15] #36 closed

[2017-06-22 18:58] zepumph opened #37 "Add keyboard navigation"
Like phetsims/ohms-law#49, we would like to add keyboard navigation to this sim. Tagging @emily-phet and @jessegreenberg so they are aware of this issue.

[2017-06-26 20:53] pixelzoom commented on #31
Dev testing has completed in https://github.com/phetsims/tasks/issues/865.  On to RC testing...

[2017-07-03 16:04] pixelzoom commented on #33
@phet-steele Looks like we're getting close to publication.  Please let me know if there are any deltas for the QA credits. Here's what we have currently:

```      qualityAssurance: 'Steele Dalton, Elise Morgan, Oliver Orejola, Bryan Yoelin'```

[2017-07-03 16:12] phet-steele commented on #33
@pixelzoom please add Alex Dornan and Ethan Johnson.

[2017-07-03 16:40] pixelzoom commented on #33
QA changes pushed to 1.3 and master.  Screenshot of current credits shown below.  @phet-steele please verify, close if this looks OK.

![screenshot_290](https://user-images.githubusercontent.com/3046552/27801595-0bd82c20-5fdc-11e7-8184-ffc070899c89.png)

[2017-07-07 18:23] pixelzoom opened #38 "publish 1.3.0"
RC testing is done (https://github.com/phetsims/QA/issues/13), no issues found, ready to publish when credits are verified (#33).

[2017-07-07 18:23] pixelzoom opened #39 "publish 1.3.0-phetio"
RC testing is done (https://github.com/phetsims/QA/issues/14), no issues found, ready to publish when credits are verified (#33).

[2017-07-07 18:25] pixelzoom commented on #31
RC testing is completed (#13,#14).  I'll proceed to publication (#38,#39).

[2017-07-07 18:32] phet-steele commented on #33
👍

[2017-07-07 18:32] #33 closed

[2017-07-07 20:35] pixelzoom commented on #39
Done.

https://phet-io.colorado.edu/sims/molarity/1.3.0-phetio/wrappers/index/

Closing.

[2017-07-07 20:35] #39 closed

[2017-07-07 20:37] pixelzoom commented on #38
Done.

https://phet.colorado.edu/sims/html/molarity/1.3.0/molarity_en.html

Closing.

[2017-07-07 20:37] #38 closed

[2017-07-07 20:42] pixelzoom commented on #31
The phet and phet-io version have been published, and I've completed the checklist in https://github.com/phetsims/molarity/issues/31#issuecomment-292646994.

[2017-07-07 20:56] pixelzoom commented on #31
The original purpose of this issue was to gain experience with instrumenting and publishing a sim. I've provided my feedback in the comments above, and in https://github.com/phetsims/phet-io/issues/1137.

In summary:

Pros:
• Instrumenting a sim is relatively straightforward (if there's a good match between PhET-iO requirements and how the sim was implemented).
• The API provides control over just

[2017-07-07 20:58] pixelzoom commented on #31
@ariel-phet @samreid Anything else you'd like from this issue?

[2017-07-11 21:07] pixelzoom commented on #37
Is there an objective that will be met by adding keyboard navigation to this sim specifically?

At last week's status meeting, I recommend to @jessegreenberg that we pick another sim.  While this sim is about to be published without the "Real Molecules" (3D) screen, that screen will be added in the future.  And keyboard navigation may or may not be straightforward for the 3D viewer, depending on w

[2017-07-11 21:08] pixelzoom commented on #18
@samreid what is the status of this branch?

[2017-07-11 21:11] zepumph commented on #37
No sorry I wasn't aware of that. There is plenty of other work to be doing. Closing for now.

[2017-07-11 21:11] pixelzoom commented on #37
Whoopsie.  I thought this issue was for molecule-polarity.  I did have a conversation with @jessegreenberg about molecule-polarity.  But molarity doesn't have 3D issues.   Do know that molarity was implemented before HSlider existed, and has its own odd slider requirements and implementation.  So the work done in phetsims/ohms-law#49 will not transfer.

[2017-07-11 21:15] zepumph commented on #37
Oh yeah. @ariel-phet, @jessegreenberg and @emily-phet talked about that this morning in the design meeting for keyboard navigation. I think the consensus was that we would want to convert it to HSlider as part of adding keyboard navigation, and make sure you are in the loop as we go because it's your sim. This isn't high on my priority list, but was thinking about chipping away at it when accessib

[2017-07-12 16:52] jessegreenberg commented on #37
Converting to HSlider would probably be best, but if there are features in VerticalSlider that make it difficult to convert, it could be a nice time to investigate https://github.com/phetsims/scenery/issues/607 which could let us mix in the behavior of an accessible slider to any scenery Node.

[2017-07-12 16:54] pixelzoom commented on #37
That's going to be non-trivial.

[2017-07-12 22:22] samreid commented on #18
This work is on hold.  My guess is there is around a 5% chance within the next 2 years that we would want to reference this work.  If we want to delete the branch, we could copy out a file or two (to an issue?) and delete the branch.  Or we could leave the branch.

[2017-07-12 23:30] pixelzoom commented on #18
Leave it for now, I guess.   Although this comment now makes no sense to me:

[2017-07-13 03:03] samreid commented on #18
together.js became PhET-iO.  At one point we thought PhET-iO would support CODAP directly, but it hasn't happened (yet?)

[2017-07-13 20:02] pixelzoom opened #40 "convert to HSlider"
This sim currently has it's own slider implementation, VerticalSlider.  Change to use sun.HSlider.

[2017-07-13 20:02] pixelzoom commented on #40
@zepumph FYI, I'll be taking care of this.

[2017-07-13 20:03] pixelzoom commented on #37
Conversion to HSlider will be handled in https://github.com/phetsims/molarity/issues/40.

[2017-07-13 20:11] zepumph commented on #40
Sounds great. Thanks!

[2017-07-13 21:57] pixelzoom commented on #40
According to @ariel-phet, the custom look of the slider track in Molarity can be changed to a standard HSlider track.  (This is good, since HSlider currently doesn't allow customization of the track.)

So I should be able to use a rotate HSlider via composition in VerticalSlider's constructor.

[2017-07-13 21:57] pixelzoom commented on #40
Note that since this issue changes the look of the sim, we'll need to also revise the screenshot.

[2017-07-13 22:01] pixelzoom commented on #40
Hmmm...  I may be able to make the track look the same by adding `cornerRadius:0` option to HSliderTrack, propagated through HSlider.

[2017-07-14 18:21] pixelzoom commented on #31
@ariel-phet @samreid ping.

[2017-07-14 18:34] pixelzoom commented on #40
@zepumph  @samreid FYI... Switching to HSlider is going to break the PhET-iO API.  VerticalSlider will have a different internal structure, and therefore different tandem, with different ids.

[2017-07-14 18:36] pixelzoom commented on #40
My first PhET-iO sim is Molarity, the first PhET-iO release was 7/7/17 (7 days ago), and I'm already breaking the API.

[2017-07-14 19:07] pixelzoom commented on #40
HSlider was enhanced in https://github.com/phetsims/sun/issues/302. So yes, we can reproduce the "look" of the track.

[2017-07-14 20:03] samreid commented on #31
I'm all set, thanks for your work @pixelzoom!  I'll create a separate issue to remind @kathy-phet that she can share this to our partners.

[2017-07-14 20:10] pixelzoom commented on #40
I made these changes only in master.  If we want to patch this in the 1.3 release branch, it will require cherry picking MOLARITY.VerticalSlider and SUN.HSlider.   This work was done to facilitate keyboard navigation (#37), so I'll ask about the patch requirements there.  If keyboard navigation is going to be done in master, then there's no need to patch 1.3.

In any case, this change will require

[2017-07-14 20:11] pixelzoom commented on #37
@jessegreenberg @zepumph Molarity has been converted to use HSlider, see #40.   Do you intend to add keyboard navigation in the 1.3 release branch, or only in master?  That will determine whether the HSlider conversion needs to be patched into 1.3.

[2017-07-14 20:14] pixelzoom commented on #40
@zepumph I think it probably makes sense for you to have a look at this, since (I think) you're going to be working on adding keyboard navigation.

[2017-07-14 20:14] #31 closed

[2017-07-14 20:22] jessegreenberg commented on #37
Thanks or converting @pixelzoom.  Keyboard navigation will only be added to master, we won't be patching it into 1.3.

[2017-07-14 20:30] pixelzoom commented on #40
In https://github.com/phetsims/molarity/issues/37#issuecomment-315458335, @jessegreenberg said:

So I won't be patching this change into 1.3.

The next release will therefore be from a new release branch, and will undergo a full QA test. @phet-steele Would you mind testing [1.4.0-dev.1](http://www.colorado.edu/physics/phet/dev/html/molarity/1.4.0-dev.1/molarity_en.html) to see if there are any obv

[2017-07-14 20:40] phet-steele commented on #40
@pixelzoom, feels and looks great on macOS 10.12.5 Chrome and Win 10 Edge.

[2017-07-14 20:42] pixelzoom commented on #40
@zepumph if this looks good to you, feel free to close.

[2017-07-14 21:20] ariel-phet commented on #40
That is one nice looking slider :)

[2017-07-14 21:26] zepumph commented on #40
Hey thanks for doing the keyboard navigation for me =)
http://www.colorado.edu/physics/phet/dev/html/molarity/1.4.0-dev.1/molarity_en.html?accessibility

All looks good here. Thanks @pixelzoom.

[2017-07-14 21:26] #40 closed

[2017-07-14 21:38] ariel-phet commented on #40
One side comment here for both @jessegreenberg and @zepumph

I think we are seeing the real power of common code here. It seems part of the a11y work should really be pushing for sims to everywhere possible use common components. It is pretty powerful to go to a sim and basically have it working for keyboard nav "out of the box". And perhaps also pushing for components that do not currently have a

[2017-08-09 21:53] pixelzoom opened #41 "custom slider track is messed up"
Should look like this, as in published version 1.3.0:

![screenshot_339](https://user-images.githubusercontent.com/3046552/29145527-d32d38aa-7d1a-11e7-9291-5fcf81ccbf27.png)

Looks like this in master:

![screenshot_340](https://user-images.githubusercontent.com/3046552/29145533-d8cdbd52-7d1a-11e7-94b3-ab4e2fcb2b75.png)

[2017-08-09 21:54] pixelzoom commented on #41
No related commits to molarity repository since 1.3.0 was published.   So this must be due to common-code changes, probably scenery.  @jonathanolson any idea?

[2017-08-09 21:56] pixelzoom commented on #41
The relevant HSlider is created in molarity.VerticalSlider:

[code]

[2017-08-09 21:57] jonathanolson commented on #41
Looking into it.

[2017-08-09 21:59] pixelzoom commented on #41
HSlider has been modified by @samreid @jessegreenberg and @mbarlow12 since this sim was published.

[2017-08-09 22:01] pixelzoom commented on #41
HSliderTrack has been modified by @samreid and @zepumph since this sim was published.

[2017-08-09 22:02] samreid commented on #41
Uh-oh, I'm the Venn diagram winner.

[2017-08-09 22:06] jonathanolson commented on #41
It looks like the stroke on the enabledTrack is covering up the fill completely (lineWidth is 13, the "width" (height because it's rotated) is 6).

[2017-08-09 22:08] samreid commented on #41
This may have broken in https://github.com/phetsims/sun/commit/e1d62999cacb686393a8338d5dda4e19f5160ba4

[2017-08-09 22:13] jonathanolson commented on #41
I'm all sorts of confused with the naming of the "disabledTrack", since it looks like the background. The commit https://github.com/phetsims/sun/commit/e1d62999cacb686393a8338d5dda4e19f5160ba4 appears to have "fixed" the code, but then molarity's large (13) lineWidth covers the fill entirely.

I'm really not sure what the desired behavior should be, but could revert to having a lineWidth of 1 on t

[2017-08-09 22:21] pixelzoom commented on #41
Using `trackLineWidth:1` looks like this, definitely not what is desired:

![screenshot_344](https://user-images.githubusercontent.com/3046552/29146521-c49441ea-7d1e-11e7-8742-d259fb9b4216.png)

[2017-08-09 22:23] jonathanolson commented on #41
Well the lineWidth is used both for the background (grey) and foreground (black). It makes sense to have no stroke on the foreground (black) rectangle in this case?

[2017-08-09 22:28] pixelzoom commented on #41
Not sure why this ever worked in the first place, but fixed in the above commit.  Now looks like this:

![screenshot_345](https://user-images.githubusercontent.com/3046552/29146680-cf685128-7d1f-11e7-82ce-eade0690c12b.png)

[2017-08-09 22:28] jonathanolson commented on #41
I "reverted" by removing the lineWidth on the enabledTrack. Presumably you can discuss whether a 1px stroke on the enabledTrack is appropriate, and whether it would need a separate parameter to adjust.

[2017-08-09 22:30] samreid commented on #41
The solution @pixelzoom provided is more general, we should still provide lineWidth on the enabledTrack.

[2017-08-09 22:31] samreid commented on #41
Thanks! Closing.

[2017-08-09 22:31] #41 closed

[2017-08-09 22:31] pixelzoom commented on #41
Correct - a 1px stroke is not appropriate, that was the purpose of HSlider options.trackLineWidth.

[2017-08-14 00:33] zepumph commented on #37
Right now we are all working on OL, I will get to this a bit later on. Decreasing priority and unassigning for now.

[2017-08-24 18:27] oliver-phet opened #42 "Google form user suggestion: add NaCl"
"Dear Developer,

I was wondering if NaCl could be added to the following simulation: https://phet.colorado.edu/sims/html/molarity/latest/molarity_en.html.

I was looking to develop an activity for students that discusses saline solutions of different concentration and their applications in medicine, in particular for IVs.  I have a number of nursing students in my General Chemistry class, but I t

[2017-08-24 19:01] pixelzoom commented on #42
Adding a new solute to Molarity is relatively straightforward. I would need to know:

• name
• formula
• saturated concentration (moles/L)
• color of the solution at the smallest non-zero concentration
• color of the solution for at the saturated concentration
• color of precipitate particles
• where the new solute should appear in the combo box

... then add a new `Solute` to the `this.solutes` a

[2017-08-24 19:02] pixelzoom commented on #42
Since this sim's lead designer is no longer with the project, assigning to @ariel-phet to decide how to proceed.

[2017-08-28 16:43] ariel-phet commented on #42
@pixelzoom we made this addition for concentration/beer's law. Please correct me if I am wrong, but I think all the info you need can likely be copied from that sim (and would be good to make them consistent anyhow). So I think...

- Name: Sodium chloride
- Formula: NaCl
- Combo box: last position
- Other: color and such match to the Concentration sim

Does that seem reasonable?

[2017-08-29 15:56] pixelzoom commented on #42
@ariel-phet asked:

Sort of.  But Beer's Law Lab is quite a bit different, and I'm wondering if NaCl really works in Molarity.

First, please confirm that the saturated concentration of NaCl is 6.15M.  This value is not stated explicitly in the Beer's Law Lab model, it's derived, and it's tied to the color range.  If 6.15M is correct, then (given the range of solute amount and volume) it is imposs

[2017-08-29 20:36] pixelzoom commented on #42
Zoom call with @ariel-phet:  He's going to ask @oliver-phet to ask the customer if these limitation are acceptable.  The limitations are:
(1) It is not possible to saturate the solution with NaCl.
(2) The color difference between water and NaCl is subtle.
(3) The color difference between different concentrations of NaCl are subtle.

[2017-08-29 20:58] oliver-phet commented on #42
Email to user sent.

[2017-08-29 22:15] oliver-phet commented on #42
Reply from user:

[2017-08-29 22:19] pixelzoom commented on #42
@ariel-phet How do you want to proceed? Revert? Ask one of the chemists?

[2017-08-29 23:08] pixelzoom commented on #42
@ariel-phet Did you mean to assign a chemist? Or tell me to revert?  I'd prefer not to leave "intermediate" changes like this hanging around.  You never know when a rogue PhET-iO branch might be created :)

[2017-08-29 23:13] ariel-phet commented on #42
@pixelzoom please revert and close the issue

@oliver-phet can you let the user know about our concentration sim that DOES include salt?

[2017-08-30 01:14] zepumph commented on #37
I updated a few small things in this issue. I made the shift modifier work for the hslider to achieve that maximum specificity with the slider.

@jessegreenberg it would be great to pair with you on combo box at some point. I don't think I know the accessibility side of life quite enough to tackle it efficiently/effectively on my own.

[2017-08-30 04:15] pixelzoom commented on #42
@ariel-phet said:

Will do.

[2017-08-30 17:09] pixelzoom commented on #42
NaCl removed.

@oliver-phet feel free to close this issue after you've done https://github.com/phetsims/molarity/issues/42#issuecomment-325830911.

[2017-08-30 17:22] #42 closed

[2017-09-11 22:40] jessegreenberg commented on #37
That sounds great @zepumph, lets do this sometime soon.

Here are my thoughts based on what we know so far:
- HTML select boxes won't work because it is impossible to style their content to be invisible in the DOM (we discovered this while working on build-an-atom).

- We will have to use some custom HTML with ARIA to represent select boxes. Here is a starting point: https://developer.mozilla.org/

[2017-09-12 17:25] jessegreenberg commented on #37
@terracoda is going to take a look at best practices for accessible combo boxes. In a meeting  9/12/17, these resources were found:

https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/#combobox
http://demos.telerik.com/kendo-ui/combobox/keyboard-navigation

We are going to wait to implement until then. @terracoda please reassign to us when HTML examples are ready.

[2017-09-12 17:36] pixelzoom commented on #37
@jessegreenberg Presumably the decisions and implementation required to add accessibility to ComboBox are not specific to Molarity.  Highly recommended to create a sun issue to capture those decisions and the related work.

[2017-09-12 17:38] pixelzoom commented on #37
... and have @terracoda make recommendations in the sun issue.

[2017-09-12 17:48] jessegreenberg commented on #37
Good idea, moving to sun.

[2017-10-25 16:55] terracoda commented on #37
I will make my recommendations in the sun issue, https://github.com/phetsims/sun/issues/314, so closing this issue for now.

[2017-10-25 16:55] #37 closed

[2018-01-26 00:51] jessegreenberg opened #43 "branch: a11yComboBox"
A one-off branch for accessible comboboxes, see phetsims/sun#333 and phetsims/sun#334.

[2018-01-26 00:54] jessegreenberg commented on #43
I was supposed to use `grunt create-one-off --branch={{BRANCH}}` to make this branch, going to do that and try again.

[2018-03-22 16:29] oliver-phet opened #44 "User/sponsor request: Roman numerals inconsistent"

[2018-03-23 17:22] pixelzoom commented on #44
The lead designer is no longer with the project, so assigning to @ariel-phet to prioritize and assign.

Assuming that this is a legitimate request...

(1) "Cobalt chloride" and "Copper sulfate" also appear in Beer's Law Lab.

(2) In all cases, these strings are in translation files.  So translators should be notified if English strings are changed.

(3) Should it be "Cobalt(II) chloride" or ""Coba

[2018-03-23 18:03] ariel-phet commented on #44
Let me reach out to a chemist and see what they think.

[2018-03-23 19:55] ariel-phet commented on #44
I asked our collaborator Emily Borda. She responded:

The suggested use of roman numerals is technically correct.  Though I don't know how many people would notice, or care. . .

[2018-03-23 21:33] ariel-phet commented on #44
Actually, Rober Parson said the following:

Sounds like we should go ahead and make this change.

[2018-03-23 21:34] ariel-phet commented on #44
@pixelzoom feel free to do this at your convenience. I would consider publishing off master so we can bring the sim to chipper 2.0 if it is not there already. That might require an RC, but currently QA is not overwhelmed and this sim is quick to test.

[2018-03-23 21:41] pixelzoom commented on #44
@ariel-phet While the user's request was for Molarity, remember that this affects 3 sims: Molarity, Beer's Law Lab, Concentration.  That's a lot of RC testing.  So my recommendation would be to do maintenance releases.

[2018-03-23 22:11] ariel-phet commented on #44
@pixelzoom understood, maintenance releases it is

[2018-03-23 22:15] pixelzoom commented on #44
Robert said:

If that applies in general, then I'll need to fix "Cobalt (II) nitrate", "Gold (III) chloride" and "Nickel (II) chloride".

[2018-03-23 22:17] pixelzoom commented on #44
I looked up "Cobalt (II) nitrate", "Gold (III) chloride" and "Nickel (II) chloride", and the "no space" convention does appear to be general.  Curious that the user didn't complain about these solutes that have a space before the Roman numerals.

[2018-03-23 22:24] pixelzoom commented on #44
Note to self, so I can refer to this in commits and code... The "(II)" in (for example) "Copper(II) sulfate" indicates it oxidation state.

From https://www.quora.com/Why-do-you-write-Copper-II-Sulphate-with-the-II:

[2018-03-23 22:43] pixelzoom commented on #44
This maintenance release will use chipper 1.0.  Here's the current state of things:

| Sim | Published | laster PhET-iO branch |
| -- | -- | -- |
| molarity | 1.3.0 | 1.3-phetio |
| beers-law-lab | 1.4.4 | 1.6-phetio |
| concentration | 1.3.6 | 1.5-phetio |

I don't know what versions are published to the PhET-iO website, or whether they match the latest PhET-iO branches in the table above.

@samr

[2018-03-23 22:50] pixelzoom commented on #44
This change was isolated to the English string files.  Change was pushed to molarity (master, 1.3) and beers-law-lab (master, 1.4).   No changes have been made to phetio branches.

[2018-03-23 23:32] samreid commented on #44
Here's the latest public PhET-iO versions that @zepumph and I are aware of:
https://github.com/phetsims/phet-io/issues/1311#issuecomment-370931387

sim | version|link
--|--|--
concentration | 1.5.3-phetio | https://phet-io.colorado.edu/sims/concentration/1.5.3-
beers-law-lab | 1.6.3-phetio | https://phet-io.colorado.edu/sims/beers-law-lab/1.6.3-phetio/wrappers/index
molarity | 1.3.0-phetio | https

[2018-03-23 23:41] pixelzoom commented on #44
@ariel-phet Do you want maintenance releases of the PhET-iO versions as identified above?  I've never published a PhET-iO version, and this Slack conversation doesn't make it sound like a walk in the park:

[code]

[2018-03-24 18:51] ariel-phet commented on #44
I just don't see iO maintenance releases as worth the effort (especially since they are chipper 1.0)  considering it is a change of nomenclature that is very minor, and very technical.

[2018-03-24 19:49] pixelzoom commented on #44
OK @ariel-phet.  I will proceed with maintenance releases for brand=phet only, unless @samreid wants to push back.

[2018-03-24 21:12] samreid commented on #44
It's OK with me to avoid PhET-iO maintenance releases for this issue.

[2018-03-26 17:37] pixelzoom commented on #44
The following maintenance releases have been deployed:

Molarity 1.3.1
Beer's Law Lab 1.4.5
Concentration 1.3.7

In keeping with the conventions for notating oxidation state (Roman numerals, no spaces), the following English string changes were made:

Cobalt chloride -> Cobalt(II) chloride
Copper sulfate -> Copper(II) sulfate
Cobalt (II) nitrate -> Cobalt(II) nitrate
Gold (III) chloride -> Gold(II

[2018-07-02 22:13] samreid opened #45 "Add to the instrumented PhET-iO list."
@zepumph can we add this sim to the list of instrumented PhET-iO simulations?  It seems like we worked on this a while ago but I don't see any records if it being shared to clients.

[2018-07-03 17:40] zepumph commented on #45
I'm not sure I understand what this means. I see it in both `(testable-)phet-io` lists in perennial. It has a latest published version in the sim status spreadsheet (1.3.0-phetio).

[2018-07-03 22:34] zepumph commented on #45
What if we had a script that would go through the sim status spreadsheet and get the current latest list of sim links based on that spreadsheet (provided that that document can stay up to date).

[2018-07-12 17:55] pixelzoom commented on #45
I see molarity in perennial/data/phet-io.  @samreid @zepumph is there anything else to do here?

[2018-07-13 17:20] samreid commented on #45
It appears @kathy-phet was informed and also shared these to clients in https://github.com/phetsims/phet-io/issues/1157#issuecomment-322323739

Molarity is not mentioned in https://github.com/phetsims/perennial/blob/ea4500c8fdeb65c88d99be1aab1e2cffad30d598/data/phet-io-maintenance.json, does it need a maintenance release or republication?

[2018-08-06 18:48] phet-steele opened #46 "LoL Icons & Descriptions"
For https://github.com/phetsims/QA/issues/161

[2018-08-06 19:41] pixelzoom commented on #46
To clarify Molarity 1.4.0 is adding support for ePub.   LoL support will be added at the same time to take advantage of the new release branch.

[2018-08-08 23:26] arouinfar commented on #46
Icons & descriptions are ready for delivery.

[2018-08-08 23:26] #46 closed

[2018-08-09 18:09] samreid opened #47 "Address PhET-iO issues discovered during RC"
Several phet-io issues were discovered during https://github.com/phetsims/QA/issues/161, I'm going to see if I can address any in the next few days or if we'll need @zepumph help.

[2018-08-09 20:33] samreid commented on #47
I'll track this in phet-io-wrappers instead.

[2018-08-09 20:33] #47 closed

[2018-08-13 17:02] pixelzoom commented on #45
@samreid Who is the above question directed to? What needs to be done to close this issue?

[2018-08-13 17:08] samreid commented on #45
We are preparing an RC, that seems sufficient.  Closing.

[2018-08-13 17:08] #45 closed

[2018-08-15 17:25] samreid opened #48 "Molarity 1.4.0 crashes in the State wrapper when opening the About dialog"
See https://github.com/phetsims/sun/issues/374

You can test this in https://phet-io.colorado.edu/sims/molarity/1.4.0/wrappers/state/state.html by going to the state wrapper and opening the about dialog and waiting 1 second.  In 1.4.0 this results in a crash.

We have 2 commits we would like to cherry pick for a maintenance release.

@pixelzoom would you like to tackle this?  The commits to cherry

[2018-08-15 18:38] pixelzoom commented on #48
Patched by doing this:

[code]

Then I pointed Chrome at molarity/build/phet-io/ and opened the State wrapper.  After opening the About dialog, I experienced no crash.  (The About dialog did not open in the bottom sim instance, but @samreid said that is as desired.)

[2018-08-15 18:39] pixelzoom commented on #48
@samreid Do we need an RC for this? Or do you want to just confirm in a local build?

[2018-08-15 18:43] samreid commented on #48
I ran:

[code]

I tested locally for about 3 minutes, testing the about dialog in the state wrapper and tapping through the normal sim.  I did not see anything out of the ordinary.  I would love if there was a trivial way to compare code changes for maintenance releases, but I do not know how to do that at the moment.  If the only code change is the ButtonModel 2 commits, this should be good to go

[2018-08-15 18:54] pixelzoom commented on #48
`grunt production` fails with "Error: Aborted production deployment: It appears that the last deployment was for production." Apparently it's impossible to publish a maintenance release without publishing an RC version first.  So I’m going to follow the full process for a maintenance release - publish an RC, create a GitHub issue to have it tested by QA, etc.

[2018-08-15 19:17] pixelzoom commented on #48
Testing in 1.4.1-rc.1, https://github.com/phetsims/QA/issues/170.

[2018-08-15 19:25] KatieWoe commented on #48
Testing this right now.  Not seeing any crashes with the about dialog, but I am noticing that the dialog doesn't then open up on the bottom screen.  For phetsims/QA#170

[2018-08-15 19:29] pixelzoom commented on #48
As noted in https://github.com/phetsims/molarity/issues/48#issuecomment-413293879:

[2018-08-15 19:30] pixelzoom commented on #48
More detailed description of why the About dialog doesn't appear in the bottom sim instance, from Slack:

Chris Malley [12:31 PM]
I’m testing the patch to https://github.com/phetsims/molarity/issues/48.  In the State wrapper, I don’t see a crash when opening the About dialog.  But the About dialog does not open in the bottom instance of the sim. (edited)

Sam Reid [12:32 PM]
Right, we decided that

[2018-08-15 19:30] KatieWoe commented on #48
Ok.  Thanks.

[2018-08-16 16:03] pixelzoom commented on #48
Verified by QA in https://github.com/phetsims/QA/issues/170. Closing.

[2018-08-16 16:03] #48 closed

[2018-08-18 04:53] samreid opened #49 "The PhET-iO template crashes"
Navigate to https://phet-io.colorado.edu/sims/molarity/1.4.1/ and download the "basic example of a functional wrapper" to a local file, then launch it in the browser.  I obtain this error and the sim doesn't launch:

When I changed `debug: true,` to `debug: false,`, then the simulation launched.  Discovered during https://github.com/phetsims/QA/issues/19

@zepumph are you available to investigate

[2018-08-18 16:07] pixelzoom commented on #49
@ariel-phet This is the second PhET-iO problem found in the recent Molarity 1.4 release.  (https://github.com/phetsims/phet-io-wrappers/issues/135 was the first.)  So it feels like we have a quality control problem wrt PhET-iO.  @samreid @zepumph Any thoughts on what the problem is? Are developers not spending enough time testing?  Are QA test instruction insufficient?

[2018-08-19 00:00] samreid commented on #49
I suspect the main problem is that it has been a long time since we have had a PhET-iO RC test, and PhET-iO has many new features.  We have been augmenting the instructions in https://github.com/phetsims/QA/issues/19 and should continue to do so.  I have notes in https://github.com/phetsims/phet-io-wrappers/issues/147 and https://github.com/phetsims/QA/issues/19#issuecomment-414032379 to update th

[2018-08-20 19:37] zepumph commented on #49
This is particularly hard to test because of https://github.com/phetsims/phet-io-wrappers/issues/145, I will try to get that to work first, then come back here.

[2018-08-20 23:01] zepumph commented on #49
This was a bit of a confusing chain to crack, let me document the steps I took to reproduce/diagnose and the problems along the way.

First I noticed that the assertion that triggers in the debug version is less than helpful, since all the Type names are garbled. I think it would be good to add the Type name to that assertion error if we able (not sure how to manage that).

Next I found that when

[2018-08-20 23:05] pixelzoom commented on #49
Thanks @zepumph.  I can do the maintenance release.  Let me know when you're done.

[2018-08-20 23:35] zepumph commented on #49
I have fixed this problem for the molarity 1.4 branch. I did so by:

* checkout molarity 1.4
* checking out shas for branch
* `cd sun`
* `git checkout -b molarity-1.4`
* `git cherry-pick 4017a896c92862bd82baa3a02ca80e27c191ee22` (https://github.com/phetsims/sun/commit/4017a896c92862bd82baa3a02ca80e27c191ee22)

Still to do:
* I did not update the top level dependencies file at all.
* I did not bran

[2018-08-21 16:16] pixelzoom commented on #49
@zepumph I'm in the dark about this issue, and it looks like things are partially patched.  So how about if you complete and test all patches that are required for the molarity 1.4 branch and its dependencies.  When it's ready to go, assign back to me, and I'll publish the RC, create the GitHub issue, etc.

[2018-08-23 01:04] zepumph commented on #49
Marking high so it doesn't fall off my radar. It shouldn't take too long.

[2018-08-23 01:34] zepumph commented on #49
Here are the steps I just did:
* checkout molarity 1.4 and all dependencies
* create phet-io-wrappers branch "molarity-1.4"
* cherry pick in the above commit needed for local testing
* build the simulation for phet-io brand
* tested the fix by: (1) running the debug simulation in standalone, and (2) copying the wrapper template from the index into a newly created `build/phet-io/html.html` and runn

[2018-08-23 01:35] zepumph commented on #49
(note) I apologize for the potentially superfluous lists of steps, but I'm not yet confident enough in the build process to proceed in a simpler manner.

[2018-08-23 15:49] pixelzoom commented on #49
@zepumph said:

FYI, according to @jonathanolson, we should be using `grunt checkout-target`, not `checkout-shas`.

[2018-08-23 17:49] zepumph commented on #49
Thank you! good to know. I can't seem to keep up with all the good code.

[2018-08-23 18:29] pixelzoom commented on #49
I did a local build:

[code]

The brand=phet version tested OK.

For the brand=phet-io version, here's @zepumph's test instructions with clarification:

Navigate to molarity/build/phet-io, click the "Simulation" link, replace the filename in the URL with "molarity_all_phet-io_debug.html".   So my URL is
http://localhost/~cmalley/GitHub/molarity/build/phet-io/molarity_all_phet-io_debug.html?phetioS

[2018-08-23 19:13] pixelzoom commented on #49
This is to be verified in 1.4.2.-rc.1 testing, see https://github.com/phetsims/QA/issues/178.  @KatieWoe you can use the test procedure that I've described in https://github.com/phetsims/molarity/issues/49#issuecomment-415521701.

[2018-08-23 19:25] KatieWoe commented on #49
Just tested on Win 10 chrome, and it seems to work.  Will test on other platforms before verifying in phetsims/QA#178

[2018-09-07 22:59] KatieWoe opened #50 "title case"
For https://github.com/phetsims/tasks/issues/953
Should "Show values" checkbox be in tile case?

[2018-10-03 18:06] zepumph opened #51 "Redesign api"
We should republish the sim with a thoughtful api.

[2018-10-03 18:06] zepumph commented on #51
See https://github.com/phetsims/sun/issues/405 alsp

[2018-10-19 17:48] pixelzoom opened #52 "incorrect use of ifphetio plugin?"
In Solute and Solution:

`var SoluteIO = require( 'ifphetio!MOLARITY/molarity/model/SoluteIO' );`

I don't think that `ifphetio` is necessary here.

[2018-10-23 16:16] KatieWoe commented on #49
Confirmed 1.4.2-rc.1

[2018-10-24 19:32] #52 closed

[2018-10-31 21:04] KatieWoe opened #53 "404 error in instance proxies"
Found while testing https://github.com/phetsims/special-ops/issues/122.
When trying to open the molarity 1.4.3-rc.1 phet-io Instance Proxies link a 404 error appears instead.  This occurs both on iPad and Laptop.

[2018-10-31 21:37] phet-steele commented on #53
I don't know how the link in https://github.com/phetsims/special-ops/issues/122 is generated, but the 1.4 branch of this sim was updated to studio in phetsims/QA/issues/161 so this should work: https://phet-dev.colorado.edu/html/molarity/1.4.3-rc.1/phet-io/wrappers/studio/studio.html

[2018-10-31 23:07] pixelzoom commented on #53
This bug is specific to phetio, and (if I'm interpreting @phet-steele's comment correctly) it sounds like a bad URL was generated.   Assigning to @samreid and @zepumph to investigate.

[2018-10-31 23:08] pixelzoom commented on #49
Status? This has been high-priority since 8/17.

[2018-11-01 01:38] samreid commented on #49
According to https://github.com/phetsims/QA/issues/178#issuecomment-417726397 we deployed 1.4.2.  @pixelzoom can this issue be closed?

[2018-11-01 16:09] #49 closed

[2018-11-02 00:20] zepumph commented on #53
I'm not sure how the automated maintenance release process works, if the links are generated. @samreid can you please note that the link in the rc was wrong for molarity, and recommend how to update this in the maintenance release process?

[2018-11-02 00:47] arouinfar commented on #50
Thanks @KatieWoe. Yes, I would update the string to "Show Values". It's not a pressing issue, so it can wait until the sim is worked on again.

[2018-11-02 00:54] pixelzoom commented on #50
Changed to title case in master, see screenshot below. Labeling as "fixed-awaiting-deploy".

![screenshot_823](https://user-images.githubusercontent.com/3046552/47887946-80181780-de07-11e8-9078-72b528fbb8d9.png)

[2018-11-02 00:54] arouinfar commented on #50
Thanks @pixelzoom!

[2018-11-02 00:56] pixelzoom commented on #50
I don't like this in general, because they are not titles, they are commands.  But I'll roll with it.

[2018-11-02 00:57] pixelzoom commented on #50
I don't like this in general, because "Show values" is not a title, it's a command.  But I'll roll with it.

[2018-11-06 12:56] samreid commented on #53
@KatieWoe after https://github.com/phetsims/molarity/issues/53#issuecomment-434856834 did you do testing of Molarity Studio?

[2018-11-06 15:34] KatieWoe commented on #53
@samreid I hadn't.  I'll do that today.

[2018-11-06 15:55] KatieWoe commented on #53
@samreid just tested with studio in the url and it looks ok.

[2018-11-06 16:07] samreid commented on #53
Thanks, closing.

[2018-11-06 16:07] #53 closed

[2018-12-10 23:12] pixelzoom opened #54 "replace SoluteIO ?"
In SoluteIO.js:

`//TODO replace this with StateObjectIO, see phetsims/phet-io#1100`

phetsims/phet-io#1100 is closed and `StateObjectIO` no longer exists.  Please advise on what needs to be done here.

[2018-12-11 00:04] samreid commented on #54
I'm presuming this issue is referring to SoluteIO.js.

[2018-12-11 02:37] pixelzoom commented on #54
Ah yes, SoluteIO.js -- type fixed above.

[2018-12-11 14:14] samreid commented on #54
I feel like SoluteIO is in good shape, it is not too complicated and what boilerplate code it does have, it is unclear how we would factor it out.  Marking for discussion with @zepumph and @chrisklus on Wednesday to double check and discuss further.

[2018-12-12 19:58] zepumph commented on #54
Discussed at phet-io team meeting today. We like that SoluteIO has a descriptive name and a place for type specific documentation. For example seeing
`PropertyIO.<SoluteIO>` would be much better in studio than `PropertyIO.<StateObjectIO>`

We do agree though that its reference-like qualities for serialization should be factored out. All the type checking can happen in a new type `ReferenceIO.js`,

[2019-01-15 20:17] pixelzoom opened #55 "use VSlider"
Molarity was written before Slider existed.  It has its own `VerticalSlider` subclass of `Node`.   And `VerticalSlider` should be replaced by `VSlider`.

This should be done before adding a11y or PhET-iO to this sim, so that we can leverage work done in Slider. @jessegreenberg @zepumph @samreid FYI.

[2019-01-15 20:18] pixelzoom commented on #55
Whoopsie.  Looks like this was already done in https://github.com/phetsims/molarity/issues/40.  Nevermind :)

[2019-01-15 20:18] #55 closed

[2019-01-17 23:48] KatieWoe opened #56 "CT: i.createItem is not a function"
[code]

[2019-01-18 00:13] pixelzoom commented on #56
This was a transient issue that was immediately fixed. It was a commit that didn't get pushed in a batch of similar commits for https://github.com/phetsims/sun/issues/453.   CT is showing the problem as resolved.  Closing.

[2019-01-18 00:13] #56 closed

[2019-01-30 00:25] zepumph opened #57 "Instrument with accessibility"
Here is the link to the design doc. https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.nhqxjbby3dgu

[2019-01-30 00:31] zepumph commented on #57
As we begin to add accessible instrumentation to this sim, it would be good to keep track of it in this issue.

[2019-01-30 21:09] pixelzoom commented on #57
And good to involve the responsible developer!

[2019-01-31 21:04] zepumph commented on #57
Indeed! @pixelzoom, @jessegreenberg, @twant, and @zepumph will be adding features in the coming months. I think that it will loosely follow something like:

* Implement PDOM like labels and help text
* Add the screen summary
* Add dynamic updates to the PDOM that are required.
* Add dynamic alerts and aria-valuetext.

I will link to the design doc when we get a permanent link to it.

[2019-02-05 05:02] twant opened #58 "branch: screenSummary"
branch created to add screen summary elements for #57

[2019-02-18 23:27] twant opened #59 "What should the PDOM look like for the combobox?"
In the design doc (screenshot below), it looks like we wanted to use an h3 heading. In prior works and in ComboBox.md, the accessible name was set via a span instead of an h3.

![screen shot 2019-02-18 at 6 26 08 pm](https://user-images.githubusercontent.com/12232821/52980950-bc698680-33aa-11e9-8191-39095e36189a.png)

[2019-02-19 00:32] #59 closed

[2019-02-25 23:49] pixelzoom opened #60 "unused private field in MolarityScreenSummaryNode"
In MolarityScreenSummaryNode.js:

[code]

This is an unused private field. Can it be deleted?

[2019-02-25 23:59] #60 closed

[2019-02-26 00:12] pixelzoom opened #61 "please document additions to MolarityScreenView"
Please document the additions to MolarityScreenView that were made in https://github.com/phetsims/molarity/commit/c6ec37eecc2ddaaa7593fad12aef8dd29a7e86cf, specifically `playAreaNode` and `controlAreaNode`.

In general, additions and changes should have the same level of documentation as existing code. Thanks!

[2019-02-26 00:34] zepumph commented on #61
@pixelzoom just so you know, most of the work is currently happening in the `screen-summary` branch ( #58). @twant I think this would be a great one for you to take on. IMO it would be best to do all development in the branch, including this additional documentation.

[2019-02-26 00:36] twant commented on #61
Thanks for flagging this, @pixelzoom, and apologies for the sparse documentation! I'll take a look at this and add documentation to those portions (and any other new additions) on the screen-summary branch.

[2019-02-26 03:21] pixelzoom commented on #43
@jessegreenberg since ComboBox has been totally rewritten, does this branch still have any value?

[2019-02-27 02:20] zepumph opened #62 "create a dev version of current a11y work"
This means that we will create a one-off version of the content in the screen-summary branch that @twant has been working on. Since one-off branches need to be camel cased, I will make a new branch, `screenSummary`, from the old branch and do the publication from that. I will then delete the hyphenated branch. Tagging @twant so that she knows to use the screenSummary branch from now on.

[2019-02-27 02:26] zepumph commented on #62
@emily-phet (I couldn't find Matthew's handle), here is the current version of Molarity.

There should be alerts when moving the sliders with the arrow keys.
NOTE: Right now please only use the up and down arrow keys to use the slider (not left and right).

https://phet-dev.colorado.edu/html/molarity/1.5.0-screenSummary.1/phet/molarity_en_phet.html?a11y

[2019-02-27 02:28] zepumph commented on #58
because of #62, I created `screenSummary` from the `screen-summary` branch. I'm not going to delete the hyphenated branch. Please use `screenSummary` from here on.

[2019-03-04 23:58] twant opened #63 "Heading node added to accessibleOrder but not as a child is hidden in PDOM"
@zepumph and I were trying to add the soluteComboBoxHeaderNode to the accessibleOrder of the playArea, but it is not visible in the PDOM unless we also add it as a child. @jessegreenberg is this expect behavior?

[2019-03-05 00:01] zepumph commented on #63
Here is a simple case @twant and I were able to reproduce in the scenery playground. It looks like parentless nodes are hidden for some reason.

![image](https://user-images.githubusercontent.com/6856943/53771275-6d355280-3e8e-11e9-9b2f-582c66a70bb0.png)

[2019-03-25 15:54] pixelzoom opened #64 "CT: 2 Lint Errors"
Molarity is failing lint in CT.  https://github.com/phetsims/molarity/commit/083cc3707ecf4f68c04b68338ae10871413ebd9a appears to be the culprit.

[code]

[2019-03-25 16:09] pixelzoom opened #65 "bad version in package.json"
On 2/27/19 in https://github.com/phetsims/molarity/commit/008761f645d25a20e636ef43433d2076179731d3, package.json in master was changed to:

[code]

... for a on-off version.  This form of version identifier does not belong in master.  On-off version ids need to be removed immediately after publishing.  The correct dev version id should be restored.

[2019-03-25 16:12] pixelzoom commented on #65
@twant please review. Mentioning @zepumph because I seem to recall him being associated with this on-off.

[2019-03-25 17:08] pixelzoom opened #66 "move private functions out of SolutionDescriber class definition"
In `SolutionDescriber`, there's no need to add functions `soluteAmountToIndex` and `volumeToIndex` to the class definition.  They are private and use none of the class' state, so they can be private functions that are defined outside the class definition.   The PhET convention is to put such functions after the class definition.

WebStorm complains about this, since it's generally a good pattern t

[2019-03-25 17:16] pixelzoom opened #67 "SolutionDescriber issues"
- [x] Missing documentation of overview and responsibilities:

[code]

- [x] Difficult to tell because of missing documentation overview/responsibilities.  But `SolutionDescriber` seems to be responsible for more than just the solution. E.g. `getStateOfSimDescription`, `getBeakerDescription`, `getSliderAlertString` .

- [x] Constructor creates unnecessary coupling:

[code]

There is no need for So

[2019-03-25 17:22] pixelzoom commented on #67
Same problem with `MolarityAlertManager` constructor.  `model` is unnecessary.  And `this.solutions` does not need to be a field, since it's used only in the constructor.

[2019-03-25 17:25] pixelzoom opened #68 "MolarityAlertManager issues"
Issues with MolarityAlertManager:

(1) The constructor has the same problem as https://github.com/phetsims/molarity/issues/67.  `model` is unnecessary.

(2) `this.solutions` does not need to be a field.  It is marked `@private` and  is used only in the constructor.

(3) `this.solutionDescriber` does not need to be a field.  It is marked `@private` and  is used only in the constructor.

(4) `getAle

[2019-03-25 17:27] pixelzoom commented on #43
@jessegreenberg ping.

[2019-03-25 17:32] jessegreenberg commented on #43
No, this can be deleted now.

[2019-03-25 17:33] jessegreenberg commented on #43
It has been removed.

[2019-03-25 17:34] pixelzoom commented on #66
Merged this into https://github.com/phetsims/molarity/issues/67.

[2019-03-25 17:34] #66 closed

[2019-03-25 17:42] pixelzoom commented on #67
- [ ] `getAlertString` has parameter `{string} slider ` that indicates which slider has been moved.  There's no indication of what the values are, and no assertion to validate the value, which is required for string params used like enumerations.   And from the [Enumeration section of phet-software-design-patterns.md](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patte

[2019-03-25 17:48] pixelzoom opened #69 "MolarityKeyboardHelpContent questions"
Why is `MolarityKeyboardHelpContent` not a subclass of `SCENERY/HelpContent`?

Why is it necessary to nest `MolarityKeyboardHelpContent` in an HBox as the only child?

[2019-03-25 17:54] pixelzoom commented on #57
- [ ] When this issue is completed, let's plan to give me an overview of what has been done and why.  I've been largely out of the loop, which is fine.  But as the responsible developer, I should be able to maintain this sim going forward, hopefully without having to involve the a11y team, or at least knowing when I need to consult the a11y team.

[2019-03-25 17:59] pixelzoom commented on #57
@zepumph said:

Does this link exist yet?

[2019-03-25 18:02] pixelzoom commented on #62
@zepumph is looks like the dev version has been created.  Can this issue be closed?

[2019-03-25 18:08] zepumph commented on #65
@twant and I have not yet gone over building/package work. We will talk this through today! As far as the problem goes, it was totally my bad.

[2019-03-25 18:09] #65 closed

[2019-03-25 18:20] pixelzoom commented on #67
@zepumph fyi.

[2019-03-25 18:20] pixelzoom commented on #68
@zepumph fyi.

[2019-03-25 20:23] zepumph commented on #69
Please see https://github.com/phetsims/tasks/issues/994. This issue is a naming convention one. Closing as duplicate.

[2019-03-25 20:23] #69 closed

[2019-03-25 21:04] zepumph commented on #57
That sounds really nice. I also think that doing that at some point 50% (ish) through would be good to. I foresee this being more of dialog/review than just an explanation.

Here is the link to the new design doc that was recently created. https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.nhqxjbby3dgu

I'll add it up top too.

[2019-03-25 21:45] Matthew-phet opened #70 "ComboBox alerts when saturation changes"
@twant @zepumph During todays meeting and I discussed an issue with the combobox where sometimes when the solute is changed the solution goes from saturated to not saturated and vice versa. Is this something we want to include an alert for or add to the existing alert for the combobox.

[2019-03-25 21:46] jessegreenberg commented on #63
This looks like a scenery bug, I can't think of a reason that the h3 in https://github.com/phetsims/molarity/issues/63#issuecomment-469477700 would be hidden.

[2019-03-25 21:54] zepumph commented on #62
Yes thank you.

[2019-03-25 21:54] #62 closed

[2019-03-25 22:01] twant commented on #61
@pixelzoom I've added some documentation to try to address this. Let me know what you think!

[2019-03-25 22:06] twant commented on #58
This work was merged to master two weeks ago, and all looks good. Further work will continue on master.

[2019-03-25 22:16] twant commented on #64
Thanks, Chris! Apologies for this -- will run `grunt lint` faithfully in the future!

[2019-03-25 22:16] #64 closed

[2019-03-26 00:15] pixelzoom commented on #61
👍 Looks great.  I made  one small doc tweak which you're welcome to review.  Closing.

[2019-03-26 00:15] #61 closed

[2019-03-26 00:17] pixelzoom commented on #70
Not hugely important in GitHub issues.  But PhET has standardized on `ComboBox` and `comboBox`.  And if you were to use `combobox` in code or comments, it would fail lint.

[2019-03-26 00:20] pixelzoom commented on #54
@samreid @zepumph so is there anything to be done here?  Or shall we close and revisit SoluteIO during PhET-iO redesign #51?

[2019-03-26 01:10] zepumph commented on #70
Thanks for the reminder! I always forget (thank golly g for that lint rule) and thus didn't see that edit while we were creating it.

[2019-03-26 04:07] twant commented on #68
@pixelzoom I think I addressed the parts of this issue in MolarityAlertManager. I started working on #67, but not all of those concerns have been addressed yet -- will let you know when they are. Thanks for looking over these, and for your feedback!

[2019-03-26 04:22] twant commented on #57
Sounds great. I'll leave it up to @zepumph to decide the best timing to take a look at the a11y features together, as I don't really have a good sense of how far through the process of adding a11y features we actually are. Looking forward to discussing with you!

[2019-03-26 13:31] pixelzoom commented on #70
Yes and no. I wouldn't be leaning on the lint rule so often if our convention was consistent.  `ComboBox`, `Checkbox`, and (now) `role='combobox'` makes it difficult to stay in the box (Box?)

[2019-03-26 13:41] pixelzoom commented on #70
... AccordionBox, AlignBox, LayoutBox, HBox, VBox, BlackBox, WhiteBox,...  Let's just forget I even said anything :)

[2019-03-26 19:10] terracoda commented on #70
@Matthew-phet great question. I'll need to mull it over, but my first thought is that you would want the alert to make it clear that a new solution is in the beaker and the state of the solution is likely important enough to alert.

But we can't describe everything all the time.
What's most important about changing the solute?
What are students exploring when they play will different solutes witho

[2019-03-26 23:11] zepumph opened #71 "Add aria-valuetext to sliders?"
As part of previous discussion, I thought we wanted to add aria-valuetext to the sliders, and to have them different on focus than on value change. Though now I can't find this in the design doc.

No matter, @twant, from https://github.com/phetsims/scenery/issues/951 this is now simply supported through the api for `AccessibleSlider` (or to be more specific, `AccessibleValueHandler` which is mixed

[2019-03-27 16:26] jessegreenberg commented on #63
I am starting to wonder if this was actually a design decision. Say the accessibleOrder is specified to separate scene graph and AccessibleInstance tree for a node, then that node is removed from the scene graph. It makes sense that the node is hidden for a11y purposes too. Scanning https://github.com/phetsims/scenery-phet/issues/365 for any more info

[2019-03-27 16:28] jessegreenberg commented on #63
From https://github.com/phetsims/scenery-phet/issues/365#issuecomment-383186465, internal question and answer:

[2019-03-27 16:42] jessegreenberg commented on #63
From https://github.com/phetsims/scenery-phet/issues/381#issuecomment-391115532, another comment

[2019-03-27 16:51] jessegreenberg commented on #63
I had previously said that adding a node to an accessibleOrder that is not attached to the scene graph was a supported feature, and I now think that is incorrect. Sorry about that! We should update accessibleOrder documentation to list this explicitly, and perhaps discuss whether this is the ideal behavior.

[2019-03-27 16:54] jessegreenberg commented on #63
I added a note about this constraint to `accessibleOrder`.

[2019-03-27 18:16] zepumph commented on #63
Oh my goodness thank you for tracking this down! I see now the reasoning for this originally. I can foresee this as a code smell, especially in Molarity, where the screen view is very well organized, and has a list of visual children all added at the end. It would be nice if PDOM Nodes weren't in that list, and only needed to be added through `accessibleOrder` setters on the playAreaNode/controlAr

[2019-03-27 18:21] zepumph commented on #63
@jessegreenberg please reopen if you agree.

[2019-03-27 18:21] #63 closed

[2019-03-28 23:51] pixelzoom commented on #68
Looks great @twant, closing.

[2019-03-28 23:51] #68 closed

[2019-04-01 02:01] twant commented on #71
Thanks, @zepumph! I think the one that will work best is `a11yCreateValueChangeAriaValueText`, but it would need to track two properties in order to work. Would love to discuss this week to see how implementation looks for two tracked properties!

[2019-04-01 02:44] twant commented on #67
@pixelzoom I have changed SolutionDescriber quite a bit based on conversations with @zepumph , and I believe those revisions have addressed most of your review comments. I am still planning to refactor a bit for readability.

The only comment we still need to think about is whether to rename SolutionDescriber and its documentation to indicate that it is responsible for more descriptions than just

[2019-04-01 15:05] KatieWoe opened #72 "CT n.getCurrentSaturatedConcentration is not a function"
[code]

[2019-04-01 15:31] pixelzoom commented on #72
SolutionDescriber is trying to call method `getCurrentSaturatedConcentration`, which does not exist.  Probably related to a11y work in #57 and #67.    @twant @zepumph

[2019-04-01 15:32] pixelzoom commented on #67
SolutionDescriber is failing CT, see https://github.com/phetsims/molarity/issues/72.  Assign back to me when that's fixed.

[2019-04-01 15:40] twant commented on #72
@pixelzoom @KatieWoe Sorry about that! Taking a look now, will let you know when it's fixed.

[2019-04-01 15:50] twant commented on #72
Ok, @KatieWoe @pixelzoom I believe it's fixed. Apologies again!

[2019-04-01 16:13] pixelzoom commented on #72
Local test passing with `?brand=phet&ea&fuzz&a11y&memoryLimit=1000`, closing.

[2019-04-01 16:13] #72 closed

[2019-04-02 16:02] samreid commented on #54
I added ReferenceIO and used it for SoluteIO.  Seems to be working ok in studio=>launch.  @zepumph can you take a look?

[2019-04-04 20:09] zepumph commented on #54
Things are looking pretty good while looking at the code. Full review is on hold until https://github.com/phetsims/tandem/issues/85 is sort out.

[2019-04-05 05:31] twant opened #73 "branch: refactor-solution-describer"
Created a new branch to re-do solution describer to remove some of its responsibilites. Still need to:

- [x] Remove MolarityAlertManager and add those pieces to MolarityScreenView

- [ ] Update focus alert text to match design doc

- [ ] Figure out how to update aria live text without it being read out

- [x] Rename SolutionDescriber to be MolarityDescriber

[2019-04-06 02:00] twant commented on #67
@pixelzoom just pushed quite a few changes (apologies for the large commit), including a complete restructuring of the describers. I broke out the SolutionDescriber into a series of much smaller describers (for each of the model properties). I also removed MolarityAlertManager, and moved the property links to MolarityScreenView. Let me know if you see any issues, or have ideas for further improvem

[2019-04-06 02:02] twant commented on #73
Merged into master. Going to delete this branch and continue working on focus alerts on master.

[2019-04-06 03:00] twant opened #74 "Add content to keyboard dialog window"

[2019-04-06 03:01] twant opened #75 "Implement "original" alerts for checkbox checked"
**Example: Solute Amount Slider**

Original:
{{More/Less}} concentrated. {{0.500}} moles in solution. Concentration {{0.800}} Molar.
Increasing:
{{0.550}} moles, {{more}} concentrated at {{0.800}} Molar.
{{0.600}} moles, {{more}} concentrated at {{new value}} Molar.
Decreasing:
{{0.450}} moles, {{less}} concentrated at {{0.800}} Molar.
{{0.400}} moles, {{less}} concentrated at {{new value}} Molar.

[2019-04-06 23:38] jessegreenberg opened #76 "MolarityKeyboardHelpContent may not be necessary"
Just noticed during https://github.com/phetsims/scenery-phet/issues/478. Since the GeneralKeyboardHelpSection is the only content for the KeyboarHelpDialog it likely doesn't need to be contained in an HBox. In fact, we could probably get away with passing a GeneralKeyboardHelpSection to `keyboardHelpNode` option in molarity-main and delete MolarityKeyboarHelpContent. @twant what do you think?

[2019-04-07 20:26] #75 closed

[2019-04-08 04:17] twant commented on #76
@jessegreenberg I think that makes a lot of sense. Based on updates to the design doc, I think the help content now needs to have more than GeneralKeyboardHelpSection, so I've kept MolarityKeyboardHelpContent for now. I just pushed some changes with the updated content. Let me know what you think, and if there's still a way to consolidate or eliminate the need for MolarityKeyboardHelpSection!

[2019-04-08 08:11] terracoda opened #77 "For interviews Wed. April 10th"
@emily-phet and @Matthew-phet, since there are 2 interviews schedule for Wednesday April 10th, I opened this issue, so that @zepumph and @twant know that they will need to port the best/latest working described version to the sonification wrapper and to publish a dev link here in this issue.

For work on GFLB, I typically ask @zepumph to use the latest (or best) working version at his end-of-day T

[2019-04-08 08:39] terracoda commented on #77
@Matthew-phet and @emily-phet, assigning to you so you can re-assign to @twant and @zepumph when appropriate.

[2019-04-08 15:06] jessegreenberg commented on #76
I see, thanks@twant! With other content it makes sense to keep MolarityKeyboardHelpContent. Closing.

[2019-04-08 15:06] #76 closed

[2019-04-08 18:47] pixelzoom commented on #67
This separation into multiple Describes looks much better.  But it looks like they are combined into MolarityDescriber.   Can you describe what pattern is being used here?

Also note the commits above, let me know if you have any questions about these.  There were quite a few incorrect/missing type expressions, incorrectly described parameters, etc.

[2019-04-08 18:55] pixelzoom commented on #67
I also suggest that you go through all of the documentation again.  It looks like there are copy-paste errors.  For example, in ConcentrationDescriber, I see this identical documentation for 3 methods:

[code]

[2019-04-09 02:26] zepumph commented on #77
@twant and I worked this afternoon to go over the design doc and make sure things are looking good. We then ported the latest into the sonification wrapper. I did a spot check and things seems good to me (as far as I can tell) so I published a new version. Tagging @jbphet and @terracoda because I bet they want to have a look listen and feel before tomorrow.

https://phet-dev.colorado.edu/html/phet

[2019-04-09 08:21] terracoda commented on #77
@zepumph, Thanks! That means @emily-phet and @Matthew-phet (and I) can review it today! Awesome!

[2019-04-09 18:03] jbphet commented on #77
Thanks @zepumph.  @Ashton-Morris, @emily-phet checked this over today with respect to the sound design implementation and all looks good.

[2019-04-10 18:35] KatieWoe opened #78 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None noticed

Screenshots:
![Image from iOS](https://user-images.githubusercontent.com/41024075/55904420-01c95980-5b8d-11e9-82e7-784b6aac3

[2019-04-12 23:41] #78 closed

[2019-04-15 17:30] twant commented on #67
@pixelzoom Thanks for this feedback, and apologies for the formatting/documentation issues -- I did another pass this week to clean up formatting and documentation in the describers.

Regarding the describer pattern, when I broke the describer up into multiple smaller describers, it became clear that many (if not most) of the descriptions require information about all four of the properties with t

[2019-04-17 01:56] zepumph opened #79 "Refactor MolarityDescriber into modular sections"
From https://github.com/phetsims/molarity/issues/67#issuecomment-480957105, @zepumph and @twant will investigate pulling pieces of MolarityDescriber into more modular sections. Hopefully this will limit the complexity of MolarityDescriber, and potentially remove it all together.

We don't like that currently it stands as a sort of "describer view" that is separate from the screen view. Perhaps the

[2019-04-17 01:58] zepumph opened #80 "branch: molarityDescriberRefactor"
To assist in #79.

[2019-04-18 19:51] Matthew-phet opened #81 "Two small changes in the a11y design document"
@emily-phet and I changed a couple things in the [a11y] design doc.

- [x] We removed the "peak" related wording and added the concentration readout range.

    - [Example New Wording, change in italics]
Solution Concentration of {{Potassium permanganate}} Is {{Very Concentrated}}. _Concentration readout range is {{0.00}} to {{5.0 M}}_. The chemical formula for {{Potassium permanganate}} is {{KMnO

[2019-04-18 22:39] twant opened #82 "Utterance queue vs. aria value text"
@emily-phet, @Matthew-phet, @jessegreenberg, @zepumph and I were discussing the implementation of the alerts in Molarity. Originally, all of the alert text was being read out via utterance queue, but @zepumph and I changed it so that most of the slider alert text is now read out via aria value text (including the on focus alerts, which differ from the alerts read out when the sliders are moved). W

[2019-04-18 22:41] twant commented on #81
@Matthew-phet are these changes ready for implementation? Feel free to assign this issue to me when you feel like they are :)

[2019-04-19 02:25] zepumph commented on #82
In addition. @terracoda the way that the "on focus aria-valuetext" api is implemented requires there to be "on value change" valuetext accompanying it. I think it would have been equally possible to put both communications (on focus and on value change) into utterance alerts instead of using aria-valuetext. The issue was when we were trying to use on focus valuetext and on value change alerts.

[2019-04-19 12:42] terracoda commented on #82
Hmm, this an interesting issue.
For me, it is not just delivering the correct strings. I agree that Molarity text sound rather good.

The way I think about aria-valuetext vs. aria-live alerts is that aria-value text only contains information directly about the object the slide/spinbutton is controlling.

The aria-live text would bring in related information about what is happening.

I think keepin

[2019-04-19 12:42] terracoda commented on #82
Hmm, this an interesting issue.
For me, it is not just delivering the correct strings. I agree that Molarity text sound rather good.

The way I think about aria-valuetext vs. aria-live alerts is that aria-value text only contains information directly about the object the slide/spinbutton is controlling.

The aria-live text would bring in related information about what is happening.

I think keepin

[2019-04-19 14:52] Matthew-phet commented on #81
Yeah! these changes are ready for implementation.

[2019-04-19 17:25] emily-phet commented on #81
@twant  - @Matthew-phet is new to GitHub issues, so I had asked him to assign me so I could make wording suggestions if needed. I didn't respond very quickly though, so thanks for checking in!

I made a few edits above (just formatting and wording, nothing has changed regarding actual content)

[2019-04-19 18:45] twant commented on #81
Got it -- sorry to jump the gun, @emily-phet and @Matthew-phet!

[2019-04-22 03:40] twant commented on #81
@Matthew-phet I think this has been implemented -- let's review tomorrow at our meeting to make sure it sounds how it should!

[2019-04-28 13:44] emily-phet opened #83 "Help text additions to Molarity PDOM"
@twant

@Matthew-phet @terracoda and I discussed the recent interviews on Molarity, and felt that the addition of the following help text would likely be helpful for users.

- [x] Addition of help text just above keyboard shortcuts hint in scene summary (see A11y main design for specific text for these).

- [x] Addition of help text just 1) below the solute amount slider, 2) below solution volume

[2019-04-29 03:53] twant commented on #83
@emily-phet and @Matthew-phet I'll take a look and get you a dev version once its been implemented. Question: from looking at the design doc, it looks like this text should be a part of the PDOM. Is this correct, or do you want it to be read out on focus of those elements?

[2019-04-29 05:17] terracoda commented on #83
@twant, yes that is correct. The help text is not read out automatically, just discoverable by the user when they read it in the PDOM's main content.

[2019-04-29 22:28] twant commented on #83
@zepumph and I renamed the option buttonLabelContent to buttonAccessibleName for API clarity while working on adding help text for the solute combo box.

[2019-05-02 18:58] pixelzoom commented on #77
Looks like this has been reviewed, and April 10 is long past.  @jbphet can this issue be close?

[2019-05-03 17:09] #77 closed

[2019-05-07 00:54] twant commented on #83
Updated, I believe! Check it out here and see what you think, @Matthew-phet @emily-phet

https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.10/phet/molarity_en_phet.html

[2019-05-07 00:55] twant commented on #81
I believe this is also implemented: https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.10/phet/molarity_en_phet.html

[2019-05-07 00:56] twant commented on #79
Working on master now, so closed the issue related to the molarityDescriberRefactor branch

[2019-05-07 14:41] pixelzoom commented on #80
Reopening, this branch still exists.  @twant did you intend to delete the branch?

[2019-05-07 16:47] Matthew-phet commented on #82
@twant So going forwards its been decided to change where some of the alerts go

**Solute Slider Changes Unsaturated**
This was what it looked like when everything was in aria value text.
OLD: More solute, more concentrated. A low amount of ‪Drink mix‬. Solution not concentrated.

This is what we want it to look like now.
1. Interactive alert: More/Less solute, more/less concentrated. Solution not

[2019-05-07 16:50] #70 closed

[2019-05-07 16:50] #81 closed

[2019-05-07 18:02] emily-phet commented on #82
@Matthew-phet
I think you're missing a "." after "concentrated" in the NEW interactive alerts above. You might edit you're original post, adding those in.

[2019-05-09 17:47] emily-phet opened #84 "Incorrect indication of "Zero" solute - Region for "a little" needs to be changed to 0.001-0.150"
When Show Values Unchecked and Solute slider just above zero:

`Currently, beaker is half full of a ‪Drink mix‬ ‬solution containing Zero ‪‪Drink mix‬‬ solute. Solution is not concentrated and is not yet saturated.`

is read out in the screen summary. We think the region when "a little" solute is indicated needs to be changed to be 0.001-0.150 to address this.

[2019-05-09 18:06] emily-phet opened #85 "When Solute Amount Slider = 0, Alerts and Aria valutext"
For the case when when Solute Slider set to 0

- [x] Immediately upon slider value becoming 0 - Solute Slider alert: “No solute. Solution is pure water.

- [x] When solute slider = 0 and Solution Volume slider is moved to:
(future) Aria Valuetext: **no change**, for example “Beaker over half full”
(future) Alerts: “[More/Less] water. No solute in beaker.”

[2019-05-09 18:20] pixelzoom commented on #84
Hi a11y team.   If you create an issue that is specific to a11y, please assign an appropriate label (`dev:a11y` or `design:a11y`).   It will help me with filtering issues for the large number of repos that I'm responsible for.   Thanks!

[2019-05-09 18:30] emily-phet opened #86 "Chemical formula for Drink Mix"
Description for Drink Mix under H2: Beaker needs to read:

"Drink Mix contains mainly citric acid, which has a chemical formula of C(sub)6H(sub)8O(sub)7."

Instead of "Chemical formula for Drink Mix is Drink Mix."

[2019-05-09 18:35] emily-phet opened #87 "Keyboard Help Dialog - switch Basic and Combobox groups"
Switch order of Basic and Combobox groupings of keyboard controls - so that Combobox grouping starts right side at the top.

[2019-05-12 03:33] twant commented on #80
@pixelzoom thanks for checking on this. Yes, apologies, I did mean to both close the issue and delete the branch. Will check with @zepumph to make sure the refactor looks good and then close & delete the branch in our meeting this coming Monday.

[2019-05-13 21:21] twant commented on #85
Per meeting with @Matthew-phet, we still need to turn the alert off after it's been read once, and then change the alert to "more/less water. No solute in beaker". Implemented so far is the alert once solute amount has become zero.

[2019-05-13 21:29] twant commented on #82
@Matthew-phet and I listened to this today. So far, the aria valueText seems to be working as designed, but the alerts need to be modified so that "less solute, less concentrated" gets read out every time, and the state info is read out on a region change.

[2019-05-13 21:32] twant commented on #82
Also, need to add back onfocus value text.

[2019-05-13 22:04] twant commented on #82
It seems that the on-focus value text is now the same as the value text after a slider has been focused and moved. Is this correct @Matthew-phet?

[2019-05-13 22:52] twant commented on #87
@Matthew-phet @emily-phet Assigning these back over to you for review.

[2019-05-13 22:52] twant commented on #86
@Matthew-phet @emily-phet Assigning these back over to you for review.

[2019-05-13 22:53] twant commented on #85
@Matthew-phet @emily-phet Assigning these back over to you for review.

[2019-05-13 22:53] twant commented on #84
@Matthew-phet @emily-phet Assigning these back over to you for review.

[2019-05-13 22:53] twant commented on #82
@Matthew-phet @emily-phet Assigning these back over to you for review.

[2019-05-14 15:14] emily-phet opened #88 "Chemical names in PDOM should not be capitalized"
For example - "potassium permanganate", "water", etc. Currently they have sentence case (probably being pulled directly from the labels in the combobox) but in the prom they should be all lower case.

[2019-05-14 15:18] emily-phet opened #89 "Keyboard shortcuts dialog"
Two issues regarding keyboard shortcuts dialog:

- Please add a little extra visual space between the "Basic "Change/Choose" - similar to the padding amount between the "Tab to get started" text and the first heading below it.
- In the combobox shortcut keys area - we'd like to have "Choose solute" instead of "Change/Choose solute" in the keyboard dialog.

[2019-05-14 15:24] emily-phet opened #90 "Remove leftover 'help text' from Solution Controls area"
Please remove "Solute Amount and Solution Volume sliders change solution in beaker." from underneath Solution Controls heading.

This slider specific sentences after each slider was intended to replace this sentence. With all together, it's redundant and was noted by a user as such in a discussion with a consultant.

[2019-05-14 15:43] emily-phet opened #91 "Correction for dynamic part of the Screen Summary"
When the Beaker is low, incorrect wording shown currently.

Instead of "Beaker is low of drink mix solution..." needs to be "Beaker has a low amount of drink mix solution...".

[2019-05-16 17:11] #84 closed

[2019-05-16 17:12] #85 closed

[2019-05-16 17:12] #87 closed

[2019-05-18 04:15] #74 closed

[2019-05-18 04:16] twant commented on #71
Closing here, as the most up-to-date issues with aria-valueText are tracked in https://github.com/phetsims/molarity/issues/82

[2019-05-18 04:16] #71 closed

[2019-05-18 23:43] twant commented on #91
I think this (and #90, #89, #88) have now been implemented, @emily-phet @Matthew-phet. Assigning back over to you to take a look/listen.
https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.12/phet/molarity_en_phet.html

[2019-05-18 23:44] twant commented on #83
@emily-phet @Matthew-phet checking on this issue to see if you think it's been implemented correctly and can be closed. Thanks!

[2019-05-18 23:47] twant commented on #82
@Matthew-phet @emily-phet Question regarding the aria-valueText vs. aria-live alerts changes. Will you be wanting some similar split between aria-valueText and aria-live alerts for quantitative alerts (when the show values checkbox is checked)?

[2019-05-19 19:59] #89 closed

[2019-05-20 16:09] Matthew-phet commented on #82
Yes, the split should be the same or similar.

[2019-05-20 16:09] #90 closed

[2019-05-20 16:11] #91 closed

[2019-05-20 16:11] #88 closed

[2019-05-20 16:12] #83 closed

[2019-05-20 18:49] twant commented on #82
Great! I took a pass at it, let's review this evening and see how it sounds! @Matthew-phet

[2019-05-21 00:53] twant opened #92 "Screen summary changes"
- [x] Add paragraph break to first paragraph

- [x] When there is no solute: *Currently,* beaker *has* ____ liters of water. Drink mix is selected, but no drink mix is in the beaker.

- [x] When there is solute: Currently, beaker *has* ____ liters of {{solute}}. Drink mix is selected, but no drink mix is in the beaker.

- [x] -Beaker *has a low amount of* *a* water (when no solute in beaker)

- [x

[2019-05-21 01:09] twant opened #93 "Play area changes"
- [x] Cap max concentration readout at 5 Molar, even if the max for a given solute is above 5 molar.
- [x] 'Molar' should not be capitalized across the board
- [x] Special case when no solute: 'Beaker {{volumeProperty}} of water, containing no solute.'
- [x] Remove 'Slider' from accessibleName of each slider

[2019-05-21 01:19] twant opened #94 "Show values checkbox alert read out twice"
@zepumph and @terracoda, as @emily-phet, @Matthew-phet and I were listening to Molarity, we noticed that when the checkbox was checked, the alert was read out twice. We also noticed this is GFLB. Do you know why this is happening?

Separately, we also noticed that when we uncheck a checkbox, the alert read out first says "check checkbox", which seems to be the opposite action of what we just did.

[2019-05-21 01:22] twant commented on #94
This also seems to be happening (where the alert is read out twice) when we press the "reset all" button. We're on VoiceOver, btw.

[2019-05-21 01:24] twant opened #95 "Keyboard help dialog: change vs choose"
In the third step of "Change Solute" section, should be "choose solute" instead of "change solute"

[2019-05-21 08:41] terracoda commented on #95
@twant, this is probably on your radar, but just in case, you need to update the a11y content for the dialog as well as the visual content.
<img width="562" alt="molarity-dialog" src="https://user-images.githubusercontent.com/1902116/58081136-ce7ae100-7bb4-11e9-8489-15c0f0a24eec.png">

[2019-05-21 08:46] terracoda commented on #95
@twant, also, there is no way you would have know this (so apologies), but the square brackets in the design doc are meant to communicate that an icon visually goes in that spot in the visual dialog, but the brackets are not meant to be included in the dialog content.

Please remove all the square brackets in the a11y content for the dialog. The brackets are only appearing in the the list items un

[2019-05-21 08:49] terracoda commented on #95
I am also going to create a related issue about changing about adding a numbered list for the Steps to a Solute.

[2019-05-21 09:01] terracoda opened #96 "Keyboard Dialog - ordered list for steps to change a solute"
In addition to updates identified in #95, @emily-phet suggested making the list under the "Change Solute in 3 Steps" heading into an ordered list. I think this is a good idea.

Please do the following:
- [x] In in PDOM HTML - change un-ordered list,`ul`,  to an ordered-list, `ol`. No need to adjust list items in PDOM.
- [x] There are actually 4 items, so change H3 heading content to "Steps to Chan

[2019-05-21 09:19] terracoda opened #97 "Labels for sliders - remove word "slider" from accessible name"
Screen reader software reads out the `role` of an interactive element automatically, so there is not need to have the word "slider" (or any `role` for that matter) in the element's `label`. The content of the label should just have the element's accessible name.

In the case of the sliders in Molarity the accessible names are:
-  Solute Amount
- Solution Volume

I am just checking with @Matthew-ph

[2019-05-21 09:20] terracoda commented on #97
We'll assign over to @twant after today's design meeting.

[2019-05-21 13:01] terracoda commented on #94
@twant, I have experienced duplicate alerts many times when testing, mainly in A11y View and in Sonfication wrapper, and sometimes even in the sim.

Using Safari 12.1 and Voice Over on High Sierra 10.13.6 I am currently no getting repeat alerts. I am getting pile-ups in the utterance queue, though, when I move the sliders several steps. I'll open an issue for that so you and @zepumph can work on i

[2019-05-21 13:04] terracoda opened #98 "Alerts pile up in utterance queue"
As mentioned in https://github.com/phetsims/molarity/issues/94#issuecomment-494381340, when I move the sliders a lot the alerts pile up rather than jumping to the latest alert according to the latest value.

Using Safari 12.1 and VoiceOver on MacOs High Sierra 10.13.6

[2019-05-21 13:05] terracoda commented on #98
@twant, @zepumph might have some dev tricks to address this.

[2019-05-21 15:41] terracoda commented on #96
@twant, we'll see if we can do this.

[2019-05-21 15:47] terracoda commented on #96
@twant, I couldn't find the heading for the group. Could you update that, please.

[2019-05-21 15:49] terracoda commented on #95
@twant, I made a commit that referenced #96 and #95, but changes are just to #95.
Still need to update the heading, though. Please do that.

[2019-05-21 16:12] terracoda commented on #95
The only thing left for this issue is the visual change from "Change" to "Choose" noted in the initial comment. I removed the square brackets and edited the content to read "Choose".

[2019-05-21 18:16] emily-phet commented on #97
This was already on one of the issues that @twant created yesterday (listed as a checkbox item inside probably the Play Area-focused issue).

[2019-05-21 18:16] #97 closed

[2019-05-21 18:31] emily-phet opened #99 "Molarity - Master A11y Publication Checklist"
- [X]   @emily-phet "sign off" (2019 Quarter 4)
   - [x]  Performance acceptable
   - [x]  (Status unknown, moving on) Carefully review ?showPointerAreas
   - [x]  No new feature requests
- Pre-publication items
   - [x]  Main screenshot updated
  - [x]  Create issue for updating Teacher Guide (#220)
  - [x] Create issue for updating Sound Feature Video (#221)
     - [x] Sound Feature Video create

[2019-05-21 18:35] emily-phet commented on #99
I just had a meeting with @jessegreenberg and @zepumph, and one of the topics I brought up was a walk-through of a potentially desirable workflow for Molarity. I wanted to share what came out of the conversation with everyone - see below.

- (MM and TW) Finalizing design/implementation (this is the stage we’re in now, ironing out the remaining kinks for design and implementation)
- (TW, with suppo

[2019-05-21 19:29] pixelzoom commented on #99
Shouldn't "responsible developer" code review be somewhere on this checklist?

[2019-05-21 19:31] zepumph commented on #99
To that seems like the obvious first choice, but it feels like a code review could be done by anyone so long as all parties are aware and agreed on it. I edited it above.

[2019-05-21 19:36] pixelzoom commented on #99
It's not that I have a burning desire to do a code review :)  But I'm not entirely sure why you'd want the code review to be done by "anyone" when the responsible developer is presumably most familiar with the sim.  And I think it's also important for the responsible developer to keep current on what other developers are doing in the code that they're responsible for.

Also related to this checkli

[2019-05-21 20:14] pixelzoom opened #100 "BeakerNode should be responsible for setting its descriptionContent"
The chunk of code below is currently in `MolarityScreenView`.  Since it's related to the beaker, it would be better-placed in `BeakerNode`.    You'll need to add `@param useQuantitativeDescriptions` to BeakerNode's constructor.

[code]

[2019-05-21 20:15] pixelzoom opened #101 "useQuantitativeDescriptions name violates PhET naming convention"
From the [code-review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

In MolarityScreenView:

[code]

This should be named `useQuantitativeDescriptionsProperty`.  By convention, a Property is always named with a "Property" suffix.

This name also needs to be fixed in MolarityScreenSummaryNode and *Describer classes.

[2019-05-21 20:20] pixelzoom commented on #101
This name also needs to be fixed in MolarityScreenSummaryNode and all *Describer classes.

[2019-05-21 20:28] zepumph commented on #98
@twant I would be happy to pair on this if you'd like. In the mean time, explore the `ValueChangeUtterance` subtype to see if this helps solve the problem. See OHMS_LAW/ControlPanel for example usage that seems to be very similar to yours.

It would be good to familiarize yourself with the new Utterance api, especially `alertStable` and `alertStableDelay`. Notice that `alertStableDelay` is basical

[2019-05-21 20:31] pixelzoom opened #102 "files to be code reviewed for a11y"
I'm using this issue to keep track of which source files have been modified/added as the result of #57 (Instrument with accessibility).   This will be useful for whoever does code review.

As of Tue May 21 14:31:24 MDT 2019

### New files:
ConcentrationDescriber
SoluteAmountDescriber
SoluteDescriber
VolumeDescriber
MolarityKeyboardHelpContent
MolarityScreenSummaryNode
MolarityA11yStrings
molarity_

[2019-05-21 20:43] pixelzoom opened #103 "rename MConstants and MSymbols"
From the code-review checklist:

This sim mixes "Molarity" and "M" prefixes, more of the former than the latter.  So to bring this sim up to PhET code standards, `MConstants` and `MSymbols` should be renamed `MolarityConstants` and `MolaritySymbols` respectively.

[2019-05-21 20:50] pixelzoom opened #104 "branch: refactor-solution-describer"
This branch was created with on 4/5/19 by @twant with no associated GitHub issue.   Please describe the purpose of this branch.

[2019-05-21 23:16] ariel-phet commented on #99
@emily-phet @pixelzoom @zepumph I think it is totally appropriately for the responsible dev to be the code reviewer, and in case like this help shepherd the sim to publication (they don't need to be doing the publication work, but just helping avoid pitfalls and such).

[2019-05-21 23:23] emily-phet commented on #99
The intention was not to exclude the responsible dev, rather - to not obligate the responsible dev. Their may be situations where the responsible dev is not available or would prefer not to do the code review, especially as we just keep making more and more sims!

@pixelzoom you are of course welcome to code review this sim! We'll keep you in the loop as @twant gets ready for that step.

[2019-05-23 18:52] emily-phet opened #105 "Combobox Alerts"
We have updated the design doc to indicate some changes to the combobox alerts. Here are those changes copied in:

- [x] **When solute is changed from ‘not saturated’ solution to a ‘not saturated’ solution:**
 New solution. {{Drink Mix}} concentration readout range {{0.00}} to {{5.0 M}}

- [x] **From a ‘saturated’ solution to a ‘not saturated’ solution:**
New solution. Not saturated, no solids. So

[2019-05-24 17:51] twant commented on #104
This branch was created to move away from one monolithic MolarityDescriber and toward several smaller describers (i.e. ConcentrationDescriber, VolumeDescriber, etc.). I believe that refactor is complete -- closing and deleting the branch.

[2019-05-24 17:51] #104 closed

[2019-05-24 17:58] twant commented on #94
Great, thanks for taking a look! Ok to close this and continue documenting utteranceque pile-up issues in #98, @terracoda?

[2019-05-25 00:10] twant commented on #100
Thanks for this! I moved that code into BeakerNode. I also added a few more params for the describers, in addition to useQuantitativeDescriptions. @zepumph, would love to review with you on Monday, and then I'll assign it back over to you, @pixelzoom

[2019-05-25 00:13] twant commented on #95
@terracoda just to confirm: The heading for the section should read "Choose Solute in 3 Steps," not "Change Solute in 3 Steps?"

[2019-05-25 00:51] twant commented on #95
Nevermind, just read the other issue. Will implement the new heading now (Steps to Change Solute).

[2019-05-25 01:53] twant commented on #95
Closing so we can consolidate to just one issue tracking this (#96).

[2019-05-25 01:53] #95 closed

[2019-05-25 03:30] twant commented on #105
@emily-phet @Matthew-phet I believe this issue, along with#82, #92, #93, and #96 have been implemented and pushed to master. Assigning back over to you for review!
https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.13/phet/molarity_en_phet.html

[2019-05-28 09:25] terracoda commented on #96
@twant, the ordered-list looks and sounds great. to me, thanks!

[2019-05-28 09:26] terracoda commented on #96
@emily-phet and @Matthew-phet, I think we can close this issue.

[2019-05-28 09:27] #96 closed

[2019-05-29 01:20] twant commented on #86
As @zepumph was reviewing this, he mentioned that perhaps we'd like to add the chemical formula for citric acid as Drink Mix's chemical formula in other non-a11y parts of the sim. In the code, this caused a conditional, and as a result it might help with maintainability. @emily-phet what do you think?

[2019-05-29 01:52] pixelzoom commented on #86
I don't see any problem with maintainability.   And this is a question for the lead designer, @arouinfar.

I'm skeptical that we'd want "Drink mix" to be changed to "Drink mix (C<sub>6</sub>H<sub>8</sub>O<sub>7</sub>)" on the beaker, because it was supposed to be a more "approachable".   If we do change it, consider that "Drink mix" also appears in Beer's Law Lab and Concentration.

[2019-05-29 03:30] arouinfar commented on #86
@emily-phet I want to push back a bit on citric acid for a few reasons.
* The primary ingredient in powdered drink mixes such as Kool Aid or Gatorade is sucrose. (Admittedly, citric acid is the primary ingredient in zero-calorie drink mixes, but then we should probably call it "Diet Drink Mix" instead.)
* The teacher tips state: "Drink mix is assumed to have the same solubility as sucrose."
* An a

[2019-05-29 11:18] emily-phet commented on #86
@zepumph I get where this suggestion comes from, but a chemical formula for Drink Mix is being provided in the descriptions for sticky reasons, and we don't want this propagated to other places in the sim.

@arouinfar: The chemical formula is provided visually for all of the other solutes - and there's a place in the description where we provide this. It felt 'broken' to not include something in t

[2019-05-29 14:20] emily-phet commented on #86
@twant - also wanted to ask you directly if you had any suggestions for the chemical formula issue? Any ideas, or leanings one way or the other?

One thing I forgot to mention in the list of reasons for having a chemical formula for Drink Mix in the above comment, is this one (probably the biggest one!):
Since drink mix is the initial solute, it is likely to be the solute selected when students re

[2019-05-29 15:42] arouinfar commented on #86
@emily-phet thanks for the clarification.

say that the main ingredient of drink mix (which could be interpreted as just the mix) was something else entirely - sugar.

I interpret "Drink Mix" as the powder one mixes with water to prepare a beverage, which would include the sweetener. If citric acid had the same solubility as sucrose for the ranges available in the simulation, I would be fine with

[2019-05-29 15:54] kathy-phet commented on #86
What if you said instead "No chemical formula provided". So it does not use visual-related words.

[2019-05-29 17:05] twant commented on #86
Thanks for asking, @emily-phet. @arouinfar your points about citric acid are very interesting. It sounds like regardless, just specifying citric acid isn't a great scientific choice.

I think either specifying citric acid and sucrose or specifying neither (and saying something like @kathy-phet's suggestion) make sense in my mind. I probably lean most strongly toward "No chemical formula provided,"

[2019-05-29 17:23] kathy-phet commented on #86
I had that thought too. I was wondering if it was going to be too many words to explain it?

[2019-05-29 17:34] arouinfar commented on #86
I think that's a really clear way of describing things, and could address the issue @emily-phet raised with students being unlikely to revisit the formula in the PDOM. Unfortunately, it's also a bit verbose, but maybe still acceptable? We could also try tightening it up a bit.

"Drink mix contains multiple chemical compounds, no formula is provided."
"Drink mix contains multiple compounds, no form

[2019-05-29 21:34] #93 closed

[2019-05-29 21:34] #105 closed

[2019-05-29 21:35] #92 closed

[2019-05-29 21:35] #82 closed

[2019-05-30 01:04] twant opened #106 "Molarity Alert Manager"
@zepumph per our conversation yesterday, I created an alert manager that only manages the creation of utterances and adding them to the utteranceQueue. If you have time, would love your thoughts -- I think it's cleaner, but I'm not sure if the alert manager should be doing more work.

[2019-05-30 01:24] twant commented on #101
Thanks for catching this, @pixelzoom. Updated and assigned back over to you.

[2019-05-30 01:39] twant commented on #98
@terracoda I've updated the alerts and pushed to master. They sound better, but I'm still noticing weird repeating behavior on them. I can't tell if this is just that VoiceOver sometimes repeats alerts, or if the alerts are actually piling up still. Do you mind taking a listen and seeing how it sounds to you?

[2019-05-30 01:42] twant commented on #80
deleting the branch and closing

[2019-05-30 04:57] pixelzoom commented on #101
Perfect @twant, thanks for making the change.  Closing.

[2019-05-30 04:57] #101 closed

[2019-05-30 05:15] pixelzoom commented on #103
@twant is it going to disrupt any a11y work if I proceed with this?  I don't want to cause a conflict with any work-in-progress or branches that may need to be merged.  Let me know when it's convenient for me to so this work.  Thanks.

[2019-05-30 05:18] pixelzoom commented on #67
Looking good.  Let me know when you'd like me to review.

[2019-05-30 22:24] terracoda commented on #98
Awesome work @twant, no pile ups!  Thanks and closing.

[2019-05-30 22:24] #98 closed

[2019-05-31 18:34] zepumph commented on #106
Review of the alert manager refactor plus anything I saw along the way:

* https://github.com/phetsims/molarity/commit/5a6cde101733e875178094e967bdf7fa9a7189c8 is a very large commit, and it is sorta hard to see what was going on in it by just looking at the diff. When it is possible to commit in more modular, and specific ways, please do. I know, especially during refactoring times like these, ho

[2019-06-01 23:33] twant opened #107 "Create capitalization/verbiage data structure for a11y strings?"
As @zepumph and I have been working on Molarity, we've discovered many instances where, for grammatical correctness, we need to create a capitalized or lowercase version of a string that's used in multiple places, or create a version of the string that may use slightly different verbiage (for example, we need to fill in the string "beaker {{volume}}" to be both "beaker is half full" and "beaker ha

[2019-06-02 00:12] twant commented on #106
Thanks for this review @zepumph! Just pushed a few commits to address these. I gave MolarityAlertManager responsibility for the methods in ConcentrationDescriber, which does feel cleaner. See what you think -- I think a singleton could work well as well.

The only one of your points I haven't implemented yet is the separate of slider utterances -- they're pretty intertwined right now in the implem

[2019-06-03 19:55] zepumph commented on #106
I think I prefer your commits to a singleton, and https://github.com/phetsims/molarity/commit/47b35f5cf8e4fa5c7b5b351b5af709b67c48ad34#diff-01db8c6093f1395a996b21d075aa4d87R34 wouldn't work with a singleton, because it needs to have model state passed to it.

* A small thing. In `MolarityAlertManager.alertSliderQualitative()`, the string `qualitativeValueTextPatternString` takes an optional `state

[2019-06-03 22:47] twant commented on #103
@pixelzoom I don't think this will affect the a11y work -- thanks for checking!

[2019-06-04 01:10] twant opened #108 "Simplify initial alerts/descriptions"
Need to find a way to make the initial alert system simpler (maybe in the alert manager)?

[2019-06-04 16:37] Matthew-phet commented on #86
Hey! thanks everyone for all the input, I talked it over with @emily-phet and we decided to go with
"Drink mix contains multiple compounds, no chemical formula provided."

@emily-phet may follow up here later with more information

[2019-06-04 17:02] Matthew-phet opened #109 "Beaker description redesign changes"
Here are all the new changes and ill put the old one at the bottom

**New Changes**
**Example when qualitative and saturated, values unchecked**
Beaker is {{nearly full of}} a {{potassium permanganate}} solution. The solution is:

- {{purple}}
- contains {{a lot of}} {{potassium permanganate}}
- {{is saturated}} with {{a lot of}} solids
- {{is max concentration}}
- chemical formula of {{potassium

[2019-06-05 12:22] terracoda commented on #109
@Matthew-phet, is there a reason why you moved the color parameter into a bullet of it's own? I personally think it is best to keep the list of details as short as possible, but if you move color into a bullet, you also need to move the verb, so the first bullet becomes:
- is {{purple}}

I'm going to work out the same scenarios for Drink Mix in the design doc.

[2019-06-06 14:06] terracoda commented on #109
@Matthew-phet, as you know I have 4 drink mix examples in the design doc. I think we will refine a couple things in your examples next.

[2019-06-09 19:39] twant commented on #109
Quick question about this: I'm noticing that most of the bullet points grammatically don't make sense with the start of the sentence being "The solution is:"

Is there a different way you'd like to start this list of properties, @Matthew-phet?

[2019-06-09 20:44] terracoda commented on #109
@twant, @Matthew-phet and I had not finished cleaning up the examples in the design doc (sorry).

[2019-06-09 20:46] terracoda commented on #109
I am going to remake the potassium permanganate example, so it is in the same format as teh drink mix example, then @Matthew-phet can make sure it is what he wants (what we agreed on).

[2019-06-09 22:26] terracoda commented on #109
@Matthew-phet, @emily-phet and @twant, I made a new set of examples for the Potassium Permanganate in the same format as the set I made for the Drink Mix solute.

@Matthew-phet, could you review both sets.

I made some suggested changes to the scales (last week) which I don't think we have discussed.

In addition, while I was adjusting the Potassium Permanganate examples, I came up with possible n

[2019-06-09 22:34] terracoda commented on #109
@twant, I unassigned you because it is not clear to me the examples in the design doc are clean enough yet for you to implement.

Ignoring any new alternative suggestions that I marked in red and put in sub-bullets, the phrasing should all be correct now. That said, I would like @Matthew-phet to go over the set of examples for Drink Mix and the set for Potassium Permanganate once again before impl

[2019-06-10 13:40] terracoda commented on #109
@twant, @Matthew-phet and I will discuss the changes before yours and @Matthew-phet 's meeting on Tuesday :-)

[2019-06-10 21:46] jbphet opened #110 "Add sound"
The sound design has been approved, it's time to add it to the sim.  The sound design document is available [here](https://docs.google.com/document/d/1J05jC0mWOBz7S3FWTjVMvs7CiYpXibi5trA6xABPYw8/edit?usp=sharing) and the most recent sound design prototype is [here](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.114/phet-io-wrapper-sonification/molarity/html/molarity-soni

[2019-06-11 03:49] twant commented on #108
@zepumph @jessegreenberg is there a way to get the last utterance that was read from the utteranceQueue? I'm looking for an alternative to a focus alert, so one of my thoughts is to see if the last utterance was one that came from the same slider. I see a way to get the whole queue, but I'm not sure to see where the screen reader is in the process of reading alerts (is it safe to assume that the l

[2019-06-11 04:10] twant commented on #79
@zepumph does this look ready to close to you?

[2019-06-11 04:11] #94 closed

[2019-06-11 04:12] twant commented on #102
One new file added: MolarityBeakerDescriptionNode

[2019-06-11 15:54] jessegreenberg commented on #107
Thanks @twant, this does sound useful. One thing that will be tricky is thinking ahead to i18n. Say we need to have both "beaker half full" (segment) and "Beaker half full." (sentence). A utility function like `fragmentToSentence` that capitalizes the first letter and adds a period would make sense for english, but I am not sure if it would work for all languages.

So far, we have just included mu

[2019-06-11 16:08] jessegreenberg commented on #107
It would still be good to discuss at next meeting, then we could decide whether to work on this further and move to phetcommon (or somewhere else if that repos is to be removed someday).

[2019-06-11 17:07] zepumph commented on #79
Yes I think so.

[2019-06-11 21:17] Ashton-Morris opened #111 "Should the solution volume sound when there is no solute be in enhanced or not?"
@terracoda

We are wondering if the sound that happens when you are moving the volume [slider with the Solute Amount at 0](https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.113/phet-io-wrapper-sonification/molarity/html/molarity-sonification.html?sonificationFile=sonificationOptions&accessibility&precipitateSound=2) should be an enhanced sound or not?

What is your opinion

[2019-06-11 23:17] twant opened #112 "Self-check pre-code review"
## **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does the sim pass a scenery fuzz test? (run with query parameters `fuzz&ea`)
- [x] Does

[2019-06-12 14:34] #111 closed

[2019-06-12 14:34] Ashton-Morris commented on #111
Issue opened elsewhere

[2019-06-17 14:29] terracoda opened #113 "Screen Summary: minor iterations to static wording"
@twant, @Matthew-phet is happy with some wording changes that I suggested for the opening screen summary.

**Screen shot of current static screen summary:**
<img width="361" alt="molarity-stat-screen-summary" src="https://user-images.githubusercontent.com/1902116/59611458-a6cb5a00-911b-11e9-9f6c-bbdaa4013f7c.png">

**Here are the updates:**
- no change to paragraph 1
- replaced the second and thir

[2019-06-17 14:57] terracoda commented on #109
@twant, @Matthew-phet, @emily-phet and I discussed changes to the Beaker's dynamic description. There are 4 examples for Drink Mix and 4 examples for Potassium Permanganate, and each example is shown in both states (Values not checked and Values checked).

The **Drink Mix** examples are available in the main part of the PDOM, under the H3: Beaker heading, here [BEAKER’S DYNAMIC STATE DESCRIPTION](

[2019-06-17 14:59] terracoda commented on #109
@twant, and if you have not discussed all this with @Matthew-phet, it might be best to do that first ;-)

[2019-06-18 11:13] terracoda opened #114 "Change label for Show Values checkbox"
@twant, @Matthew-phet, @emily-phet and I think that the label for the "Show Values" checkbox should be changed to "Solution Values".

This change should be made to both the visual sim and the accessible PDOM.

No changes to help text or alerts for this checkbox, just the label change.

[2019-06-18 16:06] terracoda commented on #109
@twant, @Matthew-phet mentioned you would like a new issue for this issue, so I am assigning back to myself to split the issue up into smaller issues.

I'll make a issues for the new scales, and a separate issue for the changes to the beaker's description if that's needed.

[2019-06-18 16:18] terracoda opened #115 "New description scale for Solution Volume"
@twant, the described qualitative scales for Solution Volume, Solute Amount, and Concentration Levels have changed. The changed descriptions are bolded. Assigning to @Matthew-phet to verify and assign to you.

Here are the changes to Solution Volume

New Descriptions | New Solution Volume Range in liters (L)
-- | --
{{is full}} | 1.000 L
{{is nearly full}} | 0.751 L to 0.999 L
{{is over half full}

[2019-06-18 16:27] terracoda opened #116 "New description scale for Solute Amount"
@twant, related to #115, there are changes to Solute Amount, too. @Matthew-phet, please assign to @twant.

Here are the changes to Solution Volume. "zero" was changed to "no".

Description | Range for moles
-- | --
{{max amount of}} | 1.000 moles
{{a lot of}} | 0.850 to 0.950 moles
{{a bunch of}} | 0.650 to 0.800 moles
{{some}} | 0.450 to 0.600 moles
{{a low amount of}} | 0.200 to 0.400 moles
{{a

[2019-06-18 16:41] terracoda opened #117 "New description scale for Concentration Level"
Related to #115, #116 the described qualitative scale for Concentration Levels changed from a 6-point scale to a 7-point scale. Concentration level is solute dependent, so now values provided here or in design doc.

@Matthew-phet please assign to @twant when you are ready.
Note that the verb is part of the parameter because it changes dependent on the description value. Please handle this as you s

[2019-06-18 16:44] Matthew-phet commented on #115
looks good! assigning to @twant

[2019-06-18 16:45] Matthew-phet commented on #116
looks good to me! assigning to @twant

[2019-06-18 16:47] Matthew-phet commented on #117
looks good to me! assigning to @twant

[2019-06-18 16:54] terracoda opened #118 "Change initial interaction hint and put in new paragraph"
Please change the initial interaction hint to be a little more playful and a little less wordy:
**Current wording:**
- Play with solute amount and solution volume to explore changes to the concentration of different solutions.

**New wording:**
- Play with solution in beaker and observe changes to concentration.

In addition, please place this help text in it's own paragraph. It makes it harder to

[2019-06-18 17:08] terracoda opened #119 "Combine and change help text for Solution Controls"
I had a comment from a screen reader consultant that the help text for the solute amount and solution volume sliders was a bit repetitive.

**Please remove the current help text for each slider:**
- Explore how changing Solute Amount affects solution in beaker.
- Explore how changing Solution Volume affects solution in beaker.

**Please create a paragraph for one combined help text** for all the S

[2019-06-18 17:16] terracoda opened #120 "Change help text for Solute combobox"
Related to #118, #119, please also change the help text for the Solute combobox interaction.

**Current help text:**
- Choose one of nine solutes to play with in beaker.

**Change to:**
- Choose a different solute for beaker.

Because, we mention the nine solutes in the opening screen summary and the solute items are numbered naturally (1 of 9, 2 of 9, etc.) when the combobox's listbox is opened,

[2019-06-18 18:54] Matthew-phet commented on #118
looks good to me! assigning to @twant

[2019-06-18 18:55] Matthew-phet commented on #119
looks good to me! assigning to @twant

[2019-06-18 18:55] Matthew-phet commented on #120
looks good to me! assigning to @twant

[2019-06-18 19:44] terracoda opened #121 "Changes to Beaker description in Play Area"
Based on our discussion in #109, in the design doc and in meetings, we are changing the phrases that make up the Beaker's dynamic description in the Play Area.

In the design doc, there are 4 [Drink Mix examples](https://docs.google.com/document/d/1Z_5biEOBk9W4lVPXxGt7fyg-V6_CwTA4vMZ0mVMTJsI/edit#heading=h.1qoluoqfetd) and 4 [Potassium Permanganate examples](https://docs.google.com/document/d/1Z_5

[2019-06-18 20:05] terracoda commented on #121
The dynamic state description for the Beaker is housed in a paragraph and a dynamic list. I think the basic structure is already in place, but there are changes to number of items and where the details go.

Drink Mix is a bit of an edge case as it never saturates and does not have a chemical formula. This items are left out of the list for Drink Mix.

## Drink Mix
### Sim startup values
**Values N

[2019-06-18 20:29] terracoda commented on #121
## Potassium Permanganate examples
### Sim start-up values (just changed solute)
**Values NOT checked (qual. values)**
Beaker {{is half full of}} {{a potassium permanganate}} solution. The {{purple}} solution:
- contains {{some}} {{potassium permanganate}}
- {{is saturated with a few solids}}
- {{has max concentration}}
- chemical formula of {{potassium permanganate}} is {{KMnO4}}
- concentration

[2019-06-18 20:42] terracoda commented on #121
@Matthew-phet, in the beaker description in the Play Area, I actually left off the saturation/solids description if the solution is not saturated. Do you think that's ok? It might be nice to use a more explicit short description in the screen summary, and less explicit one here, and see how it goes.

**What do you think?**

Let me know if I need to update the examples. If all is good as is, please

[2019-06-18 20:45] terracoda commented on #109
This issue will be handled in in #121 , and #115, #116, #117.
So closing.

[2019-06-18 20:45] #109 closed

[2019-06-18 21:44] twant opened #122 "State of sim missing an "of""
State of sim pdom paragraph says: "Currently, beaker has ___ moles drink mix..."

and should say:
"Currently, beaker has ___ moles of drink mix ..."

[2019-06-19 09:28] terracoda opened #123 "Changes to Beaker description in screen summary (dynamic state of sim)"
After reviewing the dynamic state-of-sim in screen summary, I had three concerns. @Matthew-phet, @emily-phet and I discussed these concerns and possible solution in June 18th's design meeting.

I will list out the phrase changes here. The dynamic parameters should be the same as the ones defined in #115, #116 and #117.

The concerns were:
1. Repeat solute name, no mention of color. Decision: repla

[2019-06-19 12:30] terracoda commented on #123
@Matthew-phet, can you review and discuss with @twant. I examples in the design doc, but I haven't copied all that information here. The only example not shown above is a saturated examples. Here's one Potassium Permanganate:

**Change should result in:**
a. Currently, beaker {{is over half full}} of {{a purple solution}} containing {{max amount of}} {{potassium permanganate}} solute. Solution {{{

[2019-06-19 15:48] terracoda commented on #122
@twant, this might be covered in #123.
You, of course, can arrange the phrases and their parameters as you see best programmatically. I put {{curly brackets}} around the things that I felt were sub-strings containing parameters. The brackets are just a guide at this point.

I hope all is clear in #123 :-)

[2019-06-19 15:58] Matthew-phet commented on #121
@terracoda yeah that seems like a good idea to me, if you want to update then let me know so i can move it on up the ladder

[2019-06-19 16:50] terracoda commented on #121
@Matthew-phet, just for clarity, I am leaving as-is, which is what I think you prefer:
- "is/is not saturated" is described explicitly in summary with only "is saturated" described in Play Area.

In this case, there is no need to update the examples.

[2019-06-19 16:50] terracoda commented on #121
@Matthew-phet, back to you to review with @twant.

[2019-06-21 20:31] twant commented on #117
@Matthew-phet what numerical values would you like assigned to these descriptions?

[2019-06-24 00:42] ariel-phet opened #124 "New Responsible dev"
@pixelzoom is fairly overloaded with sims for which he is responsible dev, this sim is now getting lots of work and he has requested a new responsible dev be identified.

@twant I think you will be a natural choice if the time comes that you are with the project full time, but for the moment I think @zepumph or @jbphet we be the appropriate person.

If either @zepumph or @jbphet wishes to voluntee

[2019-06-24 11:52] terracoda commented on #117
@Matthew-phet, my understanding is that concentration varies for each solute.
Would the following make sense:
-Make "has max concentration" the value of the solute's saturation point (and anything beyond it)
- Make "has zero concentration" a single value when there is no solute
- Make the rest of the old descriptions map directly over to the remaining new descriptions like so:
  - {{very concentra

[2019-06-25 15:13] Matthew-phet commented on #117
Yup! that was my understanding as well.

[2019-06-25 15:18] terracoda commented on #123
This issue is all yours, @twant. Let us know if you have questions.

[2019-06-25 17:45] jbphet opened #125 "How should the code figure out why the precipitate amount changed?"
Issue https://github.com/phetsims/molarity/issues/110 is about adding sound to the molarity sim.  In the process of doing this, I came across a case where I needed to know not only that a property value had changed, but also some information about **why** it was changing.  This came up when implementing sound generation for the precipitate level.  In general, sound should be produced when the prec

[2019-06-25 18:46] zepumph commented on #124
I am happy to take this on. I have been in the sim recently because of PhET-iO (about a year ago), and a11y stuff with @twant this spring. @jbphet I see you have twice as many sims you are responsible for than I. That said let me know if you want this one.

[2019-06-25 18:46] #124 closed

[2019-06-26 17:42] jbphet commented on #124
Thanks @zepumph - I appreciate it.

[2019-06-27 07:45] terracoda opened #126 "Combobox - not keyboard accessible in Firefox"
As commented in https://github.com/phetsims/phet-io-wrapper-sonification/issues/82#issuecomment-505730844 this version of Molarity (https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.14/phet/molarity_en_phet.html) has some issues with the combobox.

Awe, it seems that it is a Firefox issue. I am losing focus on the combobox when using Firefox (no screen reader).
The sim seems to work fine with

[2019-06-27 07:47] terracoda commented on #126
@jbphet, I am tagging @twant, too, as this issue is not specifically on the sonified version as I had originally thought. It is something to do with Firefox and the arrow keys.

[2019-06-27 07:56] terracoda commented on #126
@jbphet and @twant, I also tested in Chrome (my Chrome has ChromeVox on by default) and there are no issues with the arrows and the Combobox using ChromeVox.

This indeed, seems like Firefox issue.

[2019-06-27 21:10] jessegreenberg commented on #126
Assigning to myself since this seems like a keyboard navigation issue. I am not seeing any issues when I run the sim with Firefox in Windows 10, I will try on a macOS machine soon.

[2019-06-28 22:02] jbphet commented on #110
I've added most of the sounds for this, and it's time for @Ashton-Morris to take it for a test drive and let me know what should be changed about the mix.  The volume settings are pretty distributed in the code, so @Ashton-Morris - I think it would be best if you just provided me with written feedback about what should go up and down and by how much in this GitHub issue and then I'll do the best I

[2019-07-01 21:35] terracoda commented on #107
@twant, @zepumph, and @jessegreenberg, I agree that it would be wonderful to automate sentence capitalization and final periods. I think the most efficient way to do this is with regular expressions (this topic has come up before, and more than once).

**Please keep in mind the following:**
- we often do NOT use "standard" complete sentences, leaving out "the's" and "is's" (and other small words)

[2019-07-01 23:11] terracoda commented on #107
Also, for this sim, I think we should get the new scales in and the new phrases in before we try to address this issue.

[2019-07-02 10:48] terracoda commented on #117
@twant, do you have any further questions on the Concentration Levels? I did not see the new concentration levels implemented on Master when I tested the sim today. Here are a couple of screen shots:
<img width="930" alt="concentration-level-screen-summary-play-area" src="https://user-images.githubusercontent.com/1902116/60506737-cb503600-9cc6-11e9-9320-53be0450b15d.png">

<img width="932" alt="Sc

[2019-07-02 10:51] terracoda commented on #117
Also, there is special wording for when there is "no solute" and solution is actually "pure water".

[2019-07-02 10:56] terracoda commented on #117
@twant, apologies, the screen summary wording including special cases is covered in #123. We can just stick to implementation of "concentration levels" in this issue.

[2019-07-02 11:57] terracoda commented on #121
@twant, nice work so far, and still a little more to do.
I found some inconsistencies between what's mentioned in the issue comments above and what's been implemented. Here are some screenshots to help iron things out.

I'll show these to @Matthew-phet today in our meeting and then hopefully you two can do the final implementation and verification of final changes.

I hope these screenshots are he

[2019-07-02 12:11] terracoda commented on #121
Ooops, forgot the zero-solute case...
**Zero drink mix solute - no values**
<img width="812" alt="zero-solute-pure-water-no-values" src="https://user-images.githubusercontent.com/1902116/60511783-153f1900-9cd3-11e9-9064-a946db0c9141.png">
**Zero drink mix solute - with values checked**
<img width="809" alt="zero-solute-values" src="https://user-images.githubusercontent.com/1902116/60511792-196b368

[2019-07-02 12:12] terracoda commented on #121
@Matthew-phet, we need to verify "mol of" or "moles of". I see used inconsistent strings when I posted this initial issue comments.

[2019-07-02 12:22] terracoda commented on #113
Thanks @twant, looks great to me. @Matthew-phet, I am going to close this one for you.
<img width="293" alt="new-static-sceen-summary" src="https://user-images.githubusercontent.com/1902116/60512366-ad89cd80-9cd4-11e9-954d-01eeec88af04.png">
. @Matthew-phet

[2019-07-02 12:22] #113 closed

[2019-07-02 12:25] terracoda commented on #120
@Matthew-phet, I just verified the change. It looks good. Thanks @twant. Closing issue.

[2019-07-02 12:25] #120 closed

[2019-07-02 12:27] terracoda commented on #119
@Matthew-phet, I just verified this change. It looks good! Awesome work @twant! Thanks.

[2019-07-02 12:27] #119 closed

[2019-07-02 12:28] terracoda commented on #114
@Matthew-phet, this change looks and sounds really good to me.
Thanks @twant! Verified and closing.

[2019-07-02 12:28] #114 closed

[2019-07-02 12:31] terracoda commented on #118
@Matthew-phet this is implemented and looks and sounds good.
Thanks @twant! Verfied and closing.

[2019-07-02 12:31] #118 closed

[2019-07-02 12:35] terracoda commented on #123
@Matthew-phet, I just need to verify the wording for the unit for solute amount "moles, mol, mols???" at our meeting today and then you can assign back to @twant.

I was reviewing #121 and I noticed I made some in consistent uses of the unit for solute amount.

[2019-07-02 13:47] Ashton-Morris commented on #110
Overall it sounds very good. The change I would make is: Lower the precipitate by 30%

Also I am not getting a sound for when you close the combobox without choosing a new Solute.

And when I change the water level with no solute, it sounds like that sound is not going through the same reverb as all of the other sounds. That sound much more mono while all the other sounds sounds wider.

[2019-07-02 17:02] terracoda commented on #121
@twant, @Matthew-phet and I verified the proper unit for solute amount is "moles" and "moles of". I'll correct the places above where I made some mistakes.

[2019-07-02 17:17] terracoda commented on #121
@Matthew-phet and @twant , I updated the comments above with the new description for the lowest volume amount for the solution. @Matthew-phet like this suggested change in our design meeting today. I'll update #115, too, so things are consistent and clear.
- {{has lowest amount of}} **has been changed to**:
- {{is at lowest amount of}}

[2019-07-02 20:13] terracoda commented on #123
@twant, @Matthew-phet verified "moles" and "moles of" is correct. Please use these as needed.

[2019-07-02 20:15] terracoda commented on #123
@twant, I think this is safe to hand back over to you. Please ask questions if you have any.

[2019-07-02 20:38] terracoda commented on #121
I updated the examples above to use "{{is at lowest amount of}}".

Honestly, @Matthew-phet  and @twant, I think we could do without the "is" in both the Play Area Beaker description and the `aria-valuetext` for the solution volume slider, and possibly in the screen summary, too. You would need to verify in #123 for screen summary. Please do what you think is best.

### For example:
**Start of Beak

[2019-07-02 20:40] terracoda commented on #121
@Matthew-phet, I think this issue is ready for @twant, so re-assigning. Take it back if you need to. @twant, please reach out with questions if you have any.

[2019-07-02 20:44] terracoda commented on #116
@twant, I think these are clear just assigning back to you and removing meeting label.

[2019-07-02 20:47] terracoda commented on #116
Actually, sorry, I pointed out to @Matthew-phet in our meeting today that the current implementation doesn't result in a nice balanced keyboard experience (the number of steps for each range vary a lot).

@Matthew-phet, can you update this issue with the steps we discussed and re-assign to @twant.

[2019-07-02 20:49] terracoda commented on #116
See section 2. Key presses for sliders not balanced across ranges in the Agenda doc (https://docs.google.com/document/d/105AnA7Z-TbwIGTHyHQCxK-ZNc9LwfjsQx9UtmMBnTHc/edit#heading=h.7ygy7f7fi07m)

[2019-07-02 20:54] terracoda commented on #115
@Matthew-phet and I also discussed more balanced ranges in today's design meeting. @Matthew-phet, please share section **2. Key presses for sliders not balanced across ranges** in the [Agenda doc](https://docs.google.com/document/d/105AnA7Z-TbwIGTHyHQCxK-ZNc9LwfjsQx9UtmMBnTHc/edit#heading=h.7ygy7f7fi07m) with @twant.

Apologies that my original suggested ranges were not very balanced.

[2019-07-02 20:55] terracoda commented on #116
And apologies my original suggested ranges were not very balanced.

[2019-07-02 21:27] Matthew-phet opened #127 "Changes to “changed solute” alerts"
**Values Checked**

- **Unsaturated to unsaturated** (e.g., Drink mix to Potassium chromate):
   - “{{Yellow}} solution, concentration {{1.000 molar}}.”
- **Unsaturated to saturated** (e.g. Potassium chromate to Potassium permanganate):
   - “{{Purple}} solution, saturated with {{a few solids}}, concentration {{0.500 molar}}
- **Saturated to saturated** (Potassium permanganate to Potassium dichrom

[2019-07-02 22:23] Matthew-phet opened #128 "Key press balance for sliders"
**Solute Amount. slider**
-  key press at "no"					(1)
-  key presses at "a little"			(3)
-  key presses at "a low amount of"      	(3)
-  key presses at "some"				(6)
-  key presses at "a bunch of"			(3)
-  key presses at "a lot of"			(3)
-  key press at "max amount of"	        (1)

**Solution Volume slider**

-  key press at “full”				 (1)
-  key presses at “nearly full”		 (3)
-  key presses at

[2019-07-03 11:06] terracoda commented on #128
@Matthew-phet, I am going to clarify the above and change what you posted. I made an error in the agenda for the number of key presses for the solute slider (sorry).

The Solute Amount slider has 20 default steps (i.e., 21 default positions) at the default step-size of 0.050 moles.

The Solution Volume slider has 16 default steps (i.e., 17 default positions) at the default step-size of 0.050 liter

[2019-07-03 11:19] terracoda commented on #125
@jbphet, said

@jbphet, was this a decision made in the sound design meetings? I agree that this is a viable design option, but was wondering how things sounded if the precipitate sound was left in when a solute change causes a saturation change, from an unsaturated solution to a saturated solution.

The tinkle is quite pleasant and my be a good cue about saturation.

We will not be describing - "

[2019-07-03 12:01] terracoda opened #129 "Change Solute alert: legacy alert fires sometimes"
This incorrect legacy alert (circled in red in screenshot) might be resolved by work in #127.

I just wanted to document the issue here as I did see the alert pop up in testing master yesterday.

This alert seems to pop up in a few places, especially before a solute change results in a saturated solution.

Testing from master (phetmarks). It pops up now when:
- the solute amount is zero, and you c

[2019-07-03 12:04] terracoda commented on #129
@twant, as I said this bug might be resolved by work in #127, because as of yesterday there was no specific alert for when there was a change of solute with the solute amount at zero moles. #127 provides those missing alerts.

Let me or @Matthew-phet know if you have any questions.

[2019-07-03 15:01] terracoda commented on #116
Key presses are being handled in #128

[2019-07-03 15:04] terracoda commented on #115
@twant, check #128 for more details about the ranges and key presses. Apologies for multiple issues.

[2019-07-04 11:51] terracoda commented on #116
@twant, can you add labels "status: ready-to-review" when you have all the scales implemented?

[2019-07-05 17:18] jbphet commented on #125
Yes, and it is the behavior of the [sound design prototype](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.114/phet-io-wrapper-sonification/molarity/html/molarity-sonification.html?sonificationFile=sonificationOptions&accessibility&precipitateSound=2) that is the basis for this implementation.  Having said that, it isn't set in stone by any means yet, so if you think it

[2019-07-05 20:44] jbphet commented on #126
I tested this on the PhET device "Jordan", MacOS version 10.13.6, Firefox version 67.0.3, and did not see the problem that @terracoda described.  I was able to navigate through the items in the combobox just fine using the arrow keys without any loss of focus.

[2019-07-05 20:45] jbphet commented on #126
@terracoda - can we get MacOS and Firefox versions for the configuration(s) where you saw this problem?

[2019-07-07 20:08] twant commented on #121
@terracoda thanks so much for your comments on this and many others -- apologies for the delay in responding to them! I'll be working on them this weekend and week to get everything revised, and will reach out with any questions.

[2019-07-08 01:13] twant commented on #121
@terracoda @Matthew-phet assigning back over to you for review. The only screenshot that I do not believe has been addressed will be addressed with the revised scale for solution volume.

[2019-07-08 01:29] twant commented on #123
@terracoda @Matthew-phet assigning back over to you for review

[2019-07-08 03:39] twant commented on #127
@terracoda @Matthew-phet this is mostly implemented. Just need to add the edge cases and fix capitalization. not assigning over to you yet, but feel free to take a look so far and let me know if you see any other improvements on this one.

[2019-07-08 18:00] terracoda commented on #121
@twant, this will probably be perfect once the new scales are implemented as well.

[2019-07-08 19:21] zepumph commented on #57
This issue seems too broad and in general outdated. @twant would you like to keep this open?

[2019-07-08 19:22] zepumph commented on #99
@twant please feel free to fill in dates and check boxes above as things are finished. Let me know if I can help at all.

[2019-07-08 19:25] zepumph commented on #100
@twant I feel like quite a bit has changed in the repo since May 24th, and @pixelzoom is no longer responsible dev. I think there are two good ways to proceed:
1. We can discuss this issue together the next time we pair, and review that way.
2. You can comment here on what you would like me to review, and we can do it async in this issue.

@pixelzoom please let us know if you still want to look at

[2019-07-08 19:25] zepumph commented on #106
Unassigning for now. Let me know if I can help more.

[2019-07-08 20:19] pixelzoom commented on #100
It's all yours!

[2019-07-08 20:20] jbphet commented on #110
I've done this, and I also fixed an issue where the sound was playing infrequently compared to the sound design prototype.  In the end, I also tweaked the volume a bit more to match the sound design prototype pretty closely.

@Ashton-Morris, @emily-phet, and I discussed this in the most recent sound design meeting, but I thought I'd record it here too so that we have a record of the information.

[2019-07-09 03:36] twant commented on #129
@terracoda just pushed some changes for #127 -- let me know if they also fix this bug!

[2019-07-09 08:00] terracoda commented on #126
Sure @jbphet
- Mac OS High Sierra 10.13.6
- FireFox Quantum 10.13.6

[2019-07-09 08:02] terracoda commented on #126
@jbphet , I just updated my previous comment, apologies for any confusion.

[2019-07-09 08:59] terracoda commented on #117
@twant, the description scale that describes concentration level will also be included in the alerts (i.e., context response) that fire for a newly chosen Solute (#127).

In the alerts, however, there is no verb. I just wanted to mention that as I am not sure how the wording in the larger phrases and the wording in the actual parameters are being managed.

[2019-07-09 09:01] terracoda commented on #127
@twant, the alerts (i.e., context responses) sound great.
I'd like to have another listen once the concentration levels from #117 are fully implemented.
Nice work!

[2019-07-09 09:38] terracoda commented on #121
@twant, when reviewing today, I noticed some extra "of"'s in the solute amount description (first list item). The amounts that need an "of" have two "of"'s, and the amounts that do not need an "of" have one. The extra "of"'s are not appearing in the Screen Summary, so please do the same thing in the Play Area description. In the A11y View you can see the following:
- max amount of of
- a lot of of

[2019-07-09 09:54] terracoda commented on #116
In https://github.com/phetsims/molarity/issues/121, I noticed extra "of", and just removed it https://github.com/phetsims/molarity/commit/c4843307401f31cecb7d443026096edc5581f3c2

Apologies, I forgot to make a commit comment!

[2019-07-09 09:56] terracoda commented on #121
@twant, I removed the extra "of" in my commit https://github.com/phetsims/molarity/commit/c4843307401f31cecb7d443026096edc5581f3c2 that I forgot to add a comment for, so sorry!

Looks like the extra "of" problem is resolved, though.

[2019-07-09 10:37] terracoda commented on #107
@twant and @zepumph, I think we should try removing capitalization on all the `aria-valuetext` phrases and parameters, i.e., the strings that show up in the values for the two sliders.

And then for the screen summary and Play Area beaker descriptions, there seems to be a single just capitalized "Is" in the second bullet that described saturation in the Play Area beaker description. If you remove

[2019-07-09 11:36] terracoda commented on #123
@twant, we are almost there for there for when values are mot checked (qualitative descriptions); however, the phrases still need updating for the quantitative version when Solution Values is checked.

**When Solution Values NOT checked**
- just remove "yet" from "is not yet saturated"

**When Solution Values checked**
- The new phrasing is not implemented. The requested saturation phrasing had sa

[2019-07-09 14:01] Ashton-Morris commented on #110
@jbphet I am getting a 404 error even when connected through the vpn. Can you verify that this link is working?

[2019-07-09 15:05] terracoda commented on #127
Please assign back to @Matthew-phet and @terracoda once the concentration levels (#117) are implmented.

[2019-07-09 15:08] terracoda commented on #127
@twant, apologies we should have put priorities in the issues, so  just marking as blocked until #117 is done. Please re-assign and re-label at that point.

[2019-07-09 15:10] terracoda commented on #121
Please assign back to us and re-label once new scales are fully implemented.

[2019-07-09 15:37] jbphet commented on #110
My bad - I had accidentally deployed the phet-io brand instead of the phet brand.  The link should be good now.

[2019-07-09 16:03] terracoda commented on #123
@twant, heads up, regarding my previous comment, @Matthew-phet and I discussed some phrasing that would keep solution and concentration descriptions in the same order in all cases (no vales, values, saturated, and not saturated) in the dynamic screen summary.

I'll put the examples in the next comment...

[2019-07-09 17:05] terracoda commented on #123
## Case 1: Sim startup (normal case)
### a. Values not checked:
**Actual Example from A11y View July 9th**

**Requested Adjustment (July 9th):**
**Phrase Formula Qualitative**
**Note:** @twant, I bolded **is** and **has** in some places as I think they might just be part of the parameter.
- Currently, beaker {{**is** volumeProperty}} of a {{colorProperty}} solution containing {{soluteAmountPropert

[2019-07-09 17:27] terracoda commented on #123
@twant, in the previous comment you find the changes that put the saturation and concentration descriptions in the same order for all cases, AND you find a slightly improved phrase for CASE 2 (zero solute).

I hope it is clear. Assigning back to you. You and @Matthew-phet can discuss at you meeting today.

[2019-07-09 17:46] terracoda commented on #122
@twant, I think I cleaned up the brackets in to something more logical in https://github.com/phetsims/molarity/issues/123#issuecomment-509726059, hopefully this helps.

[2019-07-10 08:17] terracoda commented on #129
@twant, the combobox is now not working with the keyboard?? I can't navigate with the arrow keys through the list. I'll open an issue for that.

However, that said, while I was testing yesterday, I did not see this bug in the A11y View, and using it now with the mouse I do not see the old alert.

I have a feeling it's fixed. I'll close for now and re-open if the alert pops-up in later testing.

[2019-07-10 08:17] #129 closed

[2019-07-10 08:19] terracoda opened #130 "Combobox not keyboard accessible"
@twant, yesterday July 9th, the combobox was keyboard accessible, but today it is not. I can't move through the list of options with the arrow keys.

Please check, maybe related to changes made in #127 ?

[2019-07-10 21:02] jbphet commented on #110
The latest implementation of the sound was reviewed in the 7/9/2018 sound design meeting, and we've decided that it's good to go.  Assigning to @twant, and she is working on the publication of this sim with support from @zepumph.

[2019-07-10 22:23] jessegreenberg commented on #130
Sorry about that, this was caused by a change I made to scenery. I found this while looking into #126. Working again with the above commit, closing.

[2019-07-10 22:23] #130 closed

[2019-07-10 22:29] jessegreenberg commented on #126
I just tested macOS 10.14.5 with FF 67 with the dev version linked here and master and didn't see the reported problem.

@KatieWoe do you have access to macOS 10.13? If so, could you try to use the combobox at https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.14/phet/molarity_en_phet.html with a keyboard and let us know if it works?

[2019-07-10 22:38] KatieWoe commented on #126
It works if you use space, but not if you use enter.

[2019-07-10 23:12] jessegreenberg commented on #126
@KatieWoe and I talked over slack, notes in https://github.com/phetsims/molarity/issues/126#issuecomment-510256980 were from testing the checkbox rather than the combobox. When testing the combobox, @KatieWoe said

Same with 10.14.5

@KatieWoe can you please confirm that you were testing in Firefox?

[2019-07-11 14:37] KatieWoe commented on #126
@jessegreenberg yes I was

[2019-07-11 14:41] terracoda commented on #126
@terracoda, I am still having the same issue (loss of focus) when moving through the list on MacOS 10.13.6 and my Firefox just updated to Quantum 68.0 64-bit.

[2019-07-11 14:53] jessegreenberg commented on #126
OK, thanks @KatieWoe.

@terracoda since we aren't able to reproduce this issue anywhere else I think the next step will be to debug on your machine over a voice call to see if we can get any additional information about what is causing this.

[2019-07-12 14:45] jessegreenberg commented on #126
@terracoda and I investigated this today - as it turns out, there is an a11y setting within Firefox that allows you to navigate text content with arrow keys without even using a screen reader. That is why the arrow keys were making focus go away. With this setting, the problem happens for other items in the sim too. Focus is lost after pressing arrow keys if focus was on buttons or checkboxes.

Di

[2019-07-12 14:45] #126 closed

[2019-07-14 00:56] twant commented on #127
@terracoda @Matthew-phet assigning back over for review now that #117 has been implemented.

[2019-07-14 01:00] twant commented on #117
@terracoda @Matthew-phet thanks for your patience with this one! assigning back over to you.

[2019-07-14 01:03] twant commented on #115
@terracoda and @Matthew-phet am I right in thinking that the only remaining change for this one is the key press balancing from #128? If so, okay with you if I close this one so we consolidate to one issue?

[2019-07-14 02:15] twant commented on #122
I think you're right that this is covered, @terracoda. Closing this one!

[2019-07-14 02:15] #122 closed

[2019-07-16 23:28] zepumph opened #131 "Add accessibility to the sim constructor."
I think we are at the point where we can turn Molarity on by default on sim startup. This involves passing the `accessibility` boolean option into the `Sim` constructor in molarity-main. @twant give it a go, and let me know how it does.

[2019-07-23 07:39] terracoda commented on #117
<img width="856" alt="Screen Shot 2019-07-23 at 9 14 11 AM" src="https://user-images.githubusercontent.com/1902116/61691286-80589a00-ad2b-11e9-8fad-94c025f4bf04.png">

**With Solution Values checked, the concentration is actually 1.000 molar**
<img width="842" alt="Screen Shot 2019-07-23 at 9 16 11 AM" src="https://user-images.githubusercontent.com/1902116/61691346-a41be000-ad2b-11e9-8dd7-4b4fe712

[2019-07-23 08:21] terracoda commented on #117
I see, it looks like the correct described concentration scale is implemented. All descriptions show up for potassium permangenate.
<img width="670" alt="Screen Shot 2019-07-23 at 9 45 36 AM" src="https://user-images.githubusercontent.com/1902116/61692919-df6bde00-ad2e-11e9-9e05-407fde8d6f7c.png">

For some solutes, however, the ranges are wider and there is a range implemented for "zero concentra

[2019-07-23 08:23] terracoda commented on #117
@twant, I have reviewed.
The concentration levels are in, but the ranges and corresponding alerts need some work.
Is the issue clearly described above?

Assigning back to you, let me know if you have questions.

[2019-07-23 08:32] terracoda commented on #128
@twant, the key presses are good. Closing.

[2019-07-23 08:32] #128 closed

[2019-07-23 08:37] terracoda commented on #115
Descriptions and ranges seem good. Thanks @twant. Closing.

[2019-07-23 08:37] #115 closed

[2019-07-23 09:11] terracoda commented on #116
@twant, the Solute description scale, ranges, and key presses seem good to me.
As notes in #117, there are issues with the concentrations levels.

Closing this issue.

[2019-07-23 09:12] #116 closed

[2019-07-23 09:14] terracoda commented on #115
Just adding that Solution Volume description scale, ranges, and key presses look good. Issues for corresponding concentration levels are mentioned in #117, and will be dealt with there.

[2019-07-23 09:42] terracoda commented on #121
@twant, I think we are almost there. I'll add some screenshots.

[2019-07-23 11:07] terracoda commented on #121
@twant, these are the issues, I am noticing today during my testing:
1. in the concentration readout range, 0.0 should be 0. Apologies for being inconsistent in my examples at the start. Note that 5.0 is correct.
2. "has zero concentration" is showing often when the concentration is not actually at zero. Please make sure that "has zero concentration" only appears when there is no solute. Once ther

[2019-07-23 11:26] terracoda commented on #121
@twant, in addtion to the three issues above:
4. with Solution Values checked, we are missing "of", after "moles". Apologies, if I was the one who messed it up. I know I removed an "of" in a previous commit. In fact, this bullet sounds fine without an "of", so if it's easier to leave it off with Solution Values checked, that's okay with me.
<img width="653" alt="Screen Shot 2019-07-23 at 1 16 37 P

[2019-07-23 12:22] terracoda commented on #121
@twant, I think the main issue is issue is item 2, the range for "has zero concentration" has to be change to a single value, as I mentioned in #117.

@Matthew-phet, could you verify what values you want for solute amount and concentration level for item 5 - qualitative descriptions or quantitative values when solutions?

Assigning back over to you folks.

[2019-07-23 12:57] terracoda commented on #123
@twant, looks like Case 1b, Case 2a and 2b are implemented correctly, but Case 1a is not.

Could you review examples provided for Case 1a in https://github.com/phetsims/molarity/issues/123#issuecomment-509726059, and compare to your implementation. Saturation should come before concentration.

 This is what I see today for Case 1a:
**Unsaturated Solution**
<img width="634" alt="Screen Shot 2019-07

[2019-07-23 12:59] terracoda commented on #123
@twant, I reviewed, so assigning back to you. We are almost there! Just one more correction.

[2019-07-23 13:23] terracoda commented on #127
@twant, I made some comments in #117 that might be relevant to this issue.

[2019-07-23 13:59] terracoda commented on #127
Here are some issues with the alerts:
**Solution Values Checked:**
<img width="307" alt="Screen Shot 2019-07-23 at 3 44 52 PM" src="https://user-images.githubusercontent.com/1902116/61717671-d0525380-ad61-11e9-8ece-e7962a741477.png">

**Solution Values not checked:**
The wording of the alerts look good as long as the qualitative concentration level is correct.
<img width="307" alt="Screen Shot 201

[2019-07-23 14:01] terracoda commented on #127
@twant, I just want to re-check concentration levels.

[2019-07-23 14:02] terracoda commented on #127
I'll check the edge case next...

[2019-07-23 15:27] terracoda commented on #121
Wrong screen shot for item 5. I will replace. it.

[2019-07-23 15:30] terracoda commented on #121
<img width="725" alt="Screen Shot 2019-07-23 at 5 29 32 PM" src="https://user-images.githubusercontent.com/1902116/61725155-8cfee180-ad6f-11e9-8056-32196ddb5ff3.png">

[2019-07-23 15:31] terracoda commented on #121
@twant, could you make the value for concentration quantitative, please.

[2019-07-23 15:48] terracoda commented on #108
@twant could you say explicitly what focus alerts you are trying to phase out? A lot of iteration has occurred and @Matthew-phet and @terracoda are not sure what focus alerts you are referring to?

[2019-07-23 16:21] terracoda commented on #121
@twant, apologies for my confusion here. @Matthew-phet and i discussed this, and we would like the description of concentration to be quantitative (like in the example at the beginning) when Solution Values are checked.

[2019-07-23 16:37] terracoda commented on #127
@twant, in the edge case (Solution Values checked) I made a mistake in the example I provided. It's supposed to say moles, not molar! Apologies.

The alert should cue users to go play with the Solute Amount slider.
In the Solution Values not checked we say, "Clear solution, pure water with no solute."
So with Solution Values checked we should say, "Clear solution, pure water at 0.000 moles."

Thou

[2019-07-23 22:25] twant commented on #121
Bullet about concentration for no solute case:
Qual: "has no solute."
Quan: "has zero moles of solute."

[2019-07-23 22:33] twant commented on #108
@zepumph @terracoda:

@Matthew-phet and I decided to phase out the aria value text that initially shows up when a slider is focused. Previously, the first time a slider was focused the aria value text was "0.600 liters in beaker" and then when the slider was moved, the aria value text would change to the shorter "0.650 liters." @Matthew-phet recommended removing the initial aria value text (and th

[2019-07-23 22:33] Matthew-phet opened #132 "Aria-valuetext for sliders do not update when Solution Values checkbox is checked/unchecked"
Aria value text for sliders do not update immediately when checked box is checked/unchecked, the sliders have to be refocused on for them to update, which leads to a weird mismatch of qualitative and quantitative aria value text.
![image](https://user-images.githubusercontent.com/48224214/61752031-2eca0280-ad5f-11e9-92f3-382d603200ca.png)

[2019-07-23 22:37] terracoda commented on #108
@twant, that's perfect.
In GFLB, I also had to adjust all my "special on-focus" aria-valuetext values due to the lack of focus events in iOS.

I think not relying on focus events actually made the design better.
I think it is ok to close this issue.

[2019-07-23 22:37] #108 closed

[2019-07-23 22:39] terracoda commented on #132
@Matthew-phet, thanks for posting. I'll add another screen shot that includes the visuals:

<img width="756" alt="Screen Shot 2019-07-23 at 5 56 31 PM" src="https://user-images.githubusercontent.com/1902116/61752308-7d04f300-adab-11e9-951f-45746b8d3be7.png">

[2019-07-23 22:47] terracoda opened #133 "Repeated name on Solution Values check box"
@twant, I am not sure why "Solution Values" is said twice when focus in placed on the checkbox. Could you investigate?
<img width="856" alt="Screen Shot 2019-07-23 at 5 46 24 PM" src="https://user-images.githubusercontent.com/1902116/61752401-c6554280-adab-11e9-9c14-36281bfb0683.png">

You have the `label` element after the` input`, and I am wondering if that is the only difference between this ch

[2019-07-23 22:50] terracoda commented on #133
This is not a new issue. It has been happening for a long time. Apologies for not posting earlier.

[2019-07-24 08:26] terracoda commented on #127
@twant, I didn't mention capitalization, as I just want to get words right first. In alerts, however, I find it is safe to use proper sentence capitalization and punctuation. If all `aria-valuetext` parameters are delivered in lower case, and these parameters do not actually start alert phrases then we have fewer places to worry about in terms of getting capitalization right in alerts.

Anyways, i

[2019-07-24 11:11] terracoda commented on #121
@twant, to summarize the remaining 5 minor items for this issue are:
1. in concentration readout range "0.0" should be "0"
2. the zero-level of concentration "has zero concentration" needs to be restricted to 0.000 molar, or 0.000 moles of solute. It has to have a single value range.
3. no capitalization on saturation line item
4. no "of" in "of moles" (OPTIONAL)
5. with values checked, want quant

[2019-07-24 11:31] terracoda commented on #132
@zepumph, did you do anything useful in GFLB that would be relevant to this issue? I know you linked the two move-sphere sliders, but I'm not sure that would generalizable to this case?

[2019-07-24 11:41] terracoda commented on #125
@jbphet, @emily-phet and I discussed this issue and I agree with the approach that the precipitate sound should not play on a solute change that causes a saturation change.

[2019-07-24 11:42] terracoda commented on #125
@jbphet, is there anything else needed from me?

[2019-07-24 11:52] terracoda commented on #125
@jbphet, FYI, there is something in the sim code that watches for changes to the precipitate to update descriptions of how much "solids" are present. Would this be relevant for this issue? We have a scale for describing the amount of solids and we announce when solids appear and disappear, and when the amount changes (e.g., "more solids" or "less solids) when the sliders are increased or decreased

[2019-07-29 11:44] terracoda opened #134 "What is the descriptive context response with Solution Values checked, and Solution Volume changes while the Solute Amount is zero?"
The concentration is not changing, so this is not the correct response.
<img width="715" alt="Screen Shot 2019-07-29 at 1 27 46 PM" src="https://user-images.githubusercontent.com/1902116/62045789-91f7e100-b206-11e9-8dc6-2255cd17c878.png">

@Matthew-phet, could you verify the correct response for this scenario when Solution Values is checked, the Solute Amount is zero and the user changes the Solut

[2019-07-29 12:09] terracoda commented on #117
@twant and @Matthew-phet, I also just added  #134 which is somewhat related.

[2019-08-03 23:11] twant commented on #117
@terracoda @Matthew-phet pushed changes to concentration scale to master. assigning back over to you and will send a dev version tonight once a few more issues have been addressed!

[2019-08-03 23:18] twant commented on #121
@terracoda @Matthew-phet pushed to master, will be in tonight's dev version for review.

[2019-08-03 23:38] twant commented on #123
@terracoda @Matthew-phet pushed to master and will be in tonight's dev version. Assigning back over to you for review!

[2019-08-04 00:36] twant commented on #127
@terracoda @Matthew-phet pushed changes to both wording and capitalization -- will be in the dev version tonight. Assigning back over to you for review!

[2019-08-04 00:40] twant commented on #131
@zepumph I think I've done this successfully (when I preview in require.js mode without an a11y query parameter I am able to access the descriptions with a screen reader!). I do notice that the descriptions are read so loudly that they tend to drown out the sound effects. Have you noticed this with other sims?

[2019-08-04 04:51] twant commented on #133
@terracoda I've been trying to recreate this issue, but haven't been able to -- is there a particular way I should be trying to use my screenreader to get this issue? Thanks!

[2019-08-04 05:26] twant commented on #112
Files reviewed so far:

- [ ] MolarityAlertManager

[2019-08-04 06:34] twant opened #135 "Need to remove .toLowerCase in SoluteDescriber"
Substitute with array:
[code]

[2019-08-05 17:19] terracoda commented on #133
@twant, to reproduce, just tab to the checkbox.
However, I have to apologize for opening this issue...I could have sworn I was not hearing this label duplication in GFLB.

I am now hearing the duplication there, too. See screenshot below.
<img width="616" alt="Screen Shot 2019-08-05 at 10 01 31 AM" src="https://user-images.githubusercontent.com/1902116/62481853-7477c980-b768-11e9-89e1-4fcb247f8cc8

[2019-08-05 17:19] #133 closed

[2019-08-05 18:24] terracoda commented on #117
@twant, with Solution Values not checked, I still see "Solution no longer saturated. Solution **has max concentration**, solids dissolve." in the alert for:
- orange solution, Potassium dichromate

All other solutions seem to have the correct alert, which I believe to be:
- "Solution no longer saturated. Solution **is highly concentrated**, solids dissolve." when saturation is lost.

There might b

[2019-08-05 18:26] terracoda commented on #117
Forgot screenshot from master, here you go:
<img width="674" alt="Screen Shot 2019-08-05 at 11 10 26 AM" src="https://user-images.githubusercontent.com/1902116/62486355-e6a1db80-b773-11e9-933c-907574e60132.png">

[2019-08-05 18:29] terracoda commented on #117
I repeat, this seems to only happen with Potassium dichromate. Working nicely for all other solutions.

[2019-08-05 19:30] terracoda commented on #133
This issue, if resolvable, should be resolved generally, see also https://github.com/phetsims/inverse-square-law-common/issues/74#issuecomment-509356105

[2019-08-06 14:58] KatieWoe opened #136 "CT api mismatches present"
[code]

[2019-08-06 16:28] Matthew-phet commented on #134
@twant can you add option 2 for this scenario

[2019-08-06 20:08] zepumph commented on #136
This was caused by https://github.com/phetsims/molarity/issues/131. @twant it may be good to add a phet-io test to your pre-commit tests. I recommend either "studio" or "Standalone" from phetmarks. The above "api mismatches present" error can be solved by running `grunt update`. I'm happy to discuss further at our meeting. Over to you to review.

[2019-08-07 00:30] twant opened #137 "Remove trailing and leading whitespace in A11y strings"
Per https://github.com/phetsims/rosetta/issues/193#issuecomment-518865992, strings with trailing or leading whitespace should be trimmed and the whitespace should be placed into larger patterns.

[2019-08-07 01:55] zepumph commented on #132
@twant I believe this is the issue we discussed this afternoon. In general I think that https://github.com/phetsims/molarity/commit/b0c89d2d8a6a979c959ebae855e94ff176067299 is a hack, and should not be implemented. Ideally AccessibleValueHandler should be the only thing directly setting aria-valuetext. The main reason for that is that I would hate for overwrite conditions or convoluted Property de

[2019-08-08 18:33] zepumph commented on #136
@twant  feel free to close. I just wanted to explain this (which we largely did last meeting). Let me know if you need anything else.

[2019-08-08 18:34] zepumph opened #138 "CT: false is not a function"
Looks like there is one assert that isn't guarded with `assert &&` so on build, when `assert` is set to `false` instead of the assert function, then we get this failure.

[2019-08-08 18:35] zepumph commented on #138
@twant over to you to review and close.

[2019-08-08 23:27] emily-phet commented on #117
@terracoda It's hard to tell what's happening here without knowing the exact value you're at. When I use the sim, (dev 22) I can't find this same readout. Can you reproduce and then use the show values checkbox to show exactly what value you're at?

[2019-08-08 23:28] emily-phet commented on #117
@terracoda If you don't want or are unable to spend time on this soon, we can discuss together on Tuesday.

[2019-08-08 23:37] terracoda commented on #117
@emily-phet, sure, that makes sense as I think it might be a rounding error.

[2019-08-08 23:51] terracoda commented on #117
It only happens when Solute Amount is 0.500 moles and Solution Volume is 1.000 litres.
<img width="449" alt="Screen Shot 2019-08-08 at 4 44 29 PM" src="https://user-images.githubusercontent.com/1902116/62744642-588c5600-b9fc-11e9-9000-b17c1b1736af.png">

@emily-phet, is the alert content accurate? The solution's concentration is 0.500 Molar.

[2019-08-08 23:56] terracoda commented on #117
I thought if the solution was no longer saturated, the alert would have to be:
"Solution no longer saturated. Solution highly concentrated, solids dissolve."

However, since it is actually at the saturation point, maybe the alert is correct.

[2019-08-09 00:15] terracoda commented on #117
@emily-phet, this is actually a very nuanced situation, as a content expert would you describe the saturation point as, "Solution no longer saturated. Solution has max concentration, solids dissolve."

In my non-expert understanding, the solution is actually saturated, but not yet "beyond max concentration".

Perhaps a more accurate alert for the rare occurrence of reaching the exact saturation po

[2019-08-09 00:39] Matthew-phet commented on #117
@terracoda I think its only considered saturated if the sim itself says that its saturated

[2019-08-09 14:10] terracoda commented on #121
@twant, I still get "has zero concentration" when the Solute Amount is 0.001 and concentration readout is 0.005 molar.

[2019-08-09 16:07] terracoda commented on #117
@Matthew-phet, sorry, my question is, what should the alert be when the solution actually hits the exact saturation point, i.e. the solution "has max concentration" and there are no solids.

I think we have a good alerts for landing past the saturation point or landing below the saturation point.

What's the best/most accurate way to describe hitting the exact saturation point?

Do you think, "Sol

[2019-08-09 16:15] terracoda commented on #117
@Matthew-phet and @emily-phet, I think I have clarified the question I am asking. I'm adding the meeting label, so we are sure to discuss this on Tuesday.

[2019-08-09 17:51] terracoda commented on #123
@twant and @Matthew-phet, looks like Case 1a, with Solution Values not checked is perfect. And for Case 1a, Solution Values checked, we are just missing the final period. I took screen shots to demonstrate.

**Solution Values not checked**
<img width="686" alt="case_1a_dm_values_hidden" src="https://user-images.githubusercontent.com/1902116/62798442-1e21c800-ba93-11e9-9c34-27396781e853.png">
<img

[2019-08-09 18:44] terracoda commented on #121
**Adding screen shots for visual understanding:**
<img width="805" alt="PA_Beaker_pp_values_checked" src="https://user-images.githubusercontent.com/1902116/62801220-1d406480-ba9a-11e9-995a-c6017847113c.png">
<img width="792" alt="PA_Beaker_pp_values_hidden" src="https://user-images.githubusercontent.com/1902116/62801222-1e719180-ba9a-11e9-8ef6-b3a73c41fed6.png">

To clarify this issue, I think the

[2019-08-09 19:02] terracoda commented on #127
I am marking this issue for our Tuesday design meeting. There are still some issues. I'll try to get them documented before Tuesday.

[2019-08-09 19:05] terracoda commented on #127
I still need to examine the screen shots more carefully and explore edge cases, but I think we are getting qualitative descriptions in the quantitative alerts in some cases which might be incorrect.
<img width="273" alt="127_values_checked_issues_remain" src="https://user-images.githubusercontent.com/1902116/62802830-b8870900-ba9d-11e9-9e43-30b66789429a.png">
<img width="291" alt="127_values_hidde

[2019-08-09 19:09] terracoda commented on #127
@Matthew-phet, @twant, I will review this issue more before Tuesday, but I just ran out of time today.

Feel free to examine it yourselves, though.

[2019-08-11 19:19] twant commented on #138
Thanks for fixing @zepumph! Closing now.

[2019-08-11 19:19] #138 closed

[2019-08-11 19:19] twant commented on #136
Okay, thanks @zepumph, and thanks for explaining!

[2019-08-11 19:19] #136 closed

[2019-08-11 20:16] twant commented on #121
pushed an adjustment to master, @terracoda! Assigning back to you two.

[2019-08-11 20:22] twant commented on #134
@Matthew-phet absolutely. Currently for qualitative descriptions, the alert text is "No solute. Solution is pure water." Would you like me to change this one to "Zero solute. Solution is pure water" to match the quantitative alert text, or keep them different?

[2019-08-11 21:53] terracoda commented on #121
Looks good! I think you got it! I tested with the Shift modifier, and it seems to be working great.
<img width="859" alt="Screen Shot 2019-08-11 at 2 42 00 PM" src="https://user-images.githubusercontent.com/1902116/62839891-50bff200-bc46-11e9-8a66-d4bebc20af29.png">
<img width="869" alt="Screen Shot 2019-08-11 at 2 41 15 PM" src="https://user-images.githubusercontent.com/1902116/62839893-5289b580-

[2019-08-11 22:28] terracoda commented on #127
**Solution Values checked - quantitative experience**
Alerts have changed, but are still not quite right.
<img width="447" alt="Screen Shot 2019-08-11 at 3 05 18 PM" src="https://user-images.githubusercontent.com/1902116/62840123-50c1f100-bc4a-11e9-9332-2f3a87be35e5.png">

**Solution Values not checked - qualitative experience**
Alerts are still correct.
<img width="382" alt="Screen Shot 2019-08-1

[2019-08-11 22:30] terracoda commented on #127
We can discuss this on Tuesday if more discussion is needed.

[2019-08-11 22:40] terracoda commented on #134
@twant, we would like the qualitative alert (context response) to stay the same at:
- "No solute. Solution is pure water."
And the quantitative alert for the same situation (i.e., going to zero moles of solute) to be:
- "Zero solute. Solution is pure water."

[2019-08-13 15:11] #121 closed

[2019-08-13 18:52] twant commented on #123
@terracoda thanks for reviewing! I've added the period in and will push in a minute. Will prepare a dev release this evening for your review.

[2019-08-13 22:25] Matthew-phet commented on #117
Heres the link for the [agenda](https://docs.google.com/document/d/105AnA7Z-TbwIGTHyHQCxK-ZNc9LwfjsQx9UtmMBnTHc/edit#) it should have all the info needed.

[2019-08-14 23:35] terracoda commented on #117
@twant, my understanding is that you and @Matthew-phet discussed the changes documented at the top of [Molarity's Agenda doc](https://docs.google.com/document/d/105AnA7Z-TbwIGTHyHQCxK-ZNc9LwfjsQx9UtmMBnTHc/edit#)

After your meeting yesterday, I noticed 2 small issues:
1. Example 2c - no need to use "at"
2. Example 4c - need to use the word "Concentration" instead of "Solution"

Hope all is clear.

[2019-08-14 23:40] terracoda commented on #127
@Matthew-phet, we didn't get to this issue on Tuesday, but if you feel the examples in https://github.com/phetsims/molarity/issues/127#issuecomment-520266202 are correct, can you plesae assign to @twant and remove the meeting label?

Assigning to you for now.

[2019-08-15 18:10] terracoda commented on #123
@twant, I don't see the period on phetmarks after clearing caches. Are you sure you committed your changed?
The issue is when Solutions Values checked.
Please check again, verify and close issue when you get the period in there :-) Thanks!
<img width="901" alt="Screen Shot 2019-08-15 at 11 06 29 AM" src="https://user-images.githubusercontent.com/1902116/63115907-2ffce280-bf4d-11e9-93d4-0c54b32b287

[2019-08-15 18:11] terracoda commented on #123
@twant, I hope I am not missing something in my review process ;-)

[2019-08-16 16:28] terracoda commented on #123
@twant, I poked around in the code to see where the period would go, but didn't find it, so leaving this for you :-)

[2019-08-17 21:05] twant commented on #123
@terracoda apologies! I just checked and I had not pushed that commit after all. Just pushed it, and it should be fixed. now. Thanks for your patience with me!

[2019-08-17 21:06] twant commented on #123
@terracoda Agh now the period is on the wrong one. Give me another couple of minutes to check and fix! will assign back to you when it's done.

[2019-08-17 21:15] twant commented on #123
Okay, just pushed. Assigning back over to you!

[2019-08-17 21:16] twant commented on #132
Thanks for working through this with me, @zepumph! Assigning back over to you for review, @Matthew-phet and @terracoda!

[2019-08-17 22:03] twant commented on #117
Okay, I think I've gotten to the bottom of this one and pushed to master. Assigning over to you for review, @Matthew-phet and @terracoda! I have one more issue to finish and then I'll create a dev version as well.

[2019-08-18 04:33] twant commented on #134
Added these in! Assigning back over for review

[2019-08-18 04:35] #131 closed

[2019-08-18 21:08] terracoda commented on #123
@twant, okay, I didn't see the period at first, but after I actually got all your changes and removed the one I made, it looks like we are good!
I also commented on my last commit here which removes the period I added.
https://github.com/phetsims/molarity/commit/d986050c36cf6adbf6b6ea5822c3156ad5232624

Thanks. I think I will close this issue finally.

[2019-08-18 21:09] #123 closed

[2019-08-18 21:24] terracoda commented on #132
Awesome work @twant and @zepumph. Looks good on my end. Closing.

[2019-08-18 21:24] #132 closed

[2019-08-18 21:28] terracoda commented on #134
Awesome @twant. Looks good in both cases Solution Values Checked and Solution Values not checked. Closing.

[2019-08-18 21:28] #134 closed

[2019-08-18 21:36] terracoda commented on #117
@Matthew-phet, I am leaving this one for you to verify. Unassigning myself for now.

[2019-08-18 23:55] twant commented on #106
I think these review comments have been addressed, and we've been over the alert manager several times since then. I'm going to close this for now.

[2019-08-18 23:55] #106 closed

[2019-08-19 00:31] twant commented on #127
Ok, I've updated this one! Assigning back over

[2019-08-20 23:37] twant opened #139 "PhET-iO memory test"

[2019-08-20 23:41] twant opened #140 "QA & Team Credits"
From #112

[2019-08-26 17:43] twant opened #141 "Help with assertions?"
@zepumph as I'm working through my self review, I am working on this item:

- [ ] Assertions should be used appropriately and consistently. Type checking should not just be done in code comments. Use Array.isArray to type check an array.

I'm not sure of all of the times when it's appropriate/necessary to use an assertion. I'm wondering if you can review one of the describers (maybe ConcentrationD

[2019-08-29 23:45] twant opened #142 "Changed original string key -- how to handle?"
@jbphet, I made a change to the "show values checkbox" string key a while ago because we changed the name to be "solution values checkbox" instead. However, @zepumph pointed out that this will be a problem for translation. How would you like me to handle this? Happy to revert back to the original string key, or implement any other changes you think are necessary for translation!

Additionally, I a